<div class="col-md-12">
  <h1 class="page-header">设置</h1>
  <div class="row">
    <%= form_tag shop_admin_settings_path(@shop.name),class: "form-horizontal",id: "admin-settings" do |f| %>
      <%= fields_for :setting, @settings do |f| %>
        <!-- 标题 -->
        <label  class="col-sm-2 control-label" >问候语</label>
        <div class="col-md-5 col-sm-10">
          <%= f.text_area :greetings, class: 'form-control', rows: 5, save_on_change: true %>
        </div>
        <div class="col-md-5 hidden-sm">
          <div class="well">
            <div class= "chat-item">
              <%= avatar_image_tag current_user.avatar_url, class: 'chat-item-avatar' %>
              <h4>
                <%= current_user.name %>
                <div class="format-time"></div>
              </h4>
              <p><%= Shop::GREETINGS.sample %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">问候语</h3>
    </div>
    <div class="panel-body">
    </div>
  </div>
   -->

   <!-- 选择主题 -->
  <h3 class="page-header">选择商店风格</h3>
  <div class="row choose-shop-theme">
    <% @theme_list.each do |theme| %>
      <div class="col-md-3 col-sm-4 col-xs-4">
        <% _active = @shop.theme == theme[:type] ? 'active' : '' %>
        <a class="thumbnail theme-btn <%= _active %>" data-theme="<%= theme[:type] %>">
          <%= image_tag image_path("#{theme[:type]}.jpg") %>
          <%= icon(:ok) %>
        </a>
        <div class="text-center theme-name"><%= theme[:name] %></div>
      </div>
    <% end %>
  </div>

  <section class="shop-poster">
    <h3 class="page-header">上传商店海报</h3>
    <div class="theme-clear-btn">恢复默认海报</div>
    <div id="poster-img-uploader-btn"></div>
    <div class="poster-wrap">
      <img src="<%= @shop.poster %>" id="shop-poster-img" alt="商店海报">
    </div>
  </section>

  <h3 class="page-header">商店名片</h3>
  <div class="row">
    <%= render partial: "shards/shop_card", object: @shop %>
  </div>

</div>

<script type="text/javascript">

  var SaveOnChange = window.SaveOnChange;
  var saveForm = new SaveOnChange($('#admin-settings'));

  (function () {
    var $element = $("#poster-img-uploader-btn")[0];
    var actionUrl = '<%= shop_admin_settings_path(@shop.name) %>' + '/upload_shop_poster';
    var token = $('meta[name=csrf-token]').attr('content');

    new qq.FileUploader({
      element: $element,
      customHeaders: { "X-CSRF-TOKEN": token },
      action:  actionUrl + "?authenticity_token=" + encodeURIComponent(token),
      uploadButtonText:'选择海报图片',
      multiple: false,
      onComplete: function (id, filename, responseJSON) {
        var url = responseJSON.url;
        $('.poster-wrap').html('<img src='+url+' id="shop-poster-img" alt="商店海报">');
      }
    });
  })();

  $('.theme-clear-btn').click(function(){
    var url = location.pathname + '/reset_shop_poster';
    $.ajax({
      url: url,
      type:'PUT',
      success: function(data){
        if (data.success) {
          $('.poster-wrap').html('<span>使用默认海报</span>');
        } else {
          console.log(data.msg);
          alert('操作失败')
        }
      }
    });
  });

  $('.theme-btn').click(function(){
    var target = $(this);
    if (target.hasClass('active'))  return;
    var theme = $(this).data('theme');
    var url = location.pathname + '/change_shop_theme';
    $.ajax({
      url: url,
      type:'PUT',
      data:{ theme: theme },
      success: function(data){
        if (data.success) {
          $('.theme-btn').removeClass('active');
          target.addClass('active');
        } else {
          console.log(data.msg);
          alert('操作失败')
        }
      }
    });
  });

</script>
