<h1 class="page-header">设置</h1>

<%= form_tag shop_admin_settings_path(@shop.name),
  class: "form-horizontal",
  id: "admin-settings" do |f| %>


  <%= fields_for :setting, @settings do |f| %>
    <!-- 标题 -->
    <div class="form-group">
      <label  class="col-sm-2 control-label" >问候语</label>
      <div class="col-md-5 col-sm-10">
        <%= f.text_area :greetings, class: 'form-control', rows: 5, save_on_change: true %>
      </div>
      <div class="col-md-5 hidden-sm">

        <div class="well">
          <div class= "chat-item">
            <%= avatar_image_tag current_user.avatar_url, class: 'chat-item-avatar' %>
            <h4>
              <%= current_user.name %>
              <div class="format-time"></div>
            </h4>
            <p><%= Shop::GREETINGS.sample %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  var SaveOnChange = window.SaveOnChange;
  var saveForm = new SaveOnChange($('#admin-settings'))

</script>

<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">问候语</h3>
  </div>
  <div class="panel-body">


  </div>
</div>
 -->
