<% content_for :module do "no_footer" end %>

<div class='order-confirm order-confirm-mobile'>
  <div class='yiyuan-confirm-location'>
    <div class='location-mark'>
      <span class='glyphicon glyphicon-map-marker'></span>
    </div>

    <div class='location-detail'>
      <div class='contact'>
        <span class='contact'><%= @location.contact %></span>
        <span class='contact-phone'><%= @location.contact_phone %></span>
      </div>
      <div class='address-detail'>
        <%= "#{@location.province_name}#{@location.city_name}#{@location.region_name}#{@location.road}" %>
      </div>
    </div>

    <div class='array'>
      <span class='glyphicon glyphicon-menu-right glyphicon-next'></span>
    </div>
  </div>
  <div class='envelope-border'></div>

  <%= form_for @order do |f| %>
    <%= f.hidden_field :address_id %>
    <%= f.hidden_field :supplier_id %>

    <% @order_items.each do |cart_item| %>
      <% if cart_item.cartable.try(:gifts).blank? %>
        <%= hidden_field_tag "order[cart_item_gifts][#{cart_item.id}][undefined]", nil, { multiple: true } %>
      <% else %>
        <% cart_item.cartable.gifts.each do |gift| %>
          <%= hidden_field_tag "order[cart_item_gifts][#{cart_item.id}][#{gift.id}]", gift.eval_available_quantity(cart_item.quantity), { multiple: true } %>
        <% end %>
      <% end %>
    <% end %>

    <div class='items-container'>
      <div class='header'>
        <span class='shop'>
          <%= link_to shop_site_path(@supplier.name) do %>
            <%= image_tag @supplier.avatar_url %><%= @supplier.title %>
          <% end %>
        </span>
      </div>

      <%= render partial: "confirmation_item", collection: @order_items.sort_by(&:id), as: :order_item, locals: { supplier: @supplier, f: f } %>

      <div class='footer confirmation-total'> 
        <%= render "confirmation_total" %>
      </div>

      <div class='footer'>
        <td colspan='5' class='text-right'>
          <%= link_to "返回购物车", cart_path, class: 'cancel' %>
          <%= f.submit "提交订单", class: 'submit'%>
        </td>
      </div>
    </div>
  <% end %>
</div>

<div class="address-zone" style='display: none;'>

</div>

<script type="text/javascript">
  (function(){
    $('.more').click(function(event) {
      $(this).siblings('.gifts')
        .toggleClass('toggle-more-gifts');
    })

    $('.yiyuan-confirm-location').click(function (event) {
      event.preventDefault();

      var url = "<%= chose_yiyuan_address_orders_path %>"
      // window.location.href = url;
      $.get(url, {format: 'js'})
    });

    window.onpopstate = function(event) {
      var showClass = event.state.show;
      var hideClass = event.state.hide;

      if (showClass) {
        $('.' + showClass).show();
      }

      if (hideClass) {
        $('.' + hideClass).hide();
      }
    };

    history.replaceState({show: "order-confirm-mobile", hide: "address-zone"}, null);
  })();
</script>