<% content_for :module do "no_footer" end %>

<div class='order-confirm order-confirm-mobile'>
  <%= render "order_address", locals: { delivery_addresses: @delivery_addresses, order: @order } %>

  <%= form_for @order do |f| %>
    <%= f.hidden_field :address_id %>
    <%= f.hidden_field :supplier_id %>

    <% @order_items.each do |cart_item| %>
      <% if cart_item.cartable.try(:gifts).blank? %>
        <%= hidden_field_tag "order[cart_item_gifts][#{cart_item.id}][undefined]", nil, { multiple: true } %>
      <% else %>
        <% cart_item.cartable.gifts.each do |gift| %>
          <%= hidden_field_tag "order[cart_item_gifts][#{cart_item.id}][#{gift.id}]", gift.eval_available_quantity(cart_item.quantity), { multiple: true } %>
        <% end %>
      <% end %>
    <% end %>

    <div class='items-container'>
      <div class='header'>
        <span class='shop'>
          <%= link_to shop_site_path(@supplier.name) do %>
            <%= image_tag @supplier.avatar_url %><%= @supplier.title %>
          <% end %>
        </span>
      </div>

      <%= render partial: "confirmation_item", collection: @order_items.sort_by(&:id), as: :order_item, locals: { supplier: @supplier, f: f } %>

      <% if @cards.present? %>
        <%= render "wx_cards_fields", locals: {f: f} %>
      <% end %>

      <div class='footer confirmation-total'> 
        <%= render "confirmation_total" %>
      </div>

      <div class='footer'>
        <td colspan='5' class='text-right'>
          <%= link_to "返回购物车", cart_path, class: 'cancel' %>
          <%= f.submit "提交订单", class: 'submit'%>
        </td>
      </div>
    </div>
  <% end %>
</div>

<% if @cards.present? %>
  <%= render "wx_cards" %>
<% end %>

<script type="text/javascript">
  (function(){
    $('.more').click(function(event) {
      $(this).siblings('.gifts')
        .toggleClass('toggle-more-gifts');
    });

  <% if @cards.present? %>
    $('.wx-cards').on('click', function(event) {
      $('.order-confirm-mobile').hide();
      $('.chose-cards').show();
    });

    $('.chose-cards li').on('click', function(event) {
      $('.chose-cards li').removeClass('chosen');
      $(this).addClass('chosen');

      var cardId = $(this).data('cardId');
      var cardTitle = $(this).data('cardTitle');
      var cardAmount = $(this).data('cardReduce');

      $('.card-hidden-fields input').prop('disabled', true);
      $('.card-hidden-fields .card_' + cardId).prop('disabled', false);

      $('.wx-cards .empty').hide();

      var $chosen = $('.wx-cards .chosen');
      $chosen.find('.amount').html(cardAmount);
      $chosen.find('.title').html(cardTitle);
      $chosen.show();

      setTimeout(function() {
        $('.chose-cards').hide();
        $('.order-confirm-mobile').show();        
      }, 300);
    });
  <% end %>
  })();
</script>