<div class='order-evaluation-mobile container no-padding'>
  <div class='header'>
    评 价
  </div>
  <div class='wrapper'>
    <% @order.items.each_with_index do |item, index| %>
      <% evaluation = @evaluations[item.id.to_s] %>
      <% evaluated = evaluation.id.present? %>

      <div class='item-evaluation'>
        <div class='evaluationable'>
          <div class='row info'>
            <div class='avatar'>
              <%= image_tag item.orderable.avatar_url %>
            </div>
            <div class='desc'>
              <div class='item-name'>
                <%= item.orderable.title %>
              </div>
              <div class='price pull-left'>
                <%= number_to_currency item.price %>
              </div>
              <div style='clear: both'></div>
            </div>
          </div>
          <div class='evaluate'>
            <div class='buy-time pull-left'>
              购买时间：<%= @order.created_at.strftime("%Y年%m月%d日") %>
            </div>
            <% text = evaluated ? "我的评价" : "我说几句" %>
            <%= link_to text, evaluate_items_order_path(@order, item), class: "btn btn-default pull-right #{evaluated ? '' : 'go-evaluate'}" %>
            <div style='clear: both;'></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom skip-revaluation">
  <%= link_to "跳过查看订单", order_path(@order) %>
</nav>

<script type="text/javascript">
  $(function (e) {
    $('button.toggle-evaluation').click(function(event) {
      event.preventDefault();

      $(this).closest('.item-evaluation')
        .children('.evaluation')
        .toggle();
    });
  })
</script>