<div class='order'>
  <ul class="nav nav-pills">
    <li role="presentation" class="header-show">
      <a href="javascript: void(0)">
        <h4>订单详情</h4>
      </a>
    </li>
  </ul>
  
  <div class='wrap-zone'>
    <div class='info-head'>
      <% if @order.finish? %>
        <div class='notification pull-left'>
          <h4>订单已经完成</h4>
          <h4>交易成功！</h4>
        </div>
        <div style='clear: both;'></div>
        <%= image_tag 'order-finish.png', class: 'status pull-right' %>
      <% elsif @order.paid? %>
        <div class='notification pull-left'>
          <h4>订单已支付成功</h4>
          <h4>货到请确认</h4>
        </div>
        <div style='clear: both;'></div>
        <%= image_tag 'order-delivery.png', class: 'status pull-right' %>
      <% else %>
        <div class='notification pull-left'>
          <h4>货到请确认</h4>
        </div>
        <div style='clear: both;'></div>
        <%= image_tag 'order-delivery.png', class: 'status pull-right' %>
      <% end %>
    </div>

    <div class='show-zone'>
      <div class='receiver-info'>
        <div>收 货 人：<%= @order.receiver_name %></div>
        <div>电 &nbsp;&nbsp;&nbsp;&nbsp; 话：<%= @order.receiver_phone %></div>
        <div>地 &nbsp;&nbsp;&nbsp;&nbsp; 址：<%= @order.delivery_address %></div>
      </div>
      
      <% unless @order.finish? %>
        <div class='toggle-zone qrcode-receive' style='display: none;'>
          <div id='qrcode-receive-code' class='center'></div>
          <div>您的收货码</div>
        </div>

        <div class='toggle-zone receive' style='display: none;'>
          <div>收到购买的商品后</div>
          <div class='center'>
            <button class='btn btn-primary  btn-danger' data-toggle="modal" data-target="#finish-order-<%= @order.id %>">确认收货</button>
          </div>

          <div class="modal fade" id="finish-order-<%= @order.id %>" tabindex="-1" role="dialog" aria-labelledby="myOrderLable<%= @order.id %>">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myOrderLable<%= @order.id %>">确认收货</h4>
                </div>
                <div class="modal-body">
                  订单号: <%= @order.id %> 确认收货?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <%= link_to "确认收货", order_path(@order, "order[status]" => "finish"), method: :patch, class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class='toggle-zone order-detail'>
        <div class='details'>
          <div>订 单 号： <%= @order.id %></div>
          <div>创建时间：<%= @order.created_at.strftime("%Y/%m/%d %H:%M") %></div>
        </div>

        <div class='order-note row show mobile'>
          <div class='content col-xs-9'>
            <div>备注：</div>
            <div class='note'>
              <%= @order.note.present? ? @order.note : "暂无备注" %>
            </div>
          </div>
          <% unless @order.finish? %>
            <div class='operation col-xs-3'>
              <button class='btn btn-default add-note' data-toggle="modal" data-target="#note-order-<%= @order.id %>"><%= @order.note.present? ? "修改" : "添加" %></button>
            </div>
          <% end %>
        </div>

        <ul class="list-group order-items">
          <li class="list-group-item order-item">
            <span class='shop'>
              <%= link_to shop_site_path(@order.supplier.name) do %>
                <%= image_tag @order.supplier.avatar_url %><%= @order.supplier.title %>
              <% end %>
              <span class='pull-right'>订单号: <%= @order.id %></span>
            </span>
          </li>
          <%= render partial: "order_item", collection: @order.items, as: :item, locals: { supplier: @order.supplier } %>
          <li class="list-group-item order-item">
            <div class='text-right'>
              一共<%= @order.items_count %>件商品&emsp;合计：<%= number_to_currency @order.items_total %>元<br>
              运送费用：<%= number_to_currency(@order.express_fee || 0) %>元<br>
              <% if @order.paid_total && @order.paid_total != @order.origin_total %>
                <span class='reduce'>已优惠：<%= number_to_currency @order.origin_total - @order.paid_total %>元</span><br>
              <% elsif @order.total != @order.origin_total %>
                <span class='reduce'>已优惠：<%= number_to_currency @order.origin_total - @order.total %>元</span><br>
              <% end %>
              <h4>
                付款：
                <span class='total'>
                  <%= number_to_currency @order.paid_total || @order.total %>元
                </span>
              </h4>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <% unless @order.finish? %>
      <div class='receive-operation row'>
        <div class='col-xs-4 toggler' data-zone='qrcode-receive'>
          <span class='glyphicon glyphicon-qrcode'></span><br>
          <span class='desc'>扫码收货</span>
        </div>
        
        <div class='col-xs-4 toggler' data-zone='receive'>
          <span class='glyphicon glyphicon-copyright-mark'></span><br>
          <div class='desc'>确认收货</div>
        </div>

        <div class='col-xs-4 toggler' data-zone='order-detail'>
          <span class='glyphicon glyphicon-th-list active'></span><br>
          <div class='desc'>订单详情</div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% unless @order.finish? %>
  <!-- 修改备注弹出框 -->
  <div class="modal fade" id="note-order-<%= @order.id %>" tabindex="-1" role="dialog" aria-labelledby="noteOrderLable<%= @order.id %>">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myOrderLable<%= @order.id %>">备注</h4>
        </div>
        <div class="modal-body">
          <div class='add-order-note mobile'>
            <div>备注</div>
            <div>
              <textarea class='new-order-note' rows=5 maxlength="150"><%= @order.note %></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary add-note-ok">确定</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('.add-note-ok').click(function (event) {
      var $modal = $(this).closest('.modal');
      var note = $modal.find('textarea.new-order-note').val();

      // if(note.length > 0) {
        $.post('/orders/<%= @order.id %>', {
          order: {
            note: note
          },
          _method: 'patch'
        }).done(function (data, status, xhr) {
          if (note.length == 0) note = "暂无备注";
          $('.order-note .note').text(note);
          $modal.modal('hide');
        }).always(function () {
          $modal.modal('hide');
        })
      // } else {
      //   $modal.modal('hide');
      // }
    })

    // 中间区域切换
    $('.toggler').click(function (event) {
      var $toggler = $(this).closest('.toggler');
      var zone = $toggler.attr('data-zone');

      $('.wrap-zone .toggle-zone').hide()
      $('.wrap-zone .' + zone).show();

      $('.receive-operation .glyphicon').removeClass('active');
      $toggler.find('.glyphicon').addClass('active');
    })

    // 收货二维码
    new QRCode(document.getElementById("qrcode-receive-code"), '<%= qr_shop_admin_order_url(@order.supplier.name, @order, host: Settings.app.website, t: @order.receive_token) %>' );
  })
</script>