<div class="left-sidebar">
  <ul class="nav nav-sidebar">
    <li><%= link_to '工作台', admins_dashboards_path %></li>
    <li><%= link_to '帐号', admins_accounts_path %></li>
    <li><%= link_to '专题', admins_subjects_path %></li>
    <li><%= link_to '区域', admins_regions_path %></li>
    <li><%= link_to '购物券管理', admins_coupon_templates_path %></li>
    <li>
      <%= link_to '行业', admins_industries_path %>
      <% @industries = Industry.all %>
      <% if @industries.count > 0 %>
        <ul class="nav">
          <% @industries.each do |industry| %>
            <li>
            <%= link_to industry.title, [ :edit, :admins, industry ] %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
    <li><%= link_to '商品中心', admins_products_path %>
      <ul class="nav">
        <li><%= link_to '属性', admins_properties_path %></li>
        <li><%= link_to '单位', admins_units_path %></li>
        <li><%= link_to '品牌', admins_brands_path %></li>
      </ul>
    </li>

    <li><%= link_to '活动', admins_promotions_path %>
      <ul class="nav">
        <li><%= link_to '一元购', admins_one_money_index_path %></li>
      </ul>
    </li>
    <li><%= link_to '消息', admins_messages_path %></li>
    <li><%= link_to '用户反馈', admins_feedbacks_path %></li>
  </ul>
</div>

<script type="text/javascript">
  var highlightSelected = function() {
    var currentUrl = location.pathname;
    var maxLength = 0;
    var activeElem = null;
    $('.left-sidebar .nav>li').each(function(i, elem) {
      var $href = $(elem).find('a');
      if (currentUrl.startsWith($href.attr('href'))) {
        if (maxLength < $href.attr('href').length) {
          maxLength = $href.attr('href').length;
          activeElem = elem
        }
      }

      $(elem).removeClass('active')
    });

    $(activeElem).addClass('active')

  };

  $(window).load(function() {
    var LeftSideBar = window.LeftSideBar;
    var leftSidebar = new LeftSideBar($('.left-sidebar'));


    highlightSelected();

  })

  $(document).on('page:change', highlightSelected)


</script>
