<div>
  <table class='table shop-delivery-settings'>
    <thead>
      <tr>
        <th colspan='2'>
          本店运费规则
        </th>
        <th>
          <button class='btn btn-default' id='set-shop-delivery' data-url='<%= shop_admin_delivery_fee_path(@shop.name) %>'>点击添加规则</button>
        </th>
      </tr>
      <tr>
        <th width='33%'>地区</th>
        <th width='33%'>运费</th>
        <th width='34%'>操作</th>
      </tr>
    </thead>
    <tbody>
      <% if @delivery_fee_settings.blank? %>
        <tr>
          <td colspan='3' class='text-center'>
            暂未设置任何规则, <button class='btn btn-default' id='set-shop-delivery' data-url='<%= shop_admin_delivery_fee_path(@shop.name) %>'>点击添加规则</button>
          </td>
        </tr>
      <% else %>
        <% @delivery_fee_settings.keys.sort.each do |area_code| %>
          <tr data-code=<%= area_code %>>
            <td class='area'>
              <span class='title'>
                <%= "default" == area_code ? "默认" : @delivery_fee_settings[area_code][:title] %>
              </span>
            </td>
            <td class='fee'>
              <%= @delivery_fee_settings[area_code][:fee] %>
            </td>
            <td>
              <button class='btn btn-default edit-setting'>设置</button>
              <button class='btn btn-danger destroy-setting'>删除</button>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="modal fade destroy-delivery-setting" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确定删除</h4>
      </div>
      <div class="modal-body">
        <p>确定删除<span class='destory-title'></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger do-destroy">删除</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade edit-delivery-setting" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">设置</h4>
      </div>
      <div class="modal-body">
        <div class="setting-fee">
          地区：<span class="chose-area"></span></br>
          运送费用：<input class="fee" type="number" step=0.1>  
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary do-update">保存</button>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id='new-delivey-fee-tpl'>
  <tr data-code={{ code }}>
    <td class='area'>
      <span class='title'>
        {{ "default" == code ? "默认" : title }}
      </span>
      <span class="label label-success">新</span>
    </td>
    <td class='fee'>
      {{ fee }}
    </td>
    <td>
      <button class='btn btn-default edit-setting'>设置</button>
      <button class='btn btn-danger destroy-setting'>删除</button>
    </td>
  </tr>
</script>

<script type="text/javascript">
  $(function () {
    var codeSettings = <%= @delivery_fee_settings.keys.to_json.html_safe %>;
    var postUrl = <%= shop_admin_delivery_fee_path(@shop.name).to_json.html_safe %>;

    var $deliveryElement = $('#set-shop-delivery');
    var $tbody = $('.shop-delivery-settings tbody');
    var template = _.template($('#new-delivey-fee-tpl').html());

    var destroyCode;
    var $destroyModal = $('.modal.destroy-delivery-setting');
    $destroyModal.on('click', '.do-destroy', function(e) {
      $.post(postUrl, {
        _method: 'DELETE',
        code: destroyCode
      }).done(function() {
        $tbody.find("tr[data-code=" + destroyCode + "]").remove();
        $destroyModal.find('.destory-title').text('');
        $destroyModal.modal('hide');
        destroyCode = null;
      });
    });

    var editCode;
    var $editModal = $('.modal.edit-delivery-setting');
    $editModal.on('click', '.do-update', function(e) {
      var fee = $editModal.find('input.fee').val()

      $.post(postUrl, {
        _method: 'PATCH',
        code: editCode,
        fee: fee
      }).done(function(data, status, xhr) {
        var $tr = $tbody.find("tr[data-code=" + editCode + "]")
        
        if (!$tr.find('.area .udpate-nofity').length) {
          !$tr.find('.area').append('<span class="udpate-nofity label label-info">改</span>');
        }
        $tr.find('.fee').text(data.fee);

        $editModal.find('.chose-area').text('');
        $editModal.modal('hide');
        editCode = null;
      });
    })

    var deliverySetter = new DeliveryArea($deliveryElement);
    deliverySetter.onCreated(addNewSetting);

    $tbody.on('click', '.edit-setting', editItemFee);
    $tbody.on('click', '.destroy-setting', destroyItemFee);


    function addNewSetting(options) {
      var code = options.code;
      codeSettings.push(code);
      var html = template(options);

      if (codeSettings.length > 1) {
        codeSettings = _.sortBy(codeSettings, function(item) {
          return item.toString();
        });

        var index = _.indexOf(codeSettings, code);

        if (0 == index) {
          $tbody.prepend(html);
        } else {
          var previousCode = codeSettings[index + 1];
          var $previousTr =  $tbody.find("tr[data-code=" + previousCode + "]");
          $previousTr.before(html);
        }
      } else {
        $tbody.append(html);
      }
    }

    function editItemFee(event) {
      var $tr = $(this).closest('tr');
      var title = $tr.find('.title').text();
      var fee = + $tr.find('.fee').text();

      editCode = $tr.data('code');

      $editModal.find('input.fee').val(fee);
      $editModal.find('.chose-area').text(title);
      $editModal.modal('show');

      $editModal.on('shown.bs.modal', function() {
        $editModal.find('input.fee')
          .focus()
          .select();
      })
    }

    function destroyItemFee(event) {
      var $tr = $(this).closest('tr');
      var title = $tr.find('.title').text();

      destroyCode = $tr.data('code');

      $destroyModal.find('.destory-title').text(title);
      $destroyModal.modal('show')
    }
  });
</script>