<div class="col-xs-6 col-sm-3 promotion-wrap">
 <div class="promotion">
  <a href="/promotions/{{ promotion.id }}">
   {{ promotion.image_url | image_tag: class: 'promotion-image' }}
   <p class="promotion-title">
     {{ promotion.title }}
   </p>
   <div class="price-board clearfix">
    {% if  promotion.status == 'Published' %}
      <span class="snap-ready">未开始</span>
    {% elsif promotion.status == 'Active' %}
      <span class="snap-up">抢购中</span>
    {% else %}
      <span class="snap-end">已结束</span>
    {% endif %}

    <div class="prices">
     <span class="disount-price">￥{{ promotion.discount_price }}</span>
     <span class="origin-price"><s>￥{{ promotion.product_price }}</s></span>
    </div>
   </div>
  </a>
  <a href="{{ promotion.shop_name }}">
    <div class="provider-wrap">
      <div class="provider">
        <div class="provider-name">
        {% if promotion.shop_title %}
          {{ promotion.shop_title }}
        {% else %}                    
          {{ promotion.shop_name }}
        {% endif %}
          <div>{{ promotion.created_at | date: '%Y/%m/%d %H:%M' }}</div>
        </div>
        <div class="avatar-wrap">
          {{ promotion.publisher_avatar | image_tag: class: "publish-avatar" }}
        </div>
      </div>
    </div>
   </div>
 </a>
</div>
