<% content_for :title do %>
	<%= @shop.name %>
<% end %>

<% content_for :module, :shop %>

<%= shop_render "header.html" %>

<div class="cate-items-list">
  <div class='title'>
    <span>本店主营系列</span>
  </div>
  <%= render partial: 'shop_categories/shop_categories', locals: { shop: @shop, shop_categories: @shop_categories } %>
</div>

<script type="text/template" id='template-shop-categories'>
  {{ _.each(collection, function (cate, index) { }}
    <div class="col-xs-4 col-sm-3 cate">
      <a href="/shop_categories/{{= cate.id }}" class='text-center'>
        {{= cate.name }}
      </a>
      <span class='text text-center'>{{= cate.name }}</span>
    </div>
  {{ }) }}
</script>

<script type="text/javascript">
  $(function () {
    var per = 9;
    var page = 1;
    var id = <%= @shop.id %>;
    var all_fetched = <%= @shop_categories.length %> < per;
    var fetch_locked = false;

    var template = _.template($('#template-shop-categories').html());

    $(document).scroll(function (e) {
      if (!/shops\/\d+/.test(e.target.URL) || all_fetched || fetch_locked) {
        return;
      }

      if ($(document).height() < $(window).scrollTop() + $(window).height() + 100) {
        fetch_locked = true;


        $.getJSON("/<%= @shop.name %>/shop_categories.json?page=" + (page + 1) + "&per=" + per + "&shop_id=<%= @shop.id %>")
          .success(function (data, status) {
            page += 1;

            all_fetched = data.length < per;
            var html = template({ collection: data });

            $('.cate-items-list .shop-categories').append(html);

            fetch_locked = false;
          });
      }
    });
  })
</script>
