<% content_for :title do %>
	<%= @shop.name %>
<% end %>

<% content_for :module, :shop %>

<div class="brand-board">
  <div class='shop-info'>
    <%= image_tag @shop.image.try(:src), class: 'shop-logo' %>
    <div class='name-address'>
      <span class='name'><%= @shop.name %></span>
      <span class='address'><%= @shop.address %></span>
    </div>
    <div style='clear:both'></div>
  </div>
</div>

<div class="line-items">
  <div class='text-center'>
    本店主营系列
  </div>
  <ul class='shop-categories'>
    <% @shop_categories.each_with_index do |cate, index| %>
      <li class='text-center line-item'>
        <%= link_to shop_category_path(cate, shop_id: @shop.id), class: 'text-center' do %>
          <%= cate.name %>
        <% end %>
      </li>
    <% end %>
    <div style='clear: both;'></div>
  </ul>
  <div style='clear: both;'></div>
</div>

