<div class="panel panel-default order">
  <div class="panel-heading">
    <span class='shop'>
      <%= link_to shop_site_path(order.supplier.name) do %>
        <%= image_tag order.supplier.avatar_url %><%= order.supplier.title %>
      <% end %>
      <span class='pull-right'>订单号: <%= order.id %></span>
    </span>
  </div>

  <ul class="list-group order-items">
    <%= render partial: "order_item", collection: order.items, as: :item, locals: { supplier: order.supplier } %>
    <li class="list-group-item order-item">
      <div class='text-right'>
        一共<%= order.items_count %>件商品&emsp;合计：<%= number_to_currency order.items_total %>元<br>
        运送费用：<%= number_to_currency(order.express_fee || 0) %>元<br>
        <% if order.total != order.origin_total %>
          <span class='reduce'>已优惠：<%= number_to_currency order.origin_total - order.total %>元</span><br>
        <% end %>
        总计：<b class='total'><%= number_to_currency order.total %>元</b>
      </div>
    </li>
  </ul>

  <div class="panel-footer">
    <div class='text-right'>
      <%= link_to "订单详情", shop_admin_order_path(order.supplier.name, order), class: 'btn btn-default' %>
      <% unless order.finish? %>
        <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#change-total-<%= order.id %>">
        修改总价
      </button>
      <% end %>
    </div>

    <% unless order.finish? %>
    <div class="modal fade" id="change-total-<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= form_for order, url: shop_admin_order_path(order.supplier.name, order) do |f| %>
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">修改第<%= order.id %>号订单总价</h4>
            </div>
            <div class="modal-body">
              <div>
                原价：<span class='order-total'><%= number_to_currency order.origin_total %></span>
              </div>
              <div class="form-inline">
                <div class="form-group">
                  <label for="new-order-total-<%= order.id %>">修改为：</label>
                  <%= f.number_field :total, class: "form-control", id: "new-order-total-#{ order.id }", placeholder: "输入新的订单总价", autocomplete: "off", step: 0.1 %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <%= f.submit "确定修改", class: "btn btn-primary confirm-order-change" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>