<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">商店档案</h3>
  </div>
  <div class="panel-body">
    Panel content

    <%= form_for @shop do |f| %>

      <div class="form-group">
        <%= f.label :logo_url, "商店Logo" %>
        <div class="image-uploader">
          <%= image_tag @shop.logo.url(:cover) %>
          <div class="image-uploader-button">
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :website %>
        <%= f.text_field :website, class: 'form-control' %>
      </div>


      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    <% end %>
  </div>
</div>

<div class="file-uploader-template hidden">
  <div class='qq-uploader'>
    <div class='qq-upload-drop-area' style='display: none;'>
      <span>拖动文件到这里上传</span>
    </div>
    <div class='qq-upload-button' style='position: relative; overflow: hidden; direction: ltr;'>选择文件上传
      <input type='file' name='file' style='position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;'>
    </div>
    <ul class='qq-upload-list' style='display: none;'></ul>
  </div>
</div>

<script type="text/javascript">
  (function () {
    var shopId = "<%= @shop.id %>";
    var token = $("#edit_shop_" + shopId + " input[name=authenticity_token]").val();

    var $element = $("#edit_shop_" + shopId + " div.image-uploader-button")[0];
    var actionUrl = "<%= shop_admin_shop_logo_path(@shop) %>";

    new qq.FileUploader({
      element: $element,
      action:  actionUrl,
      customHeaders: { "X-CSRF-Token": token },
      multiple: false,
      template: $(".file-uploader-template").html(),
      onComplete: function (id, filename, responseJSON) {
        var url = responseJSON.url;
        $("#edit_shop_" + shopId + " .image-uploader img").attr('src', url);
      }
    });    
  })();
</script>