<div class="shop left-sidebar hidden-xs">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to '商店', shop_admin_index_path(@shop.name) %></li>
    <li><%= link_to '档案', shop_admin_profile_path(@shop.name) %></li>
<!--     <li>
      <%#= link_to '分类', shop_admin_shop_categories_path(@shop.name) %>
      <%# if @shop.shop_category.present? %>
        <ul class="nav">

        </ul>
      <%# end %>
    </li>
 -->    <% if @shop.shop_category.present? %>
      <li><%= link_to @shop.shop_category.title, shop_admin_shop_category_path(@shop.name, @shop.shop_category.name) %></li>
    <% end %>

    <li><%= link_to '商品', shop_admin_items_path(@shop.name) %></li>
<!--     <li><%= link_to '关于', about_shop_path(@shop.name) %></li>-->
    <li><%= link_to '运费设置', shop_admin_delivery_fee_path(@shop.name) %></li>
    <li>
      <%= link_to '订单', 'javascript: void(0)' %>
      <ul class="nav">
        <li>
          <%= link_to '我卖的', shop_admin_orders_path(@shop.name) %>
        </li>
      </ul>
    </li>
    <li role="separator" class="divider"></li>
    <li><%= link_to '设置', shop_admin_settings_path(@shop.name) %></li>
  </ul>
</div>

<script type="text/javascript">
  var highlightSelected = function() {
    var currentUrl = window.location.pathname;
    var maxLength = 0;
    var activeElem = null;

    $('.left-sidebar .nav>li').each(function(i, elem) {
      var $href = $(elem).find('a');

      if ($href.length && currentUrl.startsWith($href.attr('href'))) {
        if (maxLength < $href.attr('href').length) {
          maxLength = $href.attr('href').length;
          activeElem = elem;
        }
      }

      $(elem).removeClass('active')
    });

    $(activeElem).addClass('active')
  };

  highlightSelected();

  $(highlightSelected);
  $(document).on('page:load', highlightSelected)
  $(document).on('page:change', highlightSelected)
</script>
