<div class="shop left-sidebar">

  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to '仪表盘', shop_admin_dashboard_index_path(@shop.name) %></li>
    <li><%= link_to '档案', shop_admin_profile_path(@shop.name) %></li>
    <li>
      <%= link_to '分类', shop_admin_shop_categories_path(@shop.name) %>
      <% if @shop.shop_category.present? %>
        <ul class="nav">
          <li><%= link_to @shop.shop_category.title, shop_admin_shop_category_path(@shop.name, @shop.shop_category.name) %>
          </li>
        </ul>
      <% end %>
    </li>
    <li><%= link_to '产品', shop_admin_items_path(@shop.name) %></li>
    <li><%= link_to '关于', about_shop_path(@shop.name) %></li>
  </ul>
</div>

<script type="text/javascript">
  var highlightSelected = function() {
    var current_url = location.pathname;

    $('.left-sidebar .nav>li').each(function(i, elem) {
      var $href = $(elem).find('a');
      if (current_url.startsWith($href.attr('href'))) {
        $(elem).addClass('active')
      } else {
        $(elem).removeClass('active')
      }
    });
  };

  highlightSelected();

  $(document).on('page:change', highlightSelected)
</script>
