    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "关于我们", about_path  %></li>
        <% if Settings.dev.feature.qrcode %>
        <li><%= link_to "二维码", "#share-url-qrcode" , "data-toggle"=>"modal" %></li>
        <% end %>
        <% if Settings.dev.feature.favorites %>
        <li><%= link_to "我的收藏", "/favorites" %></li>
        <% end %>
        <% if Settings.dev.feature.linkmen %>
        <li><%= link_to "最近联系人", "/chats" %></li>
        <% end %>
        <% if Settings.dev.feature.weixin %>
        <li><%= link_to "微信登陆", authorize_weixin_path %></li>
        <% end %>
        <%= render "shards/profile_menu" %>
      </ul>
    </div>
