    <ul class="nav navbar-nav navbar-left">
      <%= yield :back %>
      <li>
        <%= link_to root_path, class: "navbar-brand", title: Settings.app.title do %>
          <%= image_tag 'logo.png' %>
        <% end %>
      </li>
      <li>
        <% if content_for(:navbar_link).blank? %>
          <p class="navbar-text"><%= content_for?(:navbar) ? yield(:navbar) : Settings.app.title %></p>
        <% else %>
          <%= link_to content_for(:navbar_link), class: "navbar-brand navbar-title" do %>
            <%= content_for?(:navbar) ? yield(:navbar) : Settings.app.title %>
          <% end %>
        <% end %>
      </li>
      <li >
        <span class="navbar-text visible-xs">
          <%= yield (:navbar_title) %>
        </span>
      </li>
    </ul>
