    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">

      <% if disable_navbar? %>
        <li><%= link_to "关于我们", about_path  %></li>

        <% if Settings.dev.feature.industry %>
          <% if @industry %>
            <li><%= link_to "行业", industry_path(@industry.name) %></li>
          <% end %>
        <% end %>

        <% if Settings.dev.feature.linkmen %>
        <li><%= link_to "最近联系人", "/chats" %></li>
        <% end %>

        <% if current_user.present? %>
        <li><%= link_to "我的订单", "/orders" %></li>
        <% end %>

        <% if Settings.dev.feature.cart %>
          <%= render "shards/cart" %>
        <% end %>

        <% if Settings.dev.feature.weixin && false %>
        <li><%= link_to "微信登陆", authorize_weixin_path %></li>
        <% end %>
        <% if Settings.dev.feature.qrcode %>
          <li class="menu-margin">
            <%= link_to "#share-url-qrcode" , "data-toggle"=>"modal" do %>
              <%= icon :qrcode %>
            <% end %>
          </li>
          <% end %>
      <% end %>
        <%= render "shards/profile_menu" %>
      </ul>
    </div>
