<% if Settings.dev.feature.user.sign_in %>
  <% if current_anonymous_or_user.id < 0 %>
    <li><%= link_to "登入 #{current_anonymous_or_user.id if Rails.env.development?}", new_user_session_path %></li>
  <% else %>
    <li class="dropdown">
    <%= user_avatar(current_anonymous_or_user, 'data-toggle' => 'dropdown', 'role' => "button" ) %>
      <ul class="dropdown-menu">
        <li><%= link_to '我的主页', user_profile_path(current_user) %></li>

        <% if current_user.join_shop %>
          <li><%= link_to '我的店铺', shop_site_path(current_user.join_shop.name, format: 'html') %></li>
          <li><%= link_to '店铺管理', shop_admin_index_path(current_user.join_shop.name) %></li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li><%= link_to '登出', destroy_user_session_path, method: :delete %>
      </ul>
    </li>
  <% end %>
<% end %>
