<% if Settings.dev.feature.user.sign_in %>
  <% if current_anonymous_or_user.id < 0 %>
    <li class="menu-margin"><%= link_to "登入 #{current_anonymous_or_user.id if Rails.env.development?}", new_user_session_path %></li>
  <% else %>
    <li class="dropdown menu-margin">
    <%= user_avatar(current_anonymous_or_user, 'data-toggle' => 'dropdown', 'role' => "button" ) %>
      <ul class="dropdown-menu">
        <% if Settings.dev.feature.person_page %>
        <!-- <li><%#= link_to '我的主页', user_profile_path(current_user), target: '_blank' %></li> -->
        <% end %>
        <% if Settings.dev.feature.favorites %>
        <li><%= link_to "我的收藏", "/favorites", target: '_blank' %></li>
        <% end %>

        <% if current_user.user_type != 'consumer' && !current_user.is_done? %>
          <li><%= link_to '完善信息', after_register_path(current_user.user_type), target: '_blank' %></li>
        <% end %>

        <% if current_user.join_shop %>
          <li><%= link_to '我的店铺', shop_site_path(current_user.join_shop.name), target: '_blank' %></li>
          <li><%= link_to '店铺管理', shop_admin_index_path(current_user.join_shop.name), target: '_blank' %></li>

          <% if current_user.user_type != 'consumer' && !current_user.is_done? %>
            <li><%= link_to '升级企业用户', reset_after_registers_path, target: '_blank' %></li>
          <% end %>

        <% end %>
        <li role="separator" class="divider"></li>
        <li><%= link_to '登出', destroy_user_session_path, method: :delete %>
      </ul>
    </li>
  <% end %>
<% end %>
