<table class='table table-bordered order'>
  <colgroup>
    <col width="24%" />
    <col width="20%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="20%" />
  </colgroup>

  <tbody>
    <tr class='head'>
      <td colspan='6'>
        <span>订单号: <%= order.id %></span>
        <span class='create-time'>创建时间：<%= order.created_at.strftime("%Y/%m/%d %H:%M") %></span>
        <span class='buyer pull-right'>客户：<%= order.buyer.username %></span>
      </td>
    </tr>
    <%= render partial: "order_item", collection: order.items, as: :item, locals: { order: order, supplier: order.supplier } %>
    <tr>
      <td colspan='6'>
        <h4 class='text-right'>
          一共<%= order.items_count %> 件商品&emsp;合计：
          <span class='total'><%= number_to_currency order.total %>元</span>
        </h4>
      </td>
    </tr>
  </tbody>
</table>