<tr class='item'>
  <td class='avatar'>
    <%= link_to orderable_url(item) do %>
      <%= image_tag item.avatar_url, class: 'media-object', alt: "商品图片" %>
      <span class='title'>
        <%= item.title %>
      </span>
    <% end %>
  </td>
  <td> <%= item.properties_title %> </td>
  <td> 单价：<%= number_to_currency item.price %> </td>
  <td> 数量：<%= number_with_delimiter item.quantity %> </td>
  <td> 小计：<%= number_to_currency item.price * item.quantity %> </td>

  <% if item == order.items.first && controller.action_name != 'show' %>
    <td rowspan='<%= order.items.count + order.items.find_all {|item| item.gifts.present? }.length %>' class='operation'>
      <% if order.paid %>
        <div class='order-paid'>已支付</div>
      <% elsif order.initiated? %>
        <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#change-total-<%= order.id %>">
          修改总价
        </button>
      <% elsif order.deleted? %>
        <div class='text-center'>订单已删除</div>
      <% end %>
      
      <div class='detail text-center'>
        <span><%= link_to "订单详情", shop_admin_order_path(supplier.name, order) %></span>
      </div>
    </td>
  <% end %>
</tr>
<% if item.gifts.present? %>
  <tr class='order-gifts'>
    <td colspan='5'>
      <% item.gifts.each do |gift| %>
        <div class='order-gift'>
          <div class='head'>
            <%= image_tag "gift-white.png" %>
          </div>
          <div class='desc'>
            <div class='avatar'>
              <%= image_tag gift["avatar_url"] %>
            </div>
            <div class='title-quantity'>
              <div class='title'>
                <span>
                  <%= truncate("#{gift["title"]} #{gift["properties_title"]}", length: 15) %>
                </span>
              </div>
              <div class='quantity'>
                <span>数量：<%= gift["quantity"] %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </td>
  </tr>
<% end %>