<% content_for :navbar_title do %>
  快速开店 选择经营品类(3/4)
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header hidden-xs">
        <h1>快速开店<small> 请选择你的经营品类</small></h1>
      </div>
    </div>
  </div>

  <%= panel class: "no-padding" do %>
    <div class="panel-heading">
      <h4><%= @industry.title %></h4>
    </div>

    <% if @industry.category %>
      <%= render partial: "category", collection: @industry.category.children.order(:id), locals: { region: @current_region } %>
    <% end %>
  <% end %>

  <%= render partial: "action_buttons", locals: { disabled: true, next_url: after_register_path(:distributor, step: :category) }, cache: true %>

  <%= render "skip_form" %>
</div>
