<% content_for :navbar_title do %>
  快速开店 选择经营品类(3/4)
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header hidden-xs">
        <h1>快速开店<small> 请选择你的经营品类</small></h1>
      </div>
    </div>
  </div>
  <%= form_tag after_register_path(:distributor, step: :category), class: 'category_brand_form', method: :put do %>
  <%= panel class: "no-padding category-brand-selector" do %>
    <div class="panel-heading">
      <h4><%= @industry.title %></h4>
    </div>

    <% if @industry.category %>
      <%= render partial: "category", collection: @industry.category.children.order(:id), locals: { region: @current_region } %>
    <% end %>
  <% end %>

  <%= render partial: "action_buttons", locals: { disabled: true, form: '.category_brand_form' }, cache: true %>
  <% end %>

  <%= render "skip_form" %>
</div>

<script type="text/template" id="brand_template">
  <input type="checkbox" name="select[{{top_id}}][{{category_id}}][]" value="{{id}}" id="category_{{category_id}}_brand_{{id}}" />
  <label for="category_{{category_id}}_brand_{{id}}" class="brand-link list-group-item" data-brand-id="{{id}}" data-category-id="{{category_id}}">
    <span class="glyphicon glyphicon-ok brand-mark" aria-hidden="true"></span>
    <img src="{{image.url}}" width="64" height="32" alt="{{name}}" />
    <span class="title"> {{ title }} </span>
  </label>
</script>

<script type="text/javascript">
  function template(temp, context) {
    return temp.replace(/\$(\w+)/g, function(m, k) {
      return context[k];
    });
  }

  _.templateSettings = {
    interpolate: /\{\{(.+?)\}\}/g
  };

  // var BRAND_TEMPLATE = ["<a href=\"/brands/$id\" data-brand-id=\"$id\" class=\"brand-link list-group-item\" >"
  //                       "</a>" ];
  var BRAND_GROUP_TEMPLATE = "<ul class=\"list-group category-$category_id\" >\n  $list\n</ul>";

  $(".category-body>a").click(function(e) {
    e.preventDefault();
    $(".category-body>a").removeClass('active');
    $(e.currentTarget).addClass('active');
  });

  $(".category-body>a").click(function(e) {
    var $target = $(e.currentTarget);
    var topId = $target.parents(".category-body").data("categoryId")
    var id = $target .data('category');
    var $container = $target .parents('.category-body').next();
    var $ul = $container.find('>.category-' + id);
    var html = ""
    if ($ul.length === 0) {
      $.getJSON($target.attr('href'), function(resp) {
        var brands = resp.brands;
        var compiled = _.template($("#brand_template").text());

        for (var i = 0; i < brands.length; i++) {
          var brand = brands[i];
          html += compiled($.extend(brand, {category_id: id, top_id: topId }));
        }

        $container.append(template(BRAND_GROUP_TEMPLATE, { list: html, category_id: id }));
      });
    }
  });

  $(".category-body>a").on("change:select_count", function(e) {
    var id = $(e.target).data('category');
    var $ul = $(e.target).parents('.category-body').next().find(">.category-" + id);
    var count = $ul.find('.brand-link.active').length;

    if (count > 0) {
      $(e.target).find(".badge").text(count).show();
      $('.next').removeAttr('disabled');
    } else {
      $(e.target).find(".badge").hide();
      $('.next').attr('disabled', 'disabled');
    }
  });

  $(".category-body>a").click(function(e) {
    var $target = $(e.currentTarget);

    var id = $target.data('category');
    $target.parents('.category-body').next().find(">:not(.category-" + id + ")").slideUp()
    $target.parents('.category-body').next().find(">.category-" + id).slideToggle();
  });

  $(".category-brand-list").on('click', '.brand-link', function(e) {
    var $target = $(e.currentTarget);

    $target .toggleClass('active');
    var id = $target .data("categoryId")
    var $category = $target .parents('.category-brand-list').prev()
    setTimeout(function() {
      $category.find('[data-category="'+ id + '"]').trigger('change:select_count');
    }, 100);
  });

  // $(".category-body>a").click(function(e) {
  //   $(e.target).closest('.category-brand-container')..slideToggle();
  // });
</script>
