<% content_for :navbar_title do %>
  快速开店 选择经营品类(3/4)
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header hidden-xs">
        <h1>快速开店<small> 请选择你的经营品类</small></h1>
      </div>
    </div>
  </div>

  <%= panel class: "no-padding" do %>
    <div class="panel-heading">
      <h4><%= @industry.title %></h4>
    </div>

    <% if @industry.category %>
      <%= render partial: "category", collection: @industry.category.children.order(:id), locals: { region: @current_region } %>
    <% end %>
  <% end %>

  <%= render partial: "action_buttons", locals: { disabled: true, next_url: after_register_path(:distributor, step: :category) }, cache: true %>

  <%= render "skip_form" %>
</div>

<script type="text/javascript">
  function template(temp, context) {
    return temp.replace(/\$(\w+)/g, function(m, k) {
      return context[k];
    });
  }

  var BRAND_TEMPLATE = "<a href=\"/brands/$id\" data-brand-id=\"$id\" class=\"brand-link list-group-item\" >$title</a>";
  var BRAND_GROUP_TEMPLATE = "<ul class=\"list-group\">\n  $list\n</ul>";

  $(".category-body>a").click(function(e) {
    e.preventDefault();
    $(".category-body>a").removeClass('active');
    $(e.target).addClass('active');
  });

  $(".category-body>a").click(function(e) {
    var id = $(e.target).data('category');
    var $container = $(e.target).parents('.category-body')
    var $ul = $container.find('>.brand-category-' + id);
    var html = ""
    if ($ul.length === 0) {
      $.getJSON($(e.target).attr('href'), function(resp) {
        var brands = resp.brands;

        for (var i = 0; i < brands.length; i++) {
          var brand = brands[i];
          html += template(BRAND_TEMPLATE, brand);
        }

        $container.after(template(BRAND_GROUP_TEMPLATE, { list: html }));
      });
    }
  });

  $(".category-body>a").click(function(e) {
    $(e.target).closest('.category-brand-container').slideToggle();
  });

  // $(".category-body>a").click(function(e) {
  //   $(e.target).closest('.category-brand-container')..slideToggle();
  // });
</script>
