<div class="col-sm-12">
<div class="page-header">
  <h1>快速开店<small> 选择你的商品</small></h1>
</div>

<table class="product-groups table table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>大类</th>
      <th>小类</th>
      <th>品牌</th>
      <th>商品</th>
      <th>参考价</th>
      <th>库存</th>
    </tr>
  </thead>

  <% start = 0 %>
  <%= render_table @products_group do |group, category, brand, product, index| %>
    <tr>

      <% if group %>
        <td class="group-group" rowspan="<%= group[:total] %>">
          <span spy="affix">
            <%= group[:title] %>
          </span>
          <div class="box">
            <div  class="box-container">
              <div class="btn-group-vertical item-toolbar" role="group" aria-label="toolbar">
                <%= button context: :primary, class: 'btn-sm' do %>
                <%= icon :trash %>
                <% end %>
              </div>
            </div>
          </div>
        </td>
      <% end %>

      <% if category %>
        <td class="group-category" rowspan="<%= category[:total] %>" data-id="<%= category[:id] %>" >
          <span spy="affix">
            <%= category[:title] %>
          </span>
          <div class="box">
            <div class="box-container">
              <div class="btn-group-vertical item-toolbar" role="group" aria-label="toolbar">
                <%= button context: :primary, class: 'btn-sm' do %>
                <%= icon :trash %>
                <% end %>
              </div>
            </div>
          </div>
        </td>
      <% end %>

      <% if brand %>
        <td class="group-brand" rowspan="<%= brand[:total] %>">
          <div class="brand" spy="affix-brand">
            <%= brand[:title] %>
          </div>
          <div class="box">
            <div class="box-container">

              <div class="btn-group-vertical item-toolbar" role="group" aria-label="toolbar">
                <%= button brand[:total], context: :primary, class: 'btn-sm' %>
                <%= button 3, context: :info, class: 'btn-sm' %>
                <%= button context: :primary, class: 'btn-sm' do %>
                <%= icon :trash %>
                <% end %>
              </div>
            </div>
          </div>
        </td>
      <% end %>

      <td class="group-product" data-status="<%= product[:status] %>" >
        <%= check_box :product, :id %>
        <%#= link_to product_path(product[:id]) do %>
          <%= image_tag icon_url(product[:avatar]), class: "image-thumbnail", size: "16x16" %>
          <%= product[:name] %>
        <%# end %>
        <div class="box">
          <div class="box-container">
            <div class="btn-group-vertical item-toolbar" role="group" aria-label="toolbar">
              <%= button context: :primary, class: 'btn-sm' do %>
                <%= icon :trash %>
              <% end %>
            </div>
          </div>
        </div>
      </td>
      <td class="group-price text-right">
        <%= number_to_currency product[:price] %>
      </td>
      <td>
        <%= number_field_tag :product, :stack_changes, value: 1, class: 'form-control input-sm' %>
      </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  $("[spy=\"affix\"]").each(function(i, elem) {
    var top = $(elem).position().top;
    var bottom = $(document).height() - top + $(elem).outerHeight(true);
    $(elem).affix({
      offset: {
        top: top,
        bottom: function (span) {
          var bottom = $(document).outerHeight(true) - this.top - $(span).parents('td').outerHeight(true) + 39 + $(span).outerHeight(true);
          return (this.bottom = bottom);
        }
      }
    }).on('affixed.bs.affix', function(e) {
      $(e.target)
        .attr('style', '')
        .css({
          width: $(e.target).parents('td').outerWidth(true),
          backgroundColor: 'white',
          top: 51,
          padding: 10,
          margin: -5
        });
    }).on('affixed-bottom.bs.affix, affixed-top.bs.affix', function(e) {
      $(e.target).attr('style', '');
    })
  });

  $("[spy=\"affix-brand\"]").each(function(i, elem) {
    var top = $(elem).position().top;
    var bottom = $(document).height() - top + $(elem).outerHeight(true);
    $(elem).affix({
      offset: {
        top: top,
        bottom: function (span) {
          var bottom = $(document).outerHeight(true) - this.top - $(span).parents('td').outerHeight(true) + 41;
          return (this.bottom = bottom);
        }
      }
    }).on('affixed.bs.affix', function(e) {
      var $parent = $(e.target).parents('td');
      var pos = $parent.position();
      $(e.target)
        .attr('style', '')
        .removeClass('brand')
        .css({
          width: $(e.target).parents('td').outerWidth(true),
          backgroundColor: 'white',
          top: 51,
          padding: 10,
          margin: -5
        });
      }).on('affixed-bottom.bs.affix, affixed-top.bs.affix', function(e) {
        $(e.target)
          .attr('style', '')
          .addClass('brand');
      });
  });

  // $("[spy=\"affix\"]").

  // $("[spy=\"affix-brand\"]")
</script>

<div class="pull-right step-actions">
  <%= button "以后再说", after_register_path(:distributor), context: :default, class: 'btn-lg' %>
  <%= button "下一步", after_register_path(:distributor), context: :primary, class: 'btn-lg' %>
</div>
</div>
