<div>
  <div class="fixed">
    <%= f.fields_for :coupon_template_time do |coupon_form| %>
      起效时间: 
      <%= coupon_form.datetime_select :from, include_seconds: true %>
      <br>
      终止时间:
      <%= coupon_form.datetime_select :to, include_seconds: true %>
    <% end %>
  </div>
  <div class="from-draw">
      <%= number_field_tag "coupon_template[coupon_template_time_attributes][expire_duration_attributes][day]" %>天
      <%= number_field_tag "coupon_template[coupon_template_time_attributes][expire_duration_attributes][hour]" %>小时
  </div>
</div>