<div class="about-us">
  <header>
    <img class="head" src="<%= image_url('about/head.jpg') %>" alt="head-bg">
    <img class="biz" src="<%= image_url('about/biz.png') %>" alt="head-bg">
    <img class="cube" src="<%= image_url('about/cube.png') %>" alt="cube">
  </header>

  <div class="container">

    <h3 class="about-title">关于万流 <span class="gray">About</span></h3>

    <section>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
          <div class="run-wrapp">
            <img class="run-man" src="<%= image_url('about/run_man.jpg') %>" alt="run-man">
            <div class="bottom-text">
              马上摆脱传统模式 <br>
              开启您的21世纪商业网络
            </div>
          </div>
        </div>

        <div class="col-md-7 col-sm-7 col-xs-12">
          <h3 class="no-margin-title">万流社区</h3>
          <span class="block-text">开启您的21世纪商业网络</span><br>
          <p>万流电商平台不同于传统的电商平台，万流电商社区关注于商家与商家之间的联系，而不仅仅是商品的交易，在这里，你的任何商业活动，都能以最快的速度传播到整个社交网络中去，你可以在平台上发布商品，优惠活动，价格调整信息，与商业伙伴互动，你将进入全新的商业网络，通过先进的网络互联技术融合，让你的商业网络迅速有别于任何传统方式进行连接。</p>

          <h3 class="no-margin-title">首家实体店平台</h3>
          <span class="block-text green">万流平台 100% 实名认证用户 用得更放心 </span><br>
          <p>万流平台的用户 100% 实名认证用户，完整的实体店用户注册，无论你是供应商，还是零售商，在这里你都能找到，整个行业内的商家尽在一网，与整个行业的商家做生意，让你不在限于距离，让你众观全局不再只是一个想法。</p>

          <h3 class="no-margin-title">商业社交平台</h3>
          <span class="block-text">真正拥有一个属于商家的社交网络</span><br>
          <p>万流平台专注于B2B，让人们真正拥有一个属于商家的社交网络，一直是我们的奋斗目标，在这里商家可以畅所欲言，分享信息，交流学习，快来吧。你会发现很多熟悉的小伙伴在等你。</p>
        </div>
      </div>
      <hr>
    </section>

    <section class="red-border">
      <div class="media letter-head">
        <div class="media-left">
          <img class="letter" src="<%= image_url('about/a.png') %>" alt="letter-a">
        </div>
        <div class="media-body media-middle letter-text ">
          <span class="english">Business interaction as the center</span><br>
          <span class="chinese">万流商业社区<small>WANLIU.BIZ</small></span>
        </div>
      </div>

      <div class="media">
        <div class="media-left shake">
          <img class="shake" src="<%= image_url('about/shake.png') %>">
        </div>
        <div class="media-body media-middle">
          <h3 class="no-margin-title">万流社区以商业互动为中心</h3>
          <p>万流并不只是单纯的商品销售平台，你的活动可以吸引用户，你的价格公告也可以传给你的用户，任何一个简单的行为，都将引起一个互动，形象的推广，这并不是一个可能，而死一个实实在在的功能，我们的设计师，工程师竭尽所能的深思，如何让这一系列活动以最自然最简单的操作让你与整个社区互动起来，你将拜托只依赖成本的经营方式。</p>
        </div>
      </div>
      <hr>
    </section>

    <section class="red-border">
      <div class="media letter-head">
        <div class="media-left">
          <img class="letter" src="<%= image_url('about/b.png') %>" alt="letter-b">
        </div>
        <div class="media-body media-middle letter-text ">
          <span class="english">Local businiess district construction</span><br>
          <span class="chinese">万流商业社区<small>WANLIU.BIZ</small></span>
        </div>
      </div>
      <div class="media">
        <div class="media-left ">
          <img class="hunan" src="<%= image_url('about/hunan.png') %>">
        </div>
        <div class="media-body media-middle">
          <h3 class="no-margin-title">打造体贴人心的本地商圈</h3>
          <p>我们的营销团体，收集了大量行业内的信息，并将这些资料，编辑整理，分类到不同的行业，并根据你的商铺位置，建立一个围绕在你周围的本地商圈，免去你查找通讯录的麻烦，找到你周边的用户不再是一个麻烦事，与他们互动变得更加简单了。</p>
        </div>
      </div>
      <hr>
    </section>

    <section class="red-border">
      <div class="media letter-head">
        <div class="media-left">
          <img class="letter" src="<%= image_url('about/c.png') %>" alt="letter-c">
        </div>
        <div class="media-body media-middle letter-text ">
          <span class="english">APP is about to come</span><br>
          <span class="chinese">万流商业社区<small>WANLIU.BIZ</small></span>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
            <img class="app" src="<%= image_url('about/mobile.png') %>">
        </div>
        <div class="media-body media-middle">
          <h3 class="no-margin-title">万流只能APP即将来临</h3>
          <p>互联网智能移动 APP 正在紧张开发中，无数的用户与我们共同期待她的问世，届时万流网 —— 你的商业网络将随你移动，你可以随时随地的接受最新商业咨询，拓展你的商业网络，让你的拥有无限的发展空间，让我们共同期待与时代的变化吧。让我们与你携手面对美好的未来。</p>
        </div>
      </div>
    </section>

  </div> <!-- main-container -->
</div> <!-- about-us -->
