<h1 class="page-header"><%= @brand.title %> <div class="btn-group pull-right" role="toolbar" aria-label="...">
  <%#= link_to new_admins_industry_path, class: "btn btn-default" do %>
    <%#= icon :plus%>
  <%# end %>

  </div>
</h1>

<div class="brand-item">
  <div class="media brand-logo">
    <div class="media-left">
      <a href="#">
        <%= image_tag @brand.image.url %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= best_in_place @brand, :title, :as => :input, url: admins_brand_path(@brand), inner_class: 'form-control' %></h4>
      <p><%= best_in_place @brand, :description, :as => :textarea, url: admins_brand_path(@brand), inner_class: 'form-control', place_holder: '编辑描述' %></p>
    </div>
  </div>
  <br />
<!--   <div class="media brand-product-logo">
    <div class="media-left">
      <%= icon :briefcase %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">产品总数</h4>
      <p><%= @products.total %></p>
    </div>
  </div> -->
  <%= panel_row column_class: 'col-sm-4' do %>
    <%= panel @products.total, heading: '产品总数' %>
    <%= panel @categories.count, heading: '分类总数' %>
    <%= panel @industries.count, heading: '所属行业' %>
  <% end %>
</div>


<script type="text/javascript">
  $(".best_in_place").best_in_place();
</script>
