<%= content_for :title, @target.try(:nickname) || @target.try(:name) %>
<%= nav_back_button %>
<%= content_for :module, :chat %>

<%= render "chat_order_header" %>
<div class="container chat-order-body">
  <div class="row">
    <div class="order-table-wrap col-sm-6 col-xs-12">
      <div class="order-table">
        <%= render "chat_order_table" %>
      </div>
      <div class="order-buttons clearfix">
        <div class="buttons-execute">
          <div class="col-sm-6 col-xs-6 btn-wrap left">
            <button class="btn btn-confirm-order">确认订单</button>
          </div>
          <div class="col-sm-6 col-xs-6 btn-wrap right">
            <button class="btn btn-help">帮助</button>
          </div>
        </div>
        <div class="buttons-consult">
          <div class="col-sm-6 col-xs-6 btn-wrap left">
            <button class="btn btn-agrees">按住3S同意</button>
          </div>
          <div class="col-sm-6 col-xs-6 btn-wrap right">
            <button class="btn btn-disagrees">拒绝</button>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-list col-sm-6 col-xs-12">
      <div class="chat-inner" >
        <div class="message-list clearfix">
        </div>
      </div>

      <%= render "chat_input" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var StatusLoadUrl = window.StatusLoadUrl,
        MiniTable     = window.MiniTable,
        Chat          = window.Chat,
        userSocket    = window.userSocket,
        ownId         = userSocket.userId,
        channelId     = userSocket.getUserChannelId(),
        chatChannelId,
        targetId;

    <% unless @target.nil? %>
      targetId  = "<%= @target.id %>";
      chatChannelId = 'p' + targetId;
    <% end %>

    Chat.defaultOptions.avatarDefault = '<%= image_path "avatar.gif" %>';
    var $img = $('.chat-order-image')[0];
    var stateLoad = new StatusLoadUrl($img);

    <% unless @order.nil? %>
    var order = <%=raw @order.origin_hash.to_json %>;
    var miniTable = new MiniTable($('.chat-order-header'), $('.order-table-wrap'), order);
    <% end %>

    if (!targetId) {
      alert('无效的聊天对象！');
      $('.btn-send').attr('disabled', 'disabled');
      return;
    }

    var chat = new Chat($('.chat-order-header'), chatChannelId, {
      sendBtn: $('.btn-send')
    });

    chat.setTable(miniTable);

    chat.on('init', function(e, socket) {
      var chatId = '<%= @chat.id %>';
      socket.emit('set', { channelId: chatChannelId, key: 'chat_id', value: chatId });

      <% unless @order.nil? %>
      var orderId = '<%= @order.id %>';
      socket.emit('set', { channelId: chatChannelId, key: 'order_id', value: orderId })
      <% end %>
    });

    $(document).on('page:before-unload', function() {
      chat.leave();
    });
  });
</script>
