<div class="panel panel-default panel-item-edit">
  <div class="panel-heading">
    <h3><%=t(action_name, scope: 'actions') %> 自己的产品
      <small> ->
      <ol class="breadcrumb">
        <% @breadcrumb.each do |bread| %>
          <li><a href="javascript:void(0)"><%= bread.title.humanize %></a></li>
        <% end %>
        <li class="active"><%= @category.title %></li>
      </ol> </small></h3>
  </div>
  <div class="panel-body">
    <% path_method = @item.persisted? ? :shop_admin_item_path : :new_step2_shopitems_path %>
    <% url = send(path_method, @shop.name, @item, category_id: @category ) %>
    <%= form_for @item, url: url, html: { class: "form-horizontal item-form" } do |f| %>
      <%= f.hidden_field :filenames %>

      <!-- 错误显示 -->
      <% if @item.errors.any? %>
      <div class="list-group col-sm-offset-2 col-sm-10">
        <% @item.errors.full_messages.each do |msg| %>
          <a href="#" class="list-group-item list-group-item-danger"><%= msg %></a>
        <% end %>
      </div>
      <% end %>

      <!-- 图片 -->
      <div class="form-group">
        <%= f.label :images, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <div class="item-poster-list row">
            <% (@item.images || []).each do |uploader| %>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 new-item-poster">
                <div class="thumbnail">
                  <%= image_tag uploader.url(:cover), class: "item-poster" %>
                </div>
              </div>
            <% end %>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 new-item-poster">
                <div class="thumbnail">
                  <img src="<%= Settings.assets.gray_image %>" alt="gray image" class="item-poster">
                  <div class="plus-icon">+</div>
                  <div class="upload-btn"></div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <!-- 标题 -->
      <% group_with_errors @item, :title, f do %>
        <%= f.text_field :title, class: 'form-control' %>
      <% end %>

      <!-- 品牌 -->
      <% group_with_errors @item, :brand_id, f do %>
        <%= f.select :brand_id, options_from_collection_for_select(Brand.all, 'id', 'title'), {}, class: 'form-control' %>
      <% end %>

      <!-- 参考价 -->
      <% group_with_errors @item, :price, f do %>
          <%= f.number_field :price, class: 'form-control' %>
      <% end %>

      <!-- 零售价 -->
      <% group_with_errors @item, :public_price, f do %>
          <%= f.number_field :public_price, class: 'form-control' %>
      <% end %>

      <!-- 进货价 -->
      <% group_with_errors @item, :income_price, f do %>
          <%= f.number_field :income_price, class: 'form-control' %>
      <% end %>

      <!-- 商店分类 -->
      <% group_with_errors @item, :shop_category_id, f do %>
        <%= f.select :shop_category_id, options_from_collection_for_select(@shop.shop_category.descendants, 'id', 'title'), {}, class: 'form-control' %>
      <% end %>

      <hr />

      <% if Settings.dev.feature.dynamic_property %>

        <!-- 枚举全部属性 -->
        <% @properties.each do |property| %>
          <% group_with_property_errors @item, property, f do %>
            <%= property_edit @item, property %>
          <% end %>
        <% end %>

        <% unless @inventory_properties.blank? %>

          <hr />
          <!-- 枚举库存属性  -->
          <div class="inventory_properties">

          <% @inventory_properties.each do |property| %>
            <% group_with_property_errors @item, property, f do %>
              <%= property_edit @item, property %>
            <% end %>
          <% end %>

          </div>
          <hr />
        <% end %>
      <% end %>

      <!-- 库存设置 -->
      <%= render partial: "inventory_form", locals: {builder: f} %>

      <!-- 详情 -->
      <% group_with_errors @item, :description, f do %>
        <%= f.bootsy_area :description, class: "form-control", rows: 12, value: @item.description_lookup %>
      <% end %>

      <!-- 隐藏字段 -->
      <%= f.hidden_field :category_id %>

      <div class="form-group">
        <% if @item.persisted? %>
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit class: "btn btn-primary btn-lg" %>
          </div>
        <% else %>
          <%= f.submit t(:create_and_continue, scope: 'helpers.submit.item'), class: "btn btn-primary btn-lg" %>
          <%= f.submit t(:create, scope: 'helpers.submit.item'), class: "btn btn-info btn-lg" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var url = '<%= upload_image_shop_admin_items_path(@shop.name) %>';

  new NewItemPosters($('.new-item-poster'), url, $('input#item_filenames'));

  $(".inventory_properties .check-inventory").change(function(e) {
    var url = "<%= sa_item_inventory_config_path(@shop.name, @item) %>";
    $.ajax({
      url: url,
      type: 'PUT',
      data: $('.item-form').serialize()
    }).then(function(data) {
      $(".inventory_settings").hide().html(data).fadeIn("highlight");
    });
  })

  //表单数字验证
  $('.form-horizontal').on('submit',function(e){
    e.preventDefault();

    var $price = $('#item_price'),
        $public_price = $('#item_public_price'),
        $income_price = $('#item_income_price');

    function checkNumber($o){
      var value = $o.val();
      if(isNaN(value)){
        $('.error-tip').remove();
        $('.form-group').removeClass('has-error');
        $o.focus().closest('.form-group').addClass('has-error');
        $o[0].scrollIntoViewIfNeeded();
      }else{
        return true;
      }
    }

    checkNumber($price)
      && checkNumber($public_price)
        && checkNumber($income_price)
          && this.submit();
  });

</script
