<div class="inventory_settings" >
  <% if Settings.dev.feature.dynamic_property && @inventory_combination %>
    <div class="form-group">
      <label class="col-sm-2 control-label" >库存设置</label>
      <div class="col-sm-10">
          <div class="row">
            <% @inventory_combination.each_with_index do |item, index| %>
              <div class="col-md-6 col-sm-12">
                <div class="input-group" >
                  <span class="input-group-addon">
                    <% find_key = item.keys.sort_by(&:name).map {|k| "#{k.name}:#{item[k]}"}.join(';') %>
                    <% item.each do |prop, value| %>
                      <%= hidden_field_tag "inventories[#{index}][key][#{prop.name}]", value %>
                      <%= prop.title %>
                      <span class="label <%= label_color(value) %>"><%= prop.title_of(value) %></span>
                    <% end %>
                  </span>
                  <%= number_field_tag "inventories[#{index}][value]",  @stocks_with_index.try(:[], find_key).try(:[], :quantity), class: "form-control", placeholder: "库存" %>
                  <%= number_field_tag "inventories[#{index}][price_offset]", @stocks_with_index.try(:[], find_key).try(:[], :offset), class: "form-control", placeholder: "价格浮动", step: 0.01 %>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  <% else %>
    <% group_with_errors @item, "stock_changes.quantity", builder do %>
      <% if @item.new_record? %>
        <%= number_field_tag "inventory", @stock, class: "form-control", min: 1, placeholder: "库存", require: true %>
      <% else %>
        <%= number_field_tag "inventory", @stock, class: "form-control", placeholder: "库存", require: true %>
      <% end %>
    <% end %>
  <% end %>
</div>
