<div class="panel panel-default panel-category">
  <div class="panel-heading">
    <div class="btn-toolbar" role="toolbar" aria-label="...">
      <div class="btn-group">
        <h5>分类</h5>
      </div>
      <div class="btn-group">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
          <li><input type="text" placeholder="Search for..."></li>
        </ol>
      </div>
      <div class="btn-group pull-right">
        <button class="btn btn-default"><%= icon :remove %></button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-group">
          <% @categories.each do |cate| %>
            <li class="list-group-item"><%= cate.title %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="panel panel-default panel-items">
  <div class="panel-heading">
    <div class="btn-toolbar" role="toolbar" aria-label="...">
      <div class="btn-group"><h5>产品</h5></div>
      <div class="btn-group col-sm-4">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
          <input type="text" class="form-control" placeholder="Search for...">
        </div><!-- /input-group -->
      </div>
      <div class="btn-group pull-right">
        <%= link_to new_shop_admin_item_path(@shop.name), class: 'btn btn-success' do %>
          <%= icon :plus %> 新增
        <% end %>
      </div>
    </div>
  </div>
  <%= simple_table_for @items, with: ItemTable%>
  <div class="panel-footer">
    <nav>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
