<tr class="cart-item" data-cart-item-id="<%= item.id %>">
  <td class='avatar'>
    <div class='media'>
      <div class='media-left'>
        <%= link_to cartable_url(item) do %>
          <%= image_tag item.avatar_url, class: 'media-object', alt: "商品图片" %>
        <% end %>
      </div>
      <div class='media-body'>
        <%= "#{item.title} #{item.properties_title}" %>
      </div>
    </div>
  </td>
  <td  class="price">
    <%= number_to_currency item.price %>
  </td>
  <td>
    <span><%= number_with_delimiter item.quantity %></span>
  </td>
  <td class="subtotal">
    <%= number_to_currency item.price * item.quantity %>
  </td>
</tr>

<% if item.cartable.is_a? Item %>
  <% item.cartable.eval_available_gifts(item.quantity) %>
  <% if item.cartable.available_gifts.present? %>
    <tr class='order-gifts'>
      <td colspan='5'>
        <% item.cartable.available_gifts.each do |gift| %>
          <div class='order-gift'>
            <div class='head'>
              <%= image_tag "gift-white.png" %>
            </div>
            <div class='desc'>
              <div class='avatar'>
                <%= image_tag gift.avatar_url %>
              </div>
              <div class='title-quantity'>
                <div class='title'>
                  <span>
                    <%= truncate("#{gift.present.title} #{gift.properties_title}", length: 15) %>
                  </span>
                </div>
                <div>
                  <span>数量：<%= gift.available_quantity %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>