<tr>
  <td>
    <%= link_to orderable_url(item) do %>
      <%= image_tag item.avatar_url, class: 'media-object', alt: "商品图片" %>
    <% end %>
    <%= item.title %>
  </td>
  <td> <%= item.properties_title %> </td>
  <td> <%= number_to_currency item.price %> </td
  <td> <%= number_with_delimiter item.quantity %> </td>
  <td> <%= number_to_currency item.price * item.quantity %> </td>

  <% if item == order.items.first %>
    <td rowspan='<%= order.items.count %>'>
      <% unless order.finish? %>
        <button type="button" class="order-finish btn btn-danger" data-toggle="modal" data-target="#finish-order-<%= order.id %>">
          确认收货
        </button>

        <div class="modal fade" id="finish-order-<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="myOrderLable<%= order.id %>">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myOrderLable<%= order.id %>">确认收货</h4>
              </div>
              <div class="modal-body">
                订单号: <%= order.id %> 确认收货?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <%= link_to "确认收货", order_path(order, "order[status]" => "finish"), method: :patch, class: 'btn btn-primary' %>
                <!-- <button type="button" class="btn btn-primary"></button> -->
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <span><%= link_to "订单详情", order_path(order) %></span>
    </td>
  <% end %>
</tr>