<li class="list-group-item cart-item-<%= item.id %>">
  <div class="media">
    <div class="media-left">
      <%= link_to shop_item_path(supplier.name, item.orderable) do %>
        <%= image_tag item.avatar_url, class: 'media-object', alt: "商品图片" %>
      <% end %>
    </div>
    <div class="media-body">
      <h3 class="media-heading"><%= item.title %></h3>
      <h4 class="price"><span class="label label-default">价格</span> <%= number_to_currency item.price %></h4>
      <h4 class="quantity"><span class="label label-default">数量</span> <%= number_with_delimiter item.quantity %></h4>
      <h4 class="subtotal"><span class="label label-default">小计</span> <%= number_to_currency item.price * item.quantity %></h4>
    </div>
  </div>
</li>