<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-group pull-right">
      <%#= link_to '#', class: 'btn btn-link' do %>
        <%= caret %>
      <%# end %>
    </div>
    <%= link_to order do %>
      订单详情 <%= order.supplier.title %> ( <%= order.items.count %> 件商品) 订单号: <%= order.id %>
    <% end %>
  </div>
  <ul class="list-group cart-item-details">
    <%= render partial: "order_item", collection: order.items, as: :item, locals: { supplier: order.supplier } %>
  </ul>
  <div class="panel-footer">
    <h4>总计：<span><%= order.total %>元</span></h4>
    <!-- <input type='submit' value='生成订单' class='btn btn-primary'> -->
  </div>
</div>