<tr class='item'>
  <td class='avatar'>
    <%= link_to orderable_url(item) do %>
      <%= image_tag item.avatar_url, class: 'media-object', alt: "商品图片" %>
    <% end %>
  </td>
  <td>
    <span class='title'><%= item.title %></span><br>
    <span><%= item.properties_title %></span>
    </td>
  <td> 单价：<%= number_to_currency item.price %> </td>
  <td> 数量：<%= number_with_delimiter item.quantity %> </td>
  <td> 小计：<%= number_to_currency item.price * item.quantity %> </td>

  <% if controller.action_name != 'show' %>
    <td rowspan='<%= order.items.count %>' class='operation'>
      <% if item == order.items.first && !order.finish? %>
        <div class='finish-order text-center'>
          <button type="button" class="order-finish btn btn-danger" data-toggle="modal" data-target="#finish-order-<%= order.id %>">
            确认收货
          </button>
        </div>

        <div class="modal fade" id="finish-order-<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="myOrderLable<%= order.id %>">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myOrderLable<%= order.id %>">确认收货</h4>
              </div>
              <div class="modal-body">
                订单号: <%= order.id %> 确认收货?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <%= link_to "确认收货", order_path(order, "order[status]" => "finish"), method: :patch, class: 'btn btn-primary' %>
                <!-- <button type="button" class="btn btn-primary"></button> -->
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class='detail text-center'>
        <span><%= link_to "订单详情", order_path(order) %></span>
      </div>
      <% if !order.evaluated? && order.pmo_grab_id.present? %>
        <% one_mone = OneMoney[order.one_mone_id] %>
        <div><%= link_to '评价', "/one_money/<%= one_money.start_at.format('%y-%M-%d') %>/index.html#/comment/<%=order.pmo_grab_id %>", class: 'btn btn-primary' %></div>
        <% end %>
    </td>
  <% end %>
</tr>
