<div class='wx-cards'>
  <div class='notify pull-left'>
    <% if @chosen_card.present? %>
      <span class='empty' style='display: none;'>您有微信优惠券可以使用</span>
      <span class='chosen'>
        已选择 <span class='title'><%= @chosen_card.title %></span>，下单立减<span class='amount'><%= (@chosen_card.reduce_cost.to_f/100).to_i %></span>元
      </span>
    <% else %>
      <span class='empty'>您有微信优惠券可以使用</span>
      <span class='chosen' style='display: none;'>
        已选择 <span class='title'></span>，下单立减<span class='amount'></span>元
      </span>
    <% end %>
  </div>
  <div class='pull-right'>
    <span class='glyphicon glyphicon-menu-right glyphicon-next'></span>
  </div>
  <div style='clear: both;'></div>
  <div style='display: none;' class='card-hidden-fields'>
    <% @cards.each do |card| %>
      <% if @chosen_card.try(:id) == card.id %>
        <input value="<%= card.wx_card_id %>" class="card_<%= card.id %>" type="hidden" name="order[card]" id="order_card">
      <% else %>
        <input value="<%= card.wx_card_id %>" disabled="disabled" class="card_<%= card.id %>" type="hidden" name="order[card]" id="order_card">
      <% end %>
    <% end %>
  </div>
</div>