<div class='buy-now-confirm col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1'>
  <%= render "order_address", locals: { delivery_addresses: @delivery_addresses, order: @order } %>

  <%= form_for @order, url: "/orders/buy_now_create" do |f| %>
    <%= f.hidden_field :address_id %>
    <%= f.hidden_field :supplier_id %>

    <div class='cart-group'>
      <div class='header'>
        <span class='shop'>
          <%= link_to shop_site_path(@supplier.name) do %>
            <%= image_tag @supplier.avatar_url %><%= @supplier.title %>
          <% end %>
        </span>
      </div>

      <table class='table table-bordered' style='background-color: white;'>
        <colgroup>
          <col width='35%' />
          <col width='15%' />
          <col width='25%' />
          <col width='15%' />
        </colgroup>

        <%= f.fields_for :items do |item_form| %>
          <%= item_form.hidden_field :orderable_type %>
          <%= item_form.hidden_field :orderable_id %>

          <% @order_item.properties.each do |key, value| %>
            <%= item_form.hidden_field "properties[#{key}]", value: value %>
          <% end %>
          <%= render partial: "buy_now_item", locals: { item: @order_item, supplier: @supplier, f: item_form, props: @props, orderable: @orderable } %>

          <% if @orderable.try(:gifts).blank? %>
            <%= hidden_field_tag "order[item_gifts][#{@orderable.id}][undefined]", nil, { multiple: true } %>
          <% else %>
            <% @orderable.gifts.each do |gift| %>
              <%= hidden_field_tag "order[item_gifts][#{@orderable.id}][#{gift.id}]", gift.eval_available_quantity(@order_item.quantity), { multiple: true } %>
            <% end %>
          <% end %>
        <% end %>
      
        <tr class='footer'>
          <td colspan='5' class='text-right'>
            <div class='confirmation-total'>
              <%= render "confirmation_total" %>
            </div>

            <%= f.submit "提交订单", class: 'submit'%>
          </td>
        </tr>
      </table>

      <div class="coupons">
        <div class="selectable-coupons">
          <ul class="list-group">
            <% @order.available_coupons(coupon_ids: @order.coupon_ids).each do |coupon| %>
              <li class="list-group-item coupon" data-coupon-id="<%= coupon.id %>">
                <%= coupon.name %> 减<%= coupon.par %>元
                <button class='btn btn-default use-coupon' type='button' role='button'>使用</button>
                <%= hidden_field_tag "order[coupon_ids][]", coupon.id, disabled: true %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="selected-coupons">
          <% @order.coupons.each do |coupon| %>
            <div class="coupon" data-coupon-id="<%= coupon.id %>">
              <%= coupon.name %> 减<%= coupon.par %>元
              <%= hidden_field_tag "order[coupon_ids][]", coupon.id %>
              <button class='btn btn-default delete-coupon' type='button' role='button'>删除</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/template" id="cart-item-gifts-template">
    <div class='cart-gift' data-gift-id="{{= id }}">
      <div class='head'>
        <%= image_tag "gift-white.png" %>
      </div>
      <div class='desc'>
        <div class='avatar'>
          <img src="{{= avatar_url }}" >
        </div>
        <div class='title-quantity'>
          <div class='title'>
            <span>
              {{= composed_title }}
            </span>
          </div>
          <div class='gift-quantity'>
            <span>数量：{{= quantity }}</span>
          </div>
        </div>
      </div>
    </div>
</script>

<script type="text/javascript">
  (function() {

    // TODO backed calculating
    $('.cart_item_quantity').change(function(event, value) {
      var quantity = value ? value : (1 * $(this).val());

      changeQuantity(this, quantity);
    });

    $('.cart_item_quantity').keyup(function(event) {
      var quantity = $(this).val();
      if (!quantity) return;

      changeQuantity(this, quantity);
    });

    $('.use-coupon').click(function() {
      var $el = $(this);
      $(this).closest("ul").find('.use-coupon').attr("disabled", "disabled");
      $(this).closest(".coupon").find('input').removeAttr("disabled");

      var data = $(this).closest('form').serialize();
      $.post('/orders/buy_now_select_coupon?' + data)
        .done(function(data) {
          $el.parent('.coupon').remove();
          // $el.closest("ul").find('.use-coupon').attr("disabled", "disabled");
        });
    });

    function changeQuantity(quantityDom, quantity) {
      quantity = 1 * quantity;

      <% if @orderable.is_a?(Item) %>
        $.getJSON('/order_items/buy_now_gifts', {
          item_id: <%= @orderable.id %>,
          quantity: quantity
        }).done(function(data) {
          var $cartItem = $(quantityDom).closest('.cart-item')
          CartGroup.rerenderItemGifts({gifts: data.gifts, el: $cartItem});

          _.each(data.gifts, function(gift) {
            var $hiddenInput = $("#order_item_gifts_" + <%= @orderable.id %> + "_" + gift.id);
            $hiddenInput.val(gift.quantity);
          });

          var formData = $('#new_order').serialize()
          $.post('/orders/express_fee?' + formData)
            .done(function(html) {
              $('.confirmation-total').html(html);
            })
        })
      <% end %>
    }
  })();
</script>