<div class='buy-now-confirm col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1'>
  <div class='delivery-addresses panel panel-default'>
    <% if @delivery_addresses.present? %>
      <div class="panel-heading">
        选择收货地址
      </div>
      <% @delivery_addresses.each_with_index do |address, index| %>
        <div class='delivery-address <%= "active" if 0 == index %>' data-address-id=<%= address.id %>>
          <div class='title'>
            <%= address.contact %>
          </div>
          <div class='detail'>
            <%= address.delivery_address %>
          </div>
        </div>
      <% end %>
      <div class='divider' style='clear: both'></div>
      <%= link_to_unless current_user.reach_location_limit?, "添加一个新的收货地址", 'javascript: void(0)', class: 'add-another-location' %>
    <% else %>
      <div class="panel-heading">
        <div class='empty-notify'>你还没有收货地址，现在创建一个吧</div>
      </div>
      <div class='divider' style='clear: both; display: none;'></div>
      <div>
        <%= current_user.reach_location_limit? %>
      </div>
      <%= link_to"添加一个新的收货地址#{!!current_user.reach_location_limit?}" %>", 'javascript: void(0)', class: 'add-another-location', style: 'display: none;' %>
    <% end %>
    <div class='add-new-location' style='display: <%= @delivery_addresses.present? ? "none" : "block" %>'>
      <%= render 'locations/form', locals: { location: current_user.locations.build } %>
    </div>
  </div>

  <%= form_for @order, url: "/orders/buy_now_create" do |f| %>
    <%= f.hidden_field :address_id %>
    <%= f.hidden_field :supplier_id %>

    <div class="panel panel-default">
      <div class="panel-heading">
        店铺：<%= link_to @supplier.title, shop_site_path(@supplier) %>
      </div>
      <%= f.fields_for :items do |item_form| %>
        <%= item_form.hidden_field :orderable_type %>
        <%= item_form.hidden_field :orderable_id %>
        <%= item_form.hidden_field :title %>
        <%= item_form.hidden_field :price %>
        <% @order_item.properties.each do |key, value| %>
          <%= item_form.hidden_field "properties[#{key}]", value: value %>
        <% end %>
        <ul class="list-group order-items">
          <%= render partial: "buy_now_item", locals: { item: @order_item, supplier: @supplier, f: item_form, props: @props } %>
        </ul>
      <% end %>
      <div class="panel-footer">
        <h4>总计：<span class='js-buy-now-total'><%= @total %></span>元</h4>
      </div>
    </div>

    <div>
      <%= f.submit "提交订单", value: '立即购买', class: 'btn btn-primary btn-lg'%>
    </div>
  <% end %>
</div>

<script type="text/template" id='delivery-address'>
  <div class='delivery-address' data-address-id={{= address.id }}>
    <div class='title'>
      {{= address.contact }}
    </div>
    <div class='detail'>
      {{= address.delivery_address }}
    </div>
  </div>
</script>

<script type="text/javascript">
  var addTemplate = _.template($('#delivery-address').html());

  $('form.new_location').submit(function (event) {
    event.preventDefault();
    var data = $(this).serializeArray();

    var q = $.post('/locations', data);
    
    q.done(function (data, status, xhr) {
      var html = addTemplate({ address: data });
      $('div.empty-notify').parent().text('选择收货地址');
      $('div.empty-notify').remove();

      $('div.divider').show();
      $('div.divider + a').show();

      $('div.divider').before(html);
      $('div.add-new-location').hide();

      if (!$('.delivery-address.active').length) {
        $($('.delivery-address')[0]).addClass('active');
        $($('.delivery-address')[0]).click();
      }

      $('div.add-new-location form')[0].reset();
    });

    q.fail(function (data, status, xhr) {
      // debugger;
    })
  });

  $('a.add-another-location').click(function (event) {
    $('div.add-new-location').toggle();
  });

  $('.delivery-addresses').on('click', '.delivery-address', function(event) {
    var $address = $(this).is('.delivery-address') ? $(this) : $(this).parents.find('.delivery-address');
    $('.delivery-addresses .delivery-address').removeClass('active');
    $address.addClass('active');

    var addressId = $(this).data('addressId');
    $('input#order_address_id').val(addressId);
  });

  // TODO backed calculating
  $('.cart_item_quantity').change(function(event, value) {
    var quantity = value ? value : (1 * $(this).val());

    changeQuantity(this, quantity);
  });

  $('.cart_item_quantity').keyup(function(event) {
    var quantity = $(this).val();
    if (!quantity) return;

    changeQuantity(this, quantity);
  });

  function changeQuantity(quantityDom, quantity) {
    var attrId = $(quantityDom).attr('id');
    var priceAttrId = attrId.replace('quantity', 'price');
    var $price = $('#' + priceAttrId);
    var price = 1 * $price.val();
    var $subtotal = $(quantityDom).parents('.quantity').siblings('.subtotal');
    var $total = $('.js-buy-now-total');

    quantity = 1 * quantity;

    var subTotal = (price * quantity).toFixed(2);
    $subtotal.text("¥ " + subTotal);
    $total.text(subTotal);
  }
</script>