<div class='order-confirm col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1'>
  <%= render "order_address", locals: { delivery_addresses: @delivery_addresses, order: @order } %>

  <%= form_for @order do |f| %>
    <%= f.hidden_field :address_id %>
    <%= f.hidden_field :supplier_id %>

    <% @order_items.each do |cart_item| %>
      <% if cart_item.cartable.try(:gifts).blank? %>
        <%= hidden_field_tag "order[cart_item_gifts][#{cart_item.id}][undefined]", nil, { multiple: true } %>
      <% else %>
        <% cart_item.cartable.gifts.each do |gift| %>
          <%= hidden_field_tag "order[cart_item_gifts][#{cart_item.id}][#{gift.id}]", gift.eval_available_quantity(cart_item.quantity), { multiple: true } %>
        <% end %>
      <% end %>
    <% end %>
    <div class='panel panel-default'>
    <div class='cart-group'>
      <div class='panel-heading'>
          <span>商品信息</span>
          <div class="shop pull-right">
          <%= link_to shop_site_path(@supplier.name) do  %>
            <%= image_tag @supplier.avatar_url %>
                      <% end %>
                 <%= link_to shop_site_path(@supplier.name) do  %>
            <%= @supplier.title %>
          <% end %>

        </div>
      </div>

      <table class='table '>
        <colgroup>
          <col width='35%' />
          <col width='15%' />
          <col width='25%' />
          <col width='15%' />
        </colgroup>
        <%= render partial: "confirmation_item", collection: @order_items.sort_by(&:id), as: :item, locals: { supplier: @supplier, f: f } %>
        <tr class='footer'>
          <td colspan='5' class='text-right'>
            <div class='confirmation-total'>
              <%= render "confirmation_total" %>
            </div>
            <%= link_to "返回购物车", cart_path, class: 'cancel' %>
            <%= f.submit "提交订单", class: 'submit'%>
            
          </td>
        </tr>
      </table>

      <div class="coupons">
        <div class="selectable-coupons">
          <ul class="list-group">
            <% @order.available_coupons(coupon_ids: @order.coupon_ids).each do |coupon| %>
              <li class="list-group-item coupon" data-coupon-id="<%= coupon.id %>">
                <%= coupon.name %> 减<%= coupon.par %>元
                <button class='btn btn-default use-coupon'>使用</button>
                <%= hidden_field_tag "order[coupon_ids][]", coupon.id, disabled: true %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="selected-coupons">
          <% @order.coupons.each do |coupon| %>
            <div class="coupon" data-coupon-id="<%= coupon.id %>">
              <%= coupon.name %> 减<%= coupon.par %>元
              <%= hidden_field_tag "order[coupon_ids][]", coupon.id %>
              <button class='btn btn-default delete-coupon'>删除</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  (function() {
    $('.use-coupon').click(function() {
      var $el = $(this);
      $(this).closest("ul").find('.use-coupon').attr("disabled", "disabled");
      $(this).closest(".coupon").find('input').removeAttr("disabled");

      var data = $(this).closest('form').serialize();
      $.post('/orders/select_coupon?' + data)
        .done(function(data) {
          $el.parent('.coupon').remove();
          // $el.closest("ul").find('.use-coupon').attr("disabled", "disabled");
        })
    });
  })();
</script>