<div class='order-confirm col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1'>
  <div class="row">
    <%= render "order_address", locals: { delivery_addresses: @delivery_addresses, order: @order } %>
    <%= form_for @order do |f| %>
      <%= f.hidden_field :address_id %>
      <%= f.hidden_field :supplier_id %>

      <% @order_items.each do |item| %>
        <%= f.hidden_field :cart_item_ids, { multiple: true, value: item.id } %>
      <% end %>

      <div class="panel panel-default cart-group">
        <div class="panel-heading">
          <div class="pull-right">
            <%= link_to shop_site_path(@supplier.name), class: 'shop-link' do %>
              <%= image_tag @supplier.avatar_url, class: "shop-logo" %><%= @supplier.title %>
            <% end %>
          </div>
          商品信息
        </div>
        <div class="panel-body">
          <table class='table'>
            <colgroup>
              <col width='35%' />
              <col width='15%' />
              <col width='25%' />
              <col width='15%' />
            </colgroup>
            <%= render partial: "confirmation_item", collection: @order_items.sort_by(&:id), as: :item, locals: { supplier: @supplier, f: f } %>
          </table>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <span>
              已选择
              <span class='total-quantity'><%= @order_items.map(&:quantity).reduce(:+) %></span> 件商品&emsp;合计
              <span class='total-total'>
                <%= @order_items.map { |item| item.price * item.quantity }.reduce(:+)  %>
              </span>元
            </span>
            <%= link_to "返回购物车", cart_path, class: 'cancel' %>
            <%= f.submit "提交订单", class: 'submit'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
