<div class='order-confirm col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1'>
  <%= render "order_address", locals: { delivery_addresses: @delivery_addresses, order: @order } %>

  <%= form_for @order do |f| %>
    <%= f.hidden_field :address_id %>
    <%= f.hidden_field :supplier_id %>

    <% @order_items.each do |cart_item| %>
      <% if cart_item.cartable.try(:gifts).blank? %>
        <%= hidden_field_tag "order[cart_item_gifts][#{cart_item.id}][undefined]", nil, { multiple: true } %>
      <% else %>
        <% cart_item.cartable.gifts.each do |gift| %>
          <%= hidden_field_tag "order[cart_item_gifts][#{cart_item.id}][#{gift.id}]", gift.eval_available_quantity(cart_item.quantity), { multiple: true } %>
        <% end %>
      <% end %>
    <% end %>
    <div class='panel panel-default'>
    <div class='cart-group'>
      <div class='panel-heading'>
          <span>商品信息</span>
          <div class="shop pull-right">
          <%= link_to shop_site_path(@supplier.name) do  %>
            <%= image_tag @supplier.avatar_url %>
                      <% end %>
                 <%= link_to shop_site_path(@supplier.name) do  %>
            <%= @supplier.title %>
          <% end %>

        </div>
      </div>

      <table class='table '>
        <colgroup>
          <col width='35%' />
          <col width='15%' />
          <col width='25%' />
          <col width='15%' />
        </colgroup>
        <%= render partial: "confirmation_item", collection: @order_items.sort_by(&:id), as: :item, locals: { supplier: @supplier, f: f } %>
        <tr class='footer'>
          <td colspan="4">
            <div class="pull-right">
              <%= f.submit "提交订单", class: 'submit'%>
            </div>
            <div class="pull-right">
              <%= link_to "返回购物车", cart_path, class: 'cancel' %>
            </div>
            <div class="footer-box">
              <div class="confirmation-coupon table-cell-middle">
                <div class="coupon coupon-select">
                  <div class="coupon-content">优惠券</div>
                  <div class="glyphicon glyphicon-menu-down"></div>
                  <i></i>
                </div>
                <div class="coupon-popup">
                <div class="coupon-list">
                  <i class="close-popup glyphicon glyphicon-remove"></i>
                  <ul>
                    <% @order.available_coupons(coupon_ids: @order.coupon_ids).each do |coupon| %>
                      <%= render "orders/coupon", locals: {coupon: coupon} %>
                    <% end %>
                  </ul>
                </div>
                <span class="bot"></span>
                <span class="top"></span>
              </div>
              </div>
              <div class='confirmation-total table-cell-middle'>
                <%= render "confirmation_total" %>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  (function() {
    $('.coupon-select').click(function(e) {
      var $height = $('.coupon-popup').outerHeight(),
          $display = $('.coupon-popup').css('display');
          $height = $height + 8;
          if ($display === 'none') {
            $('.coupon-popup').css('top','-'+$height+'px');
            $('.coupon-popup').fadeIn();
          }
          else{
            $('.coupon-popup').fadeOut();
          }
      e.stopPropagation();
    });

    $('.coupon-list').on('click','.btn-select',function(){
      var cssClass = $(this).prop('class');
      if (cssClass.indexOf('btn-selected') < 0) {
        $(this).addClass('btn-selected'); 
        $(this).siblings('#order_coupon_ids_').prop('disabled','');
        $(this).val('取消');
        formPost();
      }
      else{
        $(this).removeClass('btn-selected');
        $(this).siblings('#order_coupon_ids_').prop('disabled','disabled');
        $(this).val('选择');
        formPost();
      }
    });

    $('.close-popup').click(function(){
      $('.coupon-popup').fadeOut();
    });
  })();


  function formPost(){
    var data = $($('form')[1]).serialize();
    $.post('/orders/select_coupon?' + data)
    .done(function(data){
      console.log(data);
      $('.confirmation-total').html(data.total_html);
    });
  }
</script>