<div>
	<div class="congrat alert alert-success text-center" role="alert">
    恭喜你，抢购成功！请填写好收货地址信息
  </div>
  <div class='address-form'>
    <%= form_for @location, url: yiyuan_address_orders_path(callback: callback_url) do |f| %>
      <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <%= group_with_errors @location, :contact, f, title: '姓名', layout: :normal, required: true do %>
          <%= text_field :location, :contact, class: 'form-control required', maxlength: 30 %>
        <% end %>
      </div>

      <%= f.hidden_field :province_id, value: '430000' %>
      <%= f.hidden_field :city_id, value: '430400' %>
      <%= f.hidden_field :region_id, value: '430481' %>

      <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <%= group_with_errors @location, :road, f, title: '街道地址', layout: :normal, required: true do %>
          <%= text_field :location, :road, class: 'form-control required' %>
        <% end %>
      </div>

      <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <%= group_with_errors @location, :contact_phone, f, title: '手机/座机号', layout: :normal, required: true do %>
          <%= text_field :location, :contact_phone, class: 'form-control required' %>
        <% end %>
      </div>

      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= f.submit "保存收货地址", class: "btn btn-danger " %>
      </div>

      <div style='clear: both;'></div>
    <% end %>
  </div>
</div>