<div>
	<div class="congrat alert alert-success text-center" role="alert">
    恭喜你，抢购成功！请填写好收货地址信息
  </div>
  <div class='yiyuan-address-form'>
    <%= form_for @location, url: yiyuan_address_orders_path(callback: callback_url) do |f| %>
      <div class='fields'>
        <div class="row <%= @location.errors.messages[:contact].present? ? 'has-error' : '' %>">
          <div class='col-xs-offset-2 col-xs-10 error-message control-label'>
            <% if @location.errors.messages[:contact].present? %>
              收件人<%= @location.errors.messages[:contact].join(', ') %>
            <% end %>
            &nbsp;
          </div>
          <label class="col-xs-2 control-label text-right" for="location_contact">
            收件人
          </label>
          <div class="col-xs-10">
            <%= f.text_field :contact, class: 'required', maxlength: 30, autofocus: true, autocomplete: :off %>
          </div>
        </div>

        <div class="row <%= @location.errors.messages[:contact_phone].present? ? 'has-error' : '' %>">
          <div class='col-xs-offset-2 col-xs-10 error-message control-label'>
            <% if @location.errors.messages[:contact_phone].present? %>
              手机<%= @location.errors.messages[:contact_phone].join(', ') %>
            <% end %>
            &nbsp;
          </div>
          <label class="col-xs-2 control-label text-right" for="location_contact_phone">
            手机
          </label>
          <div class="col-xs-10">
            <%= f.text_field :contact_phone, class: 'required', maxlength: 15, autocomplete: :off %>
          </div>
        </div>

        <div class="row <%= @location.errors.messages[:road].present? ? 'has-error' : '' %>">
          <div class='col-xs-offset-2 col-xs-10 error-message control-label'>
            <% if @location.errors.messages[:road].present? %>
              地址<%= @location.errors.messages[:road].join(', ') %>
            <% end %>
            &nbsp;
          </div>
          <label class="col-xs-2 control-label text-right" for="location_road">
            地址
          </label>
          <div class="col-xs-10">
            <%= f.text_field :road, class: 'required', autocomplete: :off %>
          </div>
        </div>
      </div>

      <%= f.hidden_field :province_id, value: '430000' %>
      <%= f.hidden_field :city_id, value: '430400' %>
      <%= f.hidden_field :region_id, value: '430481' %>

      <div class="form-group submit pull-right">
        <%= f.submit "保存地址", class: "btn btn-danger " %>
      </div>

      <div style='clear: both;'></div>
    <% end %>
  </div>
</div>