<div class='order-detail col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1'>
  <div class='panel panel-default'>
    <div class="panel-body">
      <div class='title'>
        <b>订单信息</b>
        <span class='shop-info'>
          <%= link_to shop_site_path(@order.supplier.name) do %>
            <%= image_tag @order.supplier.avatar_url %><%= @order.supplier.title %>
          <% end %>
        </span>
      </div>
      <table class='table table-bordered'>
        <colgroup>
          <col width="50%" />
          <col width="50%" />
        </colgroup>
        <tr class='details'>
          <td>
            <div class='receiver-address'>
              <div class='title'>
                <b>收货人信息</b>
                <div></div>
              </div>
              <div>收货人：<%= @order.receiver_name %></div>
              <div>地&nbsp;&nbsp;&nbsp;&nbsp;址：<%= @order.delivery_address %></div>
              <div>电&nbsp;&nbsp;&nbsp;&nbsp;话：<%= @order.receiver_phone %></div>
            </div>
          </td>
          <td>
            <div class='order-status'>
              <% if @order.finish? %>
                <div class='title'>订单状态：订单已经完成，交易成功！</div>
              <% end %>
              <div>订单编号：<%= @order.id %></div>
            </div>
          </td>
        </tr>
      </table>

      <div class='order-note row show'>
        <div class='col-xs-2'>备注</div>
        <div class='col-xs-8 note'>
          <%= @order.note.present? ? @order.note : "暂无备注" %>
        </div>
        <% unless @order.finish? %>
          <div class='col-xs-2'>
            <button class='btn btn-default add-note' data-toggle="modal" data-target="#note-order-<%= @order.id %>"><%= @order.note.present? ? "修改" : "添加" %></button>
          </div>
        <% end %>
      </div>

      <div class='title'><b>商品清单</b></div>
      <div class='items'>
        <table class='table table-bordered order'>
          <colgroup>
            <col width="28%" />
            <col width="24%" />
            <col width="16%" />
            <col width="16%" />
            <col width="16%" />
          </colgroup>

          <tbody>
            <%= render partial: "order_item", collection: @order.items, as: :item, locals: { order: @order, supplier: @order.supplier } %>
            <tr>
              <td colspan='5'>
                <div class='text-right'>
                  一共<%= @order.items_and_gifts_count %>件商品&emsp;合计：<%= number_to_currency @order.items_total %>元<br>
                  运送费用：<%= number_to_currency(@order.express_fee || 0) %>元<br>
                  <% if @order.paid_total && @order.paid_total != @order.origin_total %>
                    <span class='reduce'>已优惠：<%= number_to_currency @order.origin_total - @order.paid_total %>元</span><br>
                  <% elsif @order.total != @order.origin_total %>
                    <span class='reduce'>已优惠：<%= number_to_currency @order.origin_total - @order.total %>元</span><br>
                  <% end %>
                  <h4>
                    付款：<span class='total'>
                      <%= number_to_currency @order.paid_total || @order.total %>元
                    </span>
                  </h4>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<% unless @order.finish? %>
  <!-- 修改备注弹出框 -->
  <div class="modal fade" id="note-order-<%= @order.id %>" tabindex="-1" role="dialog" aria-labelledby="noteOrderLable<%= @order.id %>">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myOrderLable<%= @order.id %>">备注</h4>
        </div>
        <div class="modal-body">
          <div class='add-order-note row'>
            <div class='col-xs-2'>备注</div>
            <div class='col-xs-10'>
              <textarea class='new-order-note' rows=5  maxlength="150"><%= @order.note %></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary add-note-ok">确定</button>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $(function () {
    $('.add-note-ok').click(function (event) {
      var $modal = $(this).closest('.modal');
      var note = $modal.find('textarea.new-order-note').val();

      // if(note.length > 0) {
        $.post('/orders/<%= @order.id %>', {
          order: {
            note: note
          },
          _method: 'patch'
        }).done(function (data, status, xhr) {
          if (note.length == 0) note = "暂无备注";
          $('.order-note .note').text(note);
          $modal.modal('hide');
        }).always(function () {
          $modal.modal('hide');
        })
      // } else {
      //   $modal.modal('hide');
      // }
    })
  })
</script>
