<% content_for :module, 'orders' %>

<div class='yiyuan-confirm-location'>
  <div class='location-mark'>
    <span class='glyphicon glyphicon-map-marker'></span>
  </div>

  <div class='location-detail'>
    <div class='contact'>
      <span class='contact'><%= @location.contact %></span>
      <span class='contact-phone'><%= @location.contact_phone %></span>
    </div>
    <div class='address-detail'>
      <%= "#{@location.province_name}#{@location.city_name}#{@location.region_name}#{@location.road}" %>
    </div>
  </div>

  <div class='array'>
    <span class='glyphicon glyphicon-menu-right glyphicon-next'></span>
  </div>
</div>
<div class='envelope-border'></div>

<div class='prmotion-desc'>
  货到付款<span class='notify'>（本活动仅货到付款）</span>
</div>


<%= form_for @order, url: yiyuan_confirm_orders_path(callback: request.fullpath), html: { class: 'yiyuan-order-form' } do |f| %>
  <div class='order-note row'>
    <div class='col-xs-2'>备注</div>
    <div class='col-xs-10'><%= f.text_field :note, placeholder: '暂无备注', autocomplete: 'off', autofocus: true %></div>
  </div>

  <div class='yiyuan-confirm order-confirm-mobile'>

    <%= f.hidden_field :supplier_id %>
    <%= f.hidden_field :address_id, value: @location.id %>

    <%= f.hidden_field :pmo_grab_id %>
    <%= f.hidden_field :one_money_id %>

    <div class='cart-group'>
      <div class='header'>
        <span class='shop'>
          <%= image_tag @supplier.avatar_url %><%= @supplier.title %>
        </span>
      </div>

      <div class="list-group-item order-item">
        <div class='row'>
          <div class='col-xs-8'>
            <div class="avatar">
              <%= image_tag @order_item.avatar_url, class: 'media-object', alt: "商品图片" %>
            </div>

            <div class="title">
              <%= "#{@order_item.title} #{@order_item.properties_title}" %>
            </div>
          </div>

          <div class='subtotal col-xs-4'>
            <div class="text-right">
              <%= number_to_currency @order_item.price %>
            </div>

            <div class="text-right">
              × <%= number_with_delimiter @order_item.quantity %>
            </div>

            <div class="text-right">
              <%= number_to_currency @order_item.price * @order_item.quantity %>
            </div>
          </div>
        </div>
      </div>

      <div class='footer'>
        <div class='text-right'>
          共<%= @order_item.quantity %>件商品 <%= number_to_currency @order_item.price * @order_item.quantity %>元 
        </div>
        <div class='text-right'>
          运送费用 <%= express_render @order %>
        </div>
        <div  class='text-right total'>
          合计 <span class='amount'><%= number_to_currency @order.express_fee + @order_item.price * @order_item.quantity %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class='yiyuan-confirm-submit'>
  <div>
    <span class='total'><%= number_to_currency @order.express_fee + @order_item.price * @order_item.quantity %></span>元 货到付款
  </div>
  <input type="button" name="commit" value="提交订单" class="submit pull-right" id="submit-yiyuan-confirm">
</div>

<script type="text/javascript">
  $(document).on('ready page:load', function() {
    $('#submit-yiyuan-confirm').click(function (event) {
      event.preventDefault();

      var $form = $('form.yiyuan-order-form');
      $form.submit();
    });

    $('.yiyuan-confirm-location').click(function (event) {
      event.preventDefault();

      var url = "<%= chose_yiyuan_address_orders_path(callback: request.fullpath) %>"
      window.location.href = url;
    })
  })
</script>