<%= form_for(@contact) do |f| %>
  <% if @contact and  @contact.errors.any? -%>
    <div id="error_explanation">
      <h2>存在以下错误: </h2>

      <ul>
        <% @contact.errors.full_messages.each do |msg| -%>
          <li><%= msg %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

  <div class="form-group">
    <%= label :contact, :name do %>
      姓名<span class="required">*</span>
    <% end %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label :contact, :mobile do %>
      手机/座机号<span class="required">*</span>
    <% end %>

    <%= f.text_field :mobile, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label :contact, :message do %>
      开店申请信息<span class="required">*</span>
    <% end %>

    <%= f.text_area :message, rows: 3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "立即提交申请", class: "btn btn-default" %>
  </div>
<% end %>
