<li class="list-group-item order-item"  id="order-item-<%= item.id %>">
  <!-- 大屏幕视图 -->
  <div class="media">
    <div class="avatar media-left">
      <%= link_to orderable_url(item) do %>
        <%= image_tag item.avatar_url, class: 'media-object', alt: "商品图片" %>
      <% end %>
    </div>
    <div class="title media-left">
      <%= item.title %>
    </div>

    <div class="properties media-left">
      <%= item.properties_title %>
    </div>

    <div class="price media-left">
      <%= number_to_currency item.price %>
    </div>

    <div class="quantity media-left">
      × <%= number_with_delimiter item.quantity %>
    </div>

    <div class="subtotal media-left">
      <%= number_to_currency item.price * item.quantity %>
    </div>
  </div>
</li>