<table class='table table-bordered order'>
  <colgroup>
    <col width="24%" />
    <col width="20%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="20%" />
  </colgroup>

  <tbody>
    <tr class='head'>
      <td colspan='6'>
        <span>订单号: <%= order.id %></span>
        <span class='create-time'>创建时间：<%= order.created_at.strftime("%Y/%m/%d %H:%M") %></span>
        <span class='shop-info'>
          <%= link_to shop_site_path(order.supplier.name) do %>
            <%= image_tag order.supplier.avatar_url %><%= order.supplier.title %>
          <% end %>
        </span>
      </td>
    </tr>
    <%= render partial: "order_item", collection: order.items, as: :item, locals: { order: order, supplier: order.supplier, shop: shop } %>
    <tr>
      <td colspan='6'>
        <div class='text-right'>
          一共<%= order.items_count %>件商品&emsp;合计：<%= number_to_currency order.items_total %>元<br>
          运送费用：<%= number_to_currency(order.express_fee || 0) %>元</br>
          <% if order.total != order.origin_total %>
            <span class='reduce'>已优惠<%= number_to_currency order.origin_total - order.total %>元</span><br>
          <% end %>
          总计：<span class='total'><%= number_to_currency order.total %>元</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>