<div id="edit-template-<%= template.id %>" class="tab-pane fade in panel panel-default edit-template active">
  <% url = admins_subject_template_path(subject, template) %>
  <%= form_for template, url: url, remote: true, html: { class: "template-form-#{template.id}" } do |f| %>
  <div class="panel-heading">
    <h3 class="panel-title"><%= title_extract template %></h3>
  </div>

  <div class="panel-body">
    <div id="template-editor-<%= template.id %>" class="source-editor"><%= template.content -%></div>
    <div class="variables">
      <div class="btn-group add-variable" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          新增对象
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu toolbars">
          <% template.customize_variables.each do |config| %>
            <li><%= link_to config[:title], '#',
                      data: {
                        toggle: 'modal',
                        target: modal_target(config),
                        class: config[:name],
                        link: variables_path(subject, template)
                      } %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="btn-group-vertical" role="group" aria-label="variables">
        <% template.variables.each do |var| %>
          <button type="button" class="btn btn-default"><%= var.name %></button>
        <% end %>
      </div>
    </div>
    <%= f.hidden_field :content, class: "template_content" %>
  </div>
  <div class="panel-footer">
    <%#= f.submit :save, class: 'btn btn-primary' %>
    <%= f.submit :save, class: 'btn btn-primary' %>
    <%= link_to :Preview, 'javascript: void(0)',  class: 'btn btn-default preview' %>
  </div>
  <% end %>
</div>