<div class="panel panel-default edit-subject-base">
  <% url = @subject.persisted? ? admins_subject_path(@subject) : admins_subjects_path %>
  <%= form_for @subject, url: url do |f| %>

  <div class="panel-body">

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', focus: true %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', focus: true %>
    </div>

    <div class="form-group col-xs-12 col-md-6 col-lg-6 start-at">
      <%= f.label :start_at %>

      <div class='input-group date'>
        <%= f.text_field :start_at, class: 'form-control' %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class="form-group col-xs-12 col-md-6 col-lg-6 end-at">
      <%= f.label :end_at %>

      <div class='input-group date'>
        <%= f.text_field :end_at, class: 'form-control', row: 40 %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

  </div>
  <div class="panel-footer">
    <%= f.submit :save, class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
<script type="text/javascript">
  $('.input-group.date').datetimepicker();

</script>
