<li class="list-group-item subject-item" data-subject-id="<%= subject_item.id %>">
  <div class="subject-info">
    <%= link_to edit_admins_subject_path(subject_item) do %>
      <h3>
        <% if current_subject == subject_item %>
          <%= icon :ok %>
        <% end %>
        <%= subject_item.title %>
      </h3>
    <% end %>
  </div>

  <div class="subject-toggle">
    <label class="toggle-box">
      <%= check_box_tag :status, 'status', subject_item.open?, class: 'toggle-checkbox'%>
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>

  <div class='subject-delete'>
    <%= link_to "Delete", admins_subject_path(subject_item), class: 'btn btn-danger', method: :delete,  data: { confirm: "确定删除该主题，以及该主题对应的所有模板文件么？" } %>
  </div>
</li>
