<h1 class="page-header template-page-header">
  编辑专题
  <div class="subject-toggle">
    <label class="toggle-box">
      <%= check_box_tag :status, 'status', @subject.open?, class: 'toggle-checkbox'%>
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>
</h1>

<%= render "form" %>

<div class="panel panel-default">
  <div class="panel-heading"><%= ::Template.model_name.human || "模版列表" %></div>
  <div class="list-group">
    <%= render partial: "template_item", collection: @subject.templates.order(id: :asc), as: :template, locals: {subject: @subject} %>
  </div>
</div>


<div class="edit_template_wrap">
  <%#= render partial: "edit_preview_template", collection: @subject.templates.order(id: :asc), as: :template, locals: {subject: @subject} %>

</div>

<%= render partial: "admins/templates/new_template", locals: { template: @new_template, parents: [@subject] } %>

<div>
  <button class='btn btn-default new-template'>新建模板</button>
</div>

<script type="text/javascript">
  var EditVariableModal = window.EditVariableModal;
  var variableModal = EditVariableModal.getModal();

  $('button.new-template').click(function (event) {
    $('#new-template').show();
  });

  var subject_id = '<%= @subject.id %>';

  $('.template-page-header .toggle-checkbox').change(function() {
    var is_open = $(this).prop('checked');

    $.ajax({
      url: '/admins/subjects/' + subject_id,
      data: {
        subject: {
          status: is_open ? 'open' : 'close'
        }
      },
      type: 'PUT',
      dataType: 'json',
      success: function() {

      }
    });
  });
</script>
