<% content_for :javascripts do %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=<%= Settings.baidu.ditu.secret %>"  data-turbolinks-track>
  //v1.5版本的引用方式：src="http://api.map.baidu.com/api?v=1.5&ak=您的密钥"
  //v1.4版本及以前版本的引用方式：src="http://api.map.baidu.com/api?v=1.4&key=您的密钥&callback=initialize"
  </script>

<% end %>

<div class="page-header">
  <h1>
    <%= @industry.title %> <small>所在区域 <%= @region.title %> 商店</small>
  </h1>
</div>

<%= panel_row column_class: 'col-sm-6 col-md-4 col-xs-12 shop-list' do %>
  <%= render partial: "shop", collection: @shops %>
<% end %>

<script type="text/javascript">
  var geo = new BMap.Geocoder();

  doGetLocation();

  function doGetLocation() {
    if (navigator && navigator.geolocation) {
      $("button.get-location").button('loading');

      navigator.geolocation.getCurrentPosition(GetLocation, errorCallback);
    } else {
      console.log('Geolocation is not supported');
    }
  }

  var EARTH_RADIUS = 6378.137;
  function rad(d) {
    return d * Math.PI / 180.0;
  }

  /**
   * 根据两点间经纬度坐标（double值），计算两点间距离，单位为米
   */
  function getDistance(lat1, lng1,  lat2,  lng2)
  {
      var radLat1 = rad(lat1);
      var radLat2 = rad(lat2);
      var a = radLat1 - radLat2;
      var b = rad(lng1) - rad(lng2);
      var s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a/2),2) +
      Math.cos(radLat1)*Math.cos(radLat2)*Math.pow(Math.sin(b/2),2)));
      s = s * EARTH_RADIUS;
      s = Math.round(s * 10000) / 10000;
      return s;
  }

  function GetLocation(location) {
    var point = new BMap.Point(location.coords.longitude, location.coords.latitude);

    $(".shop .distance").each(function(i, elem) {
      var lat = parseFloat($(elem).attr('lat'));
      var lon = parseFloat($(elem).attr('lon'));
      // point.lat
      $(elem).text(Math.round(getDistance(point.lat, point.lng, lat, lon)) + 'km');
    });
  }


  function errorCallback(err) {
    // $(".geo-id").text('获取地理位置失败');
  }

</script>
