<% content_for :javascripts do %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=<%= Settings.baidu.ditu.secret %>"  data-turbolinks-track>
  //v1.5版本的引用方式：src="http://api.map.baidu.com/api?v=1.5&ak=您的密钥"
  //v1.4版本及以前版本的引用方式：src="http://api.map.baidu.com/api?v=1.4&key=您的密钥&callback=initialize"
  </script>

<% end %>
<% content_for :body do %>
  <div class="letter-ruler"></div>
<% end %>

<div class="page-header">
  <h1>
    <%= @industry.title %> <small>所在区域 <%= @current_region.title %> 商店</small>
  </h1>
</div>

<div class="panel">
  <div class="panel-heading">
    <div class="row">
<!--       <div class="col-xs-6 col-sm-6">
        <%#= select "current_region", "region", options_from_collection_for_select(@regions, 'id', 'title'), {},class: 'form-control' %>
      </div>
 -->
      <div class="col-xs-12 col-sm-6">
        <div class="btn-group  btn-group-justified">
          <% if @next_region.present? %>
              <%= link_to shops_industry_path(@industry.name, brand_id: @brand, category_id: @category, region_id: @next_region), class: 'btn btn-default' do %>
                <%=icon :'arrow-down' %> 下级区域<%= @next_region.title %>
              <% end %>
          <% else %>
            <%= link_to_void class: 'btn btn-default', disabled: true do %>
              <%#=icon :'arrow-down' %> 本地区域<%= @current_region.title %>
            <% end %>
          <% end %>


          <% if @previous_region.present? %>
              <%= link_to shops_industry_path(@industry.name, brand_id: @brand, category_id: @category, region_id: @previous_region), class: 'btn btn-default'  do %>
                <%=icon :'arrow-up' %> 上级区域<%= @previous_region.title %>
              <% end %>
          <% else %>
            <%= link_to_void class: 'btn btn-default', disabled: true do %>
              <%#=icon :'arrow-down' %> 顶级区域<%= @current_region.title %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="btn-group  btn-group-justified">
          <%= link_to categories_industry_path(@industry.name), class: 'btn btn-default category-button' do %>
            <%= icon :gift %> 分类
          <% end %>
          <%= link_to_void class: 'btn btn-default brand-button' do %>
            品牌 <span class="badge"><%= brands_ids.count %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup-left category-list">
  <div class="panel-heading">
    <h3><%=image_tag @industry.image.url(:avatar), size: "30x30" %> <%= @region.title %>区域的分类</h3>
  </div>
  <%= render partial: "category", collection: @industry.category.children.order(:id), locals: { region: @current_region, disable_brands: true, brand: @brand } %>
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <%= link_to_void t(:close, scope: "dialogs"), class: 'btn btn-default navbar-btn close-popup' %>
      <%#= link_to :select, 'javascript:void', class: 'btn btn-default navbar-btn pull-right' %>
    </div>
  </nav>
</div>

<div class="popup popup-right brand-selectors">
  <div class="panel-heading">
    <h3><%=image_tag @industry.image.url(:avatar), size: "30x30" %> <%= @region.title %>区域的品牌</h3>
  </div>
  <%= render partial: "brands_group", locals: { brands_group: @brands_group, category: @category, region: @current_region } %>
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <%= link_to_void t(:close, scope: "dialogs"), class: 'btn btn-default navbar-btn close-popup' %>
      <%= link_to_void t(:select, scope: "dialogs"), class: 'btn btn-primary navbar-btn pull-right select-brands' %>
    </div>
  </nav>
</div>

<% if @shops.present? %>
<div class="row shop-list" >
  <%= render partial: "shop", collection: @shops %>
</div>
<% else %>
  <%= alert_box context: :warning, id: 'alert', class: :en, data: {js: 1} do %>
    对不起！此区域暂无有效的供应商! <%= link_to '#' do %> <%=icon :user %> 申请成为供应商 <% end %>
  <% end %>
<% end %>

<%= render "register_distributor" %>

<script type="text/javascript">
  var geo = new BMap.Geocoder();

  doGetLocation();

  function doGetLocation() {
    if (navigator && navigator.geolocation) {
      $("button.get-location").button('loading');

      navigator.geolocation.getCurrentPosition(GetLocation, errorCallback);
    } else {
      console.log('Geolocation is not supported');
    }
  }

  var EARTH_RADIUS = 6378.137;
  function rad(d) {
    return d * Math.PI / 180.0;
  }

  /**
   * 根据两点间经纬度坐标（double值），计算两点间距离，单位为米
   */
  function getDistance(lat1, lng1,  lat2,  lng2)
  {
      var radLat1 = rad(lat1);
      var radLat2 = rad(lat2);
      var a = radLat1 - radLat2;
      var b = rad(lng1) - rad(lng2);
      var s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a/2),2) +
      Math.cos(radLat1)*Math.cos(radLat2)*Math.pow(Math.sin(b/2),2)));
      s = s * EARTH_RADIUS;
      s = Math.round(s * 10) / 10;
      return s;
  }

  function numberify(num) {
    if (num > 0) {
      return Math.round(num, 1) + 'km';
    } else {
      return Math.round(num * 1000) + 'm';
    }
  }

  function GetLocation(location) {
    var point = new BMap.Point(location.coords.longitude, location.coords.latitude);

    $(".shop .distance").each(function(i, elem) {
      var lat = parseFloat($(elem).attr('lat'));
      var lon = parseFloat($(elem).attr('lon'));
      // point.lat
      $(elem).text(numberify(getDistance(point.lat, point.lng, lat, lon)));
    });
  }


  function errorCallback(err) {
    // $(".geo-id").text('获取地理位置失败');
  }
</script>

<script type="text/javascript">
  $('.category-button').click(function(e) {
    e.preventDefault();

    $('.category-list').toggleClass('open');
  });

  $('.brand-button').click(function(e) {
    e.preventDefault();

    $('.brand-selectors').toggleClass('open');
    if ($('.brand-selectors').hasClass('open')) {
      var ruler = window.letterRuler;
      if (ruler && $.isFunction(ruler.build)) {
        ruler.build('.brand-selectors');
        ruler.show();
      }
    } else {
      var ruler = window.letterRuler;
      ruler.hide();
    }
  });

  $('.brand-selectors').on('click', 'a.list-group-item', function(e) {
    e.preventDefault();

    if ($(e.target).is('A')) {
      $(e.target).toggleClass('active');
    }
  }).on('click', '.select-brands', function(e) {
    var brands = $('.brand-selectors .list-group-item.active').map(function(i, elem) {
      return $(elem).data("brand-id");
    }).toArray();

    var  params = getQueryVars(location.href);

    delete params['brand_id'];
    params['brand_ids'] = brands

    var new_url = location.pathname + "?" + $.param(params);
    if (location.hash) {
      new_url += "#" + location.hash;
    }

    Turbolinks.visit(new_url);
  });



  $(".close-popup").click(function(e) {
    $(e.currentTarget).parents(".popup").removeClass("open");
  });

  $(function() {
    var LetterRuler = window.LetterRuler;
    window.letterRuler = new LetterRuler($('.letter-ruler'), {top: 0});
    letterRuler.on('scroll.letter_ruler', function(e, letter) {
      // var $(letterRuler.target).offset()
      $(letterRuler.target).find('.list-group-item.letter').each(function(i, elem) {
        var top = $(elem).get(0).offsetTop;
        // var posY = offset.top - $('.brand-selectors').scrollTop();

        // var parentPos = $(elem).parent().position();
        // var childOffset = {
        //     top: childPos.top - parentPos.top,
        //     left: childPos.left - parentPos.left
        // }
        if ($(elem).text().trim() == letter) {
          // console.log($(elem).text(), childOffset);
          $(".brand-selectors").scrollTop(top);
        }
      });
    });
  });
</script>
