<% content_for :body do %>
  <div class="letter-ruler"></div>
<% end %>
<div class="col-sm-12 industry-category" >
<div class="page-header">
  <div class="btn-group pull-right">
    <% @icon = capture do %>
      <% if Settings.dev.feature.location %>
        <%= link_to regions_path, class: "btn btn-link" do %>
          <%= icon :globe %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <h1>
    <%= @industry.title %> <small>所在区域 <%= @region.title %> <%= @icon %> </small>
  </h1>

</div>

<% if @regions.present? %>
  <% @regions.push(@region) %>
  <%= panel do %>
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6 col-sm-6">
      <%= select "current_region", "region", options_from_collection_for_select(@regions, 'id', 'title'), {},class: 'form-control' %>
<!--           <span class="input-group-btn">
            <%#= button do %>
              <%#= icon 'arrow-down' %>
            <%# end %>
            <%#= button do %>
              <%#= icon 'arrow-up' %> 上级市场
            <%# end %>
          </span> -->
      </div>
    </div>
  </div>

    <%#= render partial: "category", locals: { category: @industry.category} %>
  <%= render partial: "category", collection: @industry.category.children.order(:id) %>
  <% end %>
<% else %>
  <div class="well">
    <p class="leading text-muted">
      对不起！此区域暂无有效的供应商
    </p>
  </div>
<% end %>
</div>

<script type="text/javascript">
  // $(window).on('resize', function(e) {
  //   $(".brand-container").adjustContainer({step: $(window).width() < 768 ? 120 : 170 });
  // });
  $(function() {
    var LetterRuler = window.LetterRuler;
    window.letterRuler = new LetterRuler($('.letter-ruler'));
    letterRuler.on('scroll.letter_ruler', function(e, letter) {
      // var $(letterRuler.target).offset()
      $(letterRuler.target).find('.list-group-item.letter').each(function(i, elem) {
        var position = $(elem).position();
        if ($(elem).text().trim() == letter) {
          $(".scroll-container").scrollTop(position.top + 50);
        }
      });
    });
  });
</script>

