<% saleable = item.cartable.saleable?(item.quantity, item.properties) %>
<li class="list-group-item cart-item <%= saleable ? 'saleable' : 'unsaleable' %>" data-cart-item-id="<%= item.id %>">
  <div class="media">
    <div class="chose-item media-left">
      <% if saleable %>
        <%= f.check_box "cart_item_ids", {multiple: true, checked: true}, item.id, nil %>
      <% else %>
        <span class='unsaleable'>失效</span>
      <% end %>
    </div>
    <div class="avatar media-left">
      <%= link_to cartable_url(item) do %>
        <%= image_tag item.avatar_url, class: 'media-object', alt: "商品图片" %>
      <% end %>
    </div>

    <div class="title media-left">
      <%= item.title %>
    </div>

    <div class="properties media-left">
      <%= item.properties_title %>
    </div>

    <div class="price media-left">
      <%= number_to_currency item.price %>
    </div>

    <div class="quantity media-left">
      <% if saleable %>
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-minus">
            <% if item.quantity > 1 %>
              <span class="glyphicon glyphicon-minus"></span>
            <% else %>
              <span class="glyphicon"></span>
            <% end %>
          </button>
        </span>
        <input type="text" name="quantity" class="form-control input-number" value=<%= number_with_delimiter item.quantity %> autocomplete="off">
        <span class="input-group-btn">
          <button type="button" class="btn btn-plus">
              <span class="glyphicon glyphicon-plus"></span>
          </button>
        </span>
      </div>
      <div class="alert alert-danger fade in" role="alert" style='display: none;'>
        <p>最多只能购买<span class='max-quantity'></span>件</p>
      </div>
      <% else %>
        <span><%= number_with_delimiter item.quantity %></span>
      <% end %>
    </div>

    <div class="subtotal media-left">
      <%= number_to_currency item.price * item.quantity %>
    </div>

    <div class="operations media-left">
      <%= link_to "移出购物车", item, method: :delete, data: { confirm: '确定删除这个商品么？' } %>
    </div>
  </div>
</li>