<% saleable = item.cartable.saleable?(item.quantity, item.properties) %>

<tr class="cart-item <%= saleable ? 'saleable' : 'unsaleable' %>" data-cart-item-id="<%= item.id %>" data-total="<%= item.price * item.quantity %>">
  <td class='avatar'>
    <div class='media'>
      <div class='media-left'>
        <% if saleable %>
          <%= f.check_box "cart_item_ids", {multiple: true, checked: true}, item.id, nil %>
        <% else %>
          <span class='unsaleable'>失效</span>
        <% end %>      
      </div>
      <div class='media-left'>
        <%= link_to cartable_url(item) do %>
          <%= image_tag item.avatar_url, class: 'media-object', alt: "商品图片" %>
        <% end %>
      </div>
      <div class='media-body'>
        <%= "#{item.title} #{item.properties_title}" %>
      </div>
    </div>
  </td>
  <td  class="price">
    <%= number_with_precision(item.price, precision: 2) %>
  </td>
  <td>
    <% if saleable %>
      <div class="quantity">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-minus">
              <% if item.quantity > 1 %>
                <span class="glyphicon glyphicon-minus"></span>
              <% else %>
                <span class="glyphicon"></span>
              <% end %>
            </button>
          </span>
          <input type="text" name="quantity" class="form-control input-number" value=<%= number_with_delimiter item.quantity %> autocomplete="off">
          <span class="input-group-btn">
            <button type="button" class="btn btn-plus">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
        <div class="alert alert-danger fade in" role="alert" style='display: none;'>
          <p>最多只能购买<span class='max-quantity'></span>件</p>
        </div>
      </div>

    <% else %>
      <span><%= number_with_delimiter item.quantity %></span>
    <% end %>
  </td>
  <td class="subtotal">
    <%= number_with_precision(item.price * item.quantity, precision: 2) %>
  </td>
  <td class="operations">
    <%= link_to "移出购物车", item, method: :delete, data: { confirm: '确定删除这个商品么？' } %>
  </td>
</tr>

<% if item.cartable.is_a? Item %>
  <% item.cartable.eval_available_gifts(item.quantity) %>
  <% has_avaible_gifts = item.cartable.available_gifts.present? %>
  <tr class='cart-gifts' data-cart-item-id="<%= item.id %>" style="<%= has_avaible_gifts ? '' : 'display: none' %>">
    <td colspan='5'>
      <% item.cartable.available_gifts.each do |gift| %>
        <div class='cart-gift'  data-gift-id="<%= gift.id %>">
          <div class='head'>
            <%= image_tag "gift-white.png" %>
          </div>
          <div class='desc'>
            <div class='avatar'>
              <%= image_tag gift.avatar_url %>
            </div>
            <div class='title-quantity'>
              <div class='title'>
                <span>
                  <%= "#{gift.present.title} #{gift.properties_title}" %>
                </span>
              </div>
              <div class='quantity'>
                <span>数量：<%= gift.available_quantity %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </td>
  <tr>
<% end %>