<% saleable = item.cartable.saleable?(item.quantity, item.properties) %>

<tr class="cart-item <%= saleable ? 'saleable' : 'unsaleable' %>" data-cart-item-id="<%= item.id %>">
  <td class='avatar'>
    <div class='media'>
      <div class='media-left media-middle'>
        <% if saleable %>
          <%= f.check_box "cart_item_ids", {multiple: true, checked: true}, item.id, nil %>
        <% else %>
          <span class='unsaleable'>失效</span>
        <% end %>
      </div>
      <div class='media-left'>
        <%= link_to cartable_url(item), class: 'item-avatar' do %>
          <%= image_tag item.avatar_url, class: 'media-object', alt: "商品图片" %>
        <% end %>
      </div>
      <div class='media-body media-middle'>
        <%= "#{item.title} #{item.properties_title}" %>
      </div>
    </div>
  </td>
  <td  class="price text-center">
    <%= number_to_currency item.price %>
  </td>
  <td class="text-center">
    <% if saleable %>
      <div class="quantity">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-minus">
              <% if item.quantity > 1 %>
                <span class="glyphicon glyphicon-minus"></span>
              <% else %>
                <span class="glyphicon"></span>
              <% end %>
            </button>
          </span>
          <input type="text" name="quantity" class="form-control input-number" value=<%= number_with_delimiter item.quantity %> autocomplete="off">
          <span class="input-group-btn">
            <button type="button" class="btn btn-plus">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
        <div class="alert alert-danger fade in" role="alert" style='display: none;'>
          <p>最多只能购买<span class='max-quantity'></span>件</p>
        </div>
      </div>

    <% else %>
      <span><%= number_with_delimiter item.quantity %></span>
    <% end %>
  </td>
  <td class="subtotal text-center">
    <%= number_to_currency item.price * item.quantity %>
  </td>
  <td class="operations text-center">
    <%= link_to "移出购物车", item, method: :delete, data: { confirm: '确定删除这个商品么？' } %>
  </td>
</tr>
