
<li class="list-group-item cart-item-<%= item.id %>">

<div class="media">
  <div class="media-left">
    <%= link_to shop_item_path(supplier.name, item.cartable) do %>
      <%= image_tag item.image, class: 'media-object' %>
    <% end %>
  </div>
  <div class="media-body">
    <ul class="nav nav-pills nav-stacked pull-right item-line-actions">
      <li role="presentation">
        <%= link_to "cart/#{item.id}", remote: true, method: :delete do %>
          <%= icon :trash %>
        <% end %>
      </li>
    </ul>
    <h3 class="media-heading"><%= item.title %></h3>
    <p class="summary"><%= item.cartable.description %></p>
    <h4 class="price"><span class="label label-default">价格</span> <%= number_to_currency item.price %></h4>
    <h4 class="quantity"><span class="label label-default">数量</span> <%= number_with_delimiter item.quantity %></h4>
    <h4 class="subtotal"><span class="label label-default">小计</span> <%= number_to_currency item.price * item.quantity %></h4>
  </div>
</div>
</li>

