<div class="pmo-item" pmo-item="<%= item.id %>" >
  <div class="item-head">
    <%= close_to remove_item_admins_one_money_path(@one_money.id, item.id), remote: true, class: 'pull-right', method: :delete %>
    <div class="overwrites">
      <a href="#collapseOverwrites-<%= item.id %>" data-toggle="collapse">
        <%= icon :'th-list' %><%= if item.is_overwrites? then ' *' else '' end %>
      </a>

      <% overwrite_url = overwrite_item_admins_one_money_path(@one_money.id, item.id) %>
      <div class="collapse" id="collapseOverwrites-<%= item.id %>">
        <div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">运费</span>
            <span class="input-group-addon" ><%=b item, :fare, title: '运费', url: overwrite_url %></span>
            <% if (item.overwrites || {})["fare"] %>
            <span class="input-group-addon" ><%= clear_over_link_to :fare, item %>
            </span>
            <% end %>
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">免运费额</span>
            <span class="input-group-addon" ><%=b item, :max_free_fare, title: '免运费金额', url: overwrite_url %></span>
            <% if (item.overwrites || {})["max_free_fare"] %>
            <span class="input-group-addon" ><%= clear_over_link_to :max_free_fare, item %>
            </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <span class="item-id"><%= item.id %></span>


    <div class="item-image upload-button-<%=item.id %>">
    </div>
    <p class="time-panel">
      <% unless item.start_at.blank? || item.end_at.blank? %>
        <span class="time-start_at">开始 <%=l item.start_at, format: :short %></span>
        <span class="time-end_at">结束 <%=l item.end_at, format: :short %><%= warning_with item.end_at <= item.start_at %></span>
      <% end %>
    </p>
  </div>
  <div class="item-body">

    <p class="title"><%= b item, :title, :as => :input %></p>
    <p class="prices">
      <small><span class="pull-right"><s>原价：<%= b item, :ori_price, display_with: :number_to_currency %></s><%= warning_with item.ori_price <= 0 %></span></small>
      <span class="lead"><%=b item, :price, display_with: :number_to_currency %><%= warning_with item.price <= 0 %></span>

    </p>

    <p class="from"><%=b item, :shop_name %></p>
    <p class="status" item-status="<%= item.status %>">
      <%= status_label item.status %><%= warning_with_status item %>
      <%= link_to fix_clock_admins_one_money_path(@one_money.id, item.id), class: "btn btn-link", method: :patch, remote: true do  %>
        <%= icon :wrench unless item.valid_status? %>
      <% end %>
      <%= status_control item %>
    </p>
    <p class="processes">
      <span class="processage"
        <%=b item, :completes, title: '完成量' %> x <%= b item, :quantity, title: '一次单位数量' %> <%#=b item, :completes, title: '完成量' %>/<%=b item, :total_amount, title: '活动总量' %><%= warning_with item.quantity <= 0 || item.total_amount <= 0 %>
      </span>
      <span class="time pull-right">
        <%= time_prompt(item) do |flag, time_str, seconds| %>
          <% content_tag :span, class: 'time_counter', flag: flag, tick: seconds do %>
            <%= time_str %>
          <% end %>
        <% end %>

      </span>
    </p>
    <!-- <p class="time">
    </p> -->
    <% if item.winners.count > 0 %>

    <p class="winners">
      <span class="pull-right winners-count "><%= item.winners.count %></span>
      <% item.winners.take(5).each do |user| %>
        <%= image_tag user.avatar_url, size: "30x30", class: "slide-image", title: user.title %>
      <% end %>
      <%= link_to_if item.winners.count > 5, '...', details_admins_one_money_path(@one_money.id, item.id) %>
    </p>
    <% end %>
    <% if item.participants.count > 0 %>
    <p class="participants">
      <span class="participants-count ">其它参与者 <%= item.participants.count %></span>
      <%# item.participants.take(5).each do |user| %>
        <%#= image_tag user.avatar_url, size: "30x30", class: "slide-image" %>
      <%# end %>
    </p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var html = [ "<div class=\"qq-uploader\">",
                 "<div class=\"qq-upload-drop-area\"><span>{dragText}</span></div>",
                 "<div class=\"qq-upload-button\">",
                   "<%=j image_tag(item.cover_url, class: "upload-image-#{item.id}") %>",
                 "</div>",
                 "<ul class=\"qq-upload-list\"></ul>",
               "</div>"
             ].join('\n');

var $element = $(".upload-button-<%=item.id %>")[0];
var actionUrl = "<%= upload_image_admins_one_money_path(@one_money.id, item.id) %>";
var token = $('meta[name=csrf-token]').attr('content');

// <%= image_tag item.cover_url, class: 'item-image', data: { image_id: item.id } %>

new qq.FileUploader({
  element: $element,
  customHeaders: { "X-CSRF-TOKEN": token },
  template: html,
  action:  actionUrl + "?authenticity_token=" + encodeURIComponent(token),
  multiple: false,
  onComplete: function (id, filename, responseJSON) {
    var url = responseJSON.url;
    $(".upload-image-<%= item.id %>").attr('src', url);
  }
});
</script>
