<%= render "form" %>
<div class="signups">
  <%= link_to action: :signups do %>
  <label for="">报名者 (<%= @one_money.signups.count %>)</label>
  <% end %>
  <div>
    <% @one_money.signups.sort(by: :created_at, limit: [0, 25], order: 'desc').each do |user| %>
      <%= image_tag user.avatar_url, size: "30x30", title: user.title %>
    <% end %>
  </div>
</div>

<br />
<div class="row">
  <div class="col-xs-12">
    <label for="">查找商品</label>

    <% template = <<-HTML
      <div class="media" item-id="{{id}}" item-price="{{price}}" item-inventory="{{inventory}}">
        <div class="media-left">
          <img class="media-object" src="{{ avatar_url }}" alt="{{text}}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{text}} <small>{{sid}}</small></h4>
          <p>
            <span class="shop_name"> {{shop_name}}</span>
            <span class="right-side pull-right">
              <span class="price">价格 {{price}}</span>
              <span class="inventory">库存 {{inventory}}</span>
            </span>
          </p>
        </div>
      </div>
    HTML
    %>
    <% on_change = <<-JAVASCRIPT
      function(e) {
        var url = "#{admins_one_money_path(@one_money.id)}";
        data = $(this).select2('data')[0];

        $.ajax({
          url: url + "/add_item/" + data.id,
          type: 'PATCH',
          dataType: 'script'
        });
      }
    JAVASCRIPT
    %>
    <%= select2_url_template "one_money",
        "query",
        search_admins_one_money_index_path,
        [],
        placeholder: 'Item id | 店铺, 商品名  -- 例: 1113 | 宝宝贝贝, 贝因美',
        template: template,
        on_change: on_change,
        class: 'form-control',
        style: 'width: 100%' %>
  </div>
</div>

<div class="items-container clearfix">
  <%= render partial: "item", collection: @one_money.items.to_a %>
</div>
<script type="text/javascript">

  $(".select2").width('100%');
  $(".best_in_place").best_in_place();

  $('#one_money_query').on('select2:selecting', function(e) {
    try {

      var data = e.params.args.data,
        id = data.id,
        price = parseFloat(data.price),
        inventory = parseInt(data.inventory),
        text = data.text;


      if (price > 0 && inventory > 0) {
        return true;
      } else {
        return confirm(text + "商品库存或价格为零，确定需要添加进入活动？");
      }
    } catch(e) {
      alert('因为错误，这个商品没办法添加进来');
    }
  });
</script>
