<div class="container contacts-new-container">
  <div class="row feedbacks-container">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <h3>意见列表</h3>
        <% @feedbacks.each do |feedback| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object avatar" src="http://neil-img.b0.upaiyun.com/uploads/default_avatar.gif">
                  </a>
                </div>
                <div class="media-body">
                  <h5 class="media-heading"><%= feedback.name %>:</h5>
                  <p><%= feedback.information %></p>
                  <div class="text-right">
                    <small><%= time_ago_in_words feedback.created_at %> 前</small>
                  </div>
                </div>
              </div>

              <% if feedback.reply and feedback.reply != '' %>
                <hr/>
                <div class="media">
                  <div class="media-left">
                    <a href="/">
                      <%= image_tag 'logo.png', class: "media-object avatar" %>
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading">官方回复:</h5>
                    <p><%= feedback.reply %></p>
                    <div class="text-right">
                      <small><%= time_ago_in_words feedback.updated_at %> 前</small>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        <% end %>

      <div class="text-right">
        <%= link_to '提建议', new_feedback_path, class: "btn btn-primary" %>
      </div>

      <div class="text-center">
        <%= paginate @feedbacks %>
      </div>
    </div>
  </div>
</div>