<div class="container contacts-new-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

      <% @feedbacks.each do |feedback| %>
        <% if feedback.is_show %>


        <div class="panel panel-default">
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" style="width: 64px; height: 64px;">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= feedback.name %></h4>
                <%= feedback.information %>
              </div>
            </div>
            <hr>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <%= image_tag 'logo.png', class: "media-object", style: "width: 64px; height: 64px;" %>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">官方回复</h4>
                <%= feedback.reply %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>

      <%= link_to '我也提建议', new_feedback_path, class: "btn btn-primary" %>


    </div>
  </div>
</div>





