<% disabled_button = defined?(disabled) ? disabled : true %>
<% url = defined?(next_url) ? next_url : nil %>
<% if mobile? %>
  <% content_for :fixed_bottom do %>
    <%= navbar position: :bottom, inverted: true do %>
      <%= button "以后再说", context: :default, class: 'navbar-btn skip' %>
      <%= next_button "下一步", url, disabled: disabled_button, class: 'navbar-btn pull-right' %>
    <% end %>
  <% end %>
<% else %>
    <div class="pull-right">
      <%= button "以后再说", context: :default, class: 'btn-lg skip' %>
      <%= next_button "下一步", url, disabled: disabled_button, class: 'btn-lg' %>
    </div>
<% end %>

<% if defined?(form) %>
<script type="text/javascript">
  $(".next").click(function(e) {
    e.preventDefault();
    $("<%= form %>").submit();
  });
</script>

<% end %>
