<%= panel do %>
  <%= link_to after_register_path(@user_type, industry: industry.name, step: :industry), method: :put do %>
    <div class="media">
      <div class="media-left media-middle">
        <%= image_tag industry.image.url, size: "100" %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= industry.title %> </h4>
        <p class="lead"><%= industry.description %></p>
      </div>
    </div>
  <% end %>
<% end %>
