<% content_for :javascripts do %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=<%= Settings.baidu.ditu.secret %>"  data-turbolinks-track>
  //v1.5版本的引用方式：src="http://api.map.baidu.com/api?v=1.5&ak=您的密钥"
  //v1.4版本及以前版本的引用方式：src="http://api.map.baidu.com/api?v=1.4&key=您的密钥&callback=initialize"
  </script>

<% end %>

<% content_for :navbar_title do %>
  快速开店 完善商店资料(2/4)
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="page-header hidden-xs">
        <h1>快速开店<small> 商店资料</small></h1>
      </div>
      <%= form_for @shop, url: after_register_path(@user_type, step: :shop), method: :put, layout: :basic, html: {class: 'shop_form' } do |f| %>
        <div class="panel panel-default no-padding">
          <div class="panel-heading">
            <div class="panel-title ">店铺信息</div>
          </div>
          <div class="panel-body">
            <%= f.text_field :title, label: '商店名'%>
            <%= group_with_errors @shop, :name, f, title: '网址', layout: :normal, input_group: true do %>
                <span class="input-group-addon" id="basic-addon3"><%= Settings.app.website + '/'%></span>
                <%= text_field :shop, :name, class: 'form-control', readonly: true %>
                <span class="input-group-btn">
                  <%= button class: 'toggle-edit', disabled: @shop.persisted? do %>
                    <b><%= icon :edit %></b>
                  <% end %>
                </span>
            <% end %>

            <%= f.text_field :phone %>
            <%= group_with_errors @shop, :description, f, layout: :normal do %>
              <%= f.bootsy_area :description, class: "form-control", rows: 3 %>
            <% end %>
            <%= group_with_errors @shop, :location, f, layout: :normal do %>

              <% fields_for :location, @shop.location, layout: :inline do |l| %>

                <%
                  province_id = @shop.location.try :province_id
                  city_id = @shop.location.try :city_id
                  region_id = @shop.location.try :region_id

                  province_list = ChinaCity.list
                  city_list = ChinaCity.list province_id.to_s
                  region_list = ChinaCity.list city_id.to_s

                %>

                <div class="city-group row" >
                  <div class="col-sm-4">
                    <%= l.select(:province_id, options_for_select(province_list, province_id), {prompt: '--省份--'}, {class: "city-select form-control"}) %>
                  </div>
                  <div class="col-sm-4">
                    <%= l.select(:city_id, options_for_select(city_list, city_id), {prompt: "--城市--"}, { class: "city-select form-control" } ) %>
                  </div>
                  <div class="col-sm-4">
                    <%= l.select(:region_id,  options_for_select(region_list, region_id), {prompt: "--地区--"}, { class: "city-select form-control" } ) %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <%= f.text_field :address, label: false, help: "拖动地图中心图标定位你的位置" %>
            <%= f.hidden_field :lat %>
            <%= f.hidden_field :lon %>

            <div id="map">
            </div>
            <script type="text/javascript">
              // wx.config({
              //     debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
              //     appId: '', // 必填，企业号的唯一标识，此处填写企业号corpid
              //     timestamp: , // 必填，生成签名的时间戳
              //     nonceStr: '', // 必填，生成签名的随机串
              //     signature: '',// 必填，签名，见附录1
              //     jsApiList: [] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
              // });
            </script>
            <script type="text/javascript">
              var map = new BMap.Map("map");
              var point = new BMap.Point(116.404, 39.915);
              var level = 15;
              var geo = new BMap.Geocoder();
              var marker;
              var opts = {type: BMAP_NAVIGATION_CONTROL_SMALL}
              map.addControl(new BMap.NavigationControl(opts));

              getLocationPosition();

              marker = setPosition(point, true);
              map.addOverlay(marker);

              marker.enableDragging();

              if (navigator && navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(GetLocation, errorCallback);
              } else {
                console.log('Geolocation is not supported');
              }

              map.addEventListener("click", function(e){
                setPosition(e.point);
              });

              function GetLocation(location) {
                var point = new BMap.Point(location.coords.longitude, location.coords.latitude);

                setPosition(point, true)
              }

              function errorCallback(err) {
                console.error(err);
              }

              function getCity() {
                return $(".city-group option:selected" ).text();
              }

              function getFullAddress() {
                return getCity() + $("#shop_address").val();
              }

              function getLastCityName() {
                var cities = $(".city-group option:selected").map(function(i, elem) {
                  return $(elem).text().trim();
                })

                cities = Array.prototype.filter.call(cities, function(city) {
                  return !(city == "" || city[0] == "-");
                })
                return cities[cities.length - 1];
              }

              function setPosition(point, reposition ) {
                if (reposition) { map.centerAndZoom(point, level); }
                if (marker) { map.removeOverlay(marker); }
                marker = new BMap.Marker(point);
                map.addOverlay(marker);
                $('#shop_lat').val(point.lat);
                $('#shop_lon').val(point.lng);
                return marker;
              }

              function getLocationPosition() {
                var city = getLastCityName();
                var address = getFullAddress();

                geo.getPoint(address, function(point){
                  if (point) {
                    setPosition(point, true)
                  }
                }, city);
              }


              $("#shop_address").blur(function(e) {
                getLocationPosition();
              });

              // marker.addEventListener("dragend", function(e){
              //  alert("当前位置：" + e.point.lng + ", " + e.point.lat);
              // })
            </script>
            <%= f.hidden_field :owner_id %>
          </div>
        </div>

        <%= render partial: "action_buttons", locals: { disabled: false, form: '.shop_form' }, cache: true %>
      <% end %>
      <%= render "skip_form" %>

      <script type="text/javascript">
        $("[name=\"shop[title]\"]").blur(function() {
          var url = "<%= update_shop_path %>";
          $.ajax({
            url: url,
            type: 'PUT',
            data: {
              shop: {
                title: $(this).val()
              }
            }
          }).then(function(resp){
            $("[name=\"shop[name]\"]").val(resp["name"]);
          })
        });

        $(".toggle-edit").click(function (e){
          e.preventDefault();

          <% unless @shop.persisted? %>

          var $input = $("[name=\"shop[name]\"]")
          if ($input.attr('readonly')) {
            $input.removeAttr('readonly')
            $input.focus();
            $(this).addClass('active');
          } else {
            $input.attr('readonly', true)
            $(this).removeClass('active');
          }

          <% end %>
        });
      </script>
    </div>
  </div>
</div>
