<div class="item-link-table-container link-table-container">
  <div class="menu-overlayer"></div>
  <div class="link-table">
    <% if Settings.dev.feature.shop.website %>
      <%= link_to shop_site_path(@shop.name), class: "into-shop link-button" do %>
        <span class="button-icon glyphicon glyphicon-home"></span>
        <div class="button-text">商家</div>
      <% end %>
    <% end %>

    <% if Settings.dev.feature.favorites %>
      <div class="fav-button link-button">
        <span class="button-icon glyphicon glyphicon-star-empty"></span>
        <div class="button-text">收藏</div>
      </div>
    <% end %>

    <% if @shop.owner_id == current_user.id %>
      <div class="contact-button chat">您的店铺</div>
    <% else %>
       <% if Settings.dev.feature.cart %>
        <a href="/cart"  class="link-button shop-cart hidden-sm hidden-md hidden-lg">
          <%= icon('shopping-cart') %>
          <span class="badge"> <%= current_cart.items_count %></span>
        </a>
        <div class="link-button add-to-cart-bottom hidden-sm hidden-md hidden-lg" data-cartable-type='<%= @item.class.to_s %>' data-cartable-id='<%= @item.id %>' data-moveable="<%= moveable_target %>">
          <div class="button-text">加入购物车</div>
        </div>
      <% end %>

      <% if Settings.dev.feature.purchase %>
        <a class="link-button buy-now buy-now-bottom hidden-sm hidden-md hidden-lg" data-cartable-type='<%= @item.class.to_s %>' data-cartable-id='<%= @item.id %>'>
          立即购买
        </a>
      <% end %>
      <%= button_to '洽谈', item_chats_path(@item.id, shop_id: @shop.id), form_class: 'link-button chat ' %>
    <% end %>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id='buy-and-cart-info'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">请选择</h4>
      </div>
      <div class="modal-body">
        <p>请选择<%= @item.properties_name.join('，') %>后再购买</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">知道了</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  $('.add-to-cart-bottom').click(function(event) {
    var cartableType = $(this).data('cartableType');
    var cartableId = $(this).data('cartableId');

    var $agentButton = $('button.add-to-cart[data-cartable-type=' + cartableType + '][data-cartable-id=' + cartableId + ']');

    if ($agentButton.attr('disabled')) {
      $('#buy-and-cart-info').modal('show');
    } else {
      $agentButton.trigger('click');
    }
  });

  $('.buy-now-bottom').click(function(event) {
    var cartableType = $(this).data('cartableType');
    var cartableId = $(this).data('cartableId');

    var $agentButton = $('button.js-buy-now[data-cartable-type=' + cartableType + '][data-cartable-id=' + cartableId + ']');

    if ($agentButton.attr('disabled')) {
      $('#buy-and-cart-info').modal('show');
    } else {
      $agentButton.trigger('click');
    }
  });

  $(document).on('cart_quantity_changed', function(e, quantity){
    $('.shop-cart').find('.badge').text(quantity);
  });
</script>
