<div class="item-sale-options">
  <%= form_for cartitem, url: cart_path, html: { class: 'sale_form item-chose-collection' } do |f| %>
    <%= row do %>
      <% unless current_anonymous_or_user.user_type == "consumer" %>
        <div class="form-group col-sm-12 ">
          <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
            <button type="button" class="btn btn-info">零售</button>
            <button type="button" class="btn btn-primary active">批发</button>
          </div>
        </div>
        <div class="form-group col-sm-12" >

          <label>批发价</label>
          <%= number_to_currency item.price %>
        </div>
      <% end %>

      <% @inventory_properties.each do |property| %>
        <% config = { "#{property.name}".to_sym => @item.send("property_#{property.name}") } || {} %>
        <%= render partial: "exterior_#{property.exterior || "swatch_select"}", with: @item.category, locals: { config: config, item: @item, property: property, shop: @shop } %>
      <% end %>

      <div class="form-group col-sm-6 col-md-3 col-lg-3" >
        <%= label_tag "数量" %>
          <%= minus_plus_button_field :cart_item, :quantity, value: cartitem.quantity, placeholder: "数量", class: 'form-control cart_item_quantity' %>
      </div>

      <div class="form-group purchase-buttons col-sm-12" >
        <%= f.button "加入购物车", class: 'btn btn-info btn-lg add-to-cart', disabled: "disabled", 
          "data-cartable-type" => 'Item', "data-cartable-id" => @item.id, type: 'button' %>
        <%= f.button "购买", class: 'btn btn-danger btn-lg buy-now', disabled: "disabled", 
          "data-cartable-type" => 'Item', "data-cartable-id" => @item.id, type: 'button' %>
      </div>

      <%#= f.hidden_field :sale_mode %>
      <%#= f.hidden_field :title %>
      <%#= f.hidden_field :image %>
      <%#= f.hidden_field :cartable_id %>
      <%#= f.hidden_field :cartable_type %>
      <%#= f.hidden_field :supplier_id %>
    <% end %>
  <% end %>
</div>

<%= form_tag "#", id: 'buy-now-form' do %>
<% end %>

<script type="text/javascript">
  // $(".sale_form").on('submit', function(e) {
  //   e.preventDefault();
  //   $form = $(this);
  //   url = $form.attr('action')

  //   $.post(url, $form.serialize()).then(function(e) {

  //   }).fail(function() {

  //   })
  // });

  var stocksWithIndex = <%= stocks_with_index.values.to_json.html_safe %>;

  _.each(stocksWithIndex, function(item) {
    _.extend(item, item.data)
    delete item.data;
  });

  var fullfilledKeys = <%= stocks_with_index.values[0][:data].try(:keys).to_json.html_safe %>;

  $('.buy-now').click(function (event) {
    var cartableType = $(this).data('cartableType');
    var cartableId = $(this).data('cartableId');
    var properties = ($(this).data('properties') || {});
    var quantity = $('.cart_item_quantity').val() || 1;

    var queryString = $.param({
      cart_item: {
        orderable_type: cartableType,
        orderable_id: cartableId,
        properties: properties,
        quantity: quantity
      }
    });

    $('#buy-now-form').attr('action', '/orders/buy_now_confirm?' + queryString)
    $('#buy-now-form').submit();
  });

  // $(".add-to-cart").click(function(e) {
  //   $form = $(e.target).parents("form")
  //   $form.submit();
  // });

</script>
