<div class="item-sale-options">
  <%= form_for cartitem, url: cart_path, html: { class: 'sale_form item-chose-collection',onsubmit: "return false;"} do |f| %>

    <div class="form-group">
      <div class="media">
        <div class="media-left media-middle">品牌：</div>
        <div class="media-left media-middle"><%= @item.title %></div>
        <% unless current_anonymous_or_user.user_type == "consumer" %>
          <div class="media-body">
            <div class="btn-group btn-group" role="group" aria-label="Large button group">
              <button type="button" class="btn btn-sall-type">零售价</button>
              <button type="button" class="btn btn-sall-type active">批发价</button>
            </div>
          </div>
<!--           <div class="media-left media-middle">
            <span>批发价：</span>
            <%#= number_to_currency item.price %>
          </div> -->
        <% end %>
      </div>
    </div>
    <% item.inventory_properties.each do |property, prop_value| %>
      <%= render partial: "exterior_#{prop_value['exterior'] || "swatch_select"}", with: @item.category, locals: { item: @item, property: property, prop_value: prop_value, shop: @shop } %>
    <% end %>

    <div class="media">
      <div class="media-left media-middle">
        数量：
      </div>
      <div class="media-left media-middle">
        <%= minus_plus_button_field :cart_item, :quantity, value: cartitem.quantity, placeholder: "数量", class: 'form-control cart_item_quantity' %>
      </div>
      <div class="media-right media-middle">
        件 / 库存：<span class='available-stock'><%= @item.current_stock.to_i %></span>
      </div>
    </div>

      <div class="form-group purchase-buttons hidden-xs text-right">
        <% if @shop.owner_id === current_user.id %>
          <!-- 您的店铺 -->
        <% else %>
          <% if item.inventory_properties.present? && stocks_with_index.present? %>
            <% if Settings.dev.feature.cart %>
              <%= f.button class: 'btn btn-lg add-to-cart', disabled: "disabled", "data-cartable-type" => 'Item', "data-cartable-id" => @item.id, type: 'button', "data-moveable" => moveable_target do %>
                加入购物车
              <% end %>
            <% end %>
            <% if Settings.dev.feature.purchase %>
              <%= f.button "立即购买", class: 'btn btn-lg buy-now js-buy-now', disabled: "disabled", "data-cartable-type" => 'Item', "data-cartable-id" => @item.id, type: 'button' %>
            <% end %>
          <% else %>
            <% if Settings.dev.feature.cart %>
              <%= f.button class: 'btn btn-lg add-to-cart', "data-cartable-type" => 'Item', "data-cartable-id" => @item.id, type: 'button', "data-moveable" => moveable_target do %>
                加入购物车
              <% end %>
            <% end %>
            <% if Settings.dev.feature.purchase %>
              <%= f.button "立即购买", class: 'btn btn-lg buy-now js-buy-now', "data-cartable-type" => 'Item', "data-cartable-id" => @item.id, type: 'button' %>
            <% end %>
          <% end %>
        <% end %>
      </div>

    <%#= f.hidden_field :sale_mode %>
    <%#= f.hidden_field :title %>
    <%#= f.hidden_field :image %>
    <%#= f.hidden_field :cartable_id %>
    <%#= f.hidden_field :cartable_type %>
    <%#= f.hidden_field :supplier_id %>
  <% end %>
</div>

<script type="text/javascript">
  // $(".sale_form").on('submit', function(e) {
  //   e.preventDefault();
  //   $form = $(this);
  //   url = $form.attr('action')

  //   $.post(url, $form.serialize()).then(function(e) {

  //   }).fail(function() {

  //   })
  // });

  var stocksWithIndex = <%= stocks_with_index.blank? ? '{}' : stocks_with_index.values.to_json.html_safe %>;

  _.each(stocksWithIndex, function(item) {
    _.extend(item, item.data)
    delete item.data;
  });

  var fullfilledKeys = <%= stocks_with_index.blank? ? '[]' : stocks_with_index.values[0][:data].try(:keys).to_json.html_safe %>;

  // $(".add-to-cart").click(function(e) {
  //   $form = $(e.target).parents("form")
  //   $form.submit();
  // });

  (function(){
    $('.minus_plus_input').on('change', function(e) {
      var quantity = $(this).val();
      var _stock = $(document).data('stock');
      if ( isNaN(quantity) || +quantity > _stock) {
        $('.js-buy-now').addClass('disabled');
        $('.add-to-cart').addClass('disabled');
      } else {
        $('.js-buy-now').removeClass('disabled');
        $('.add-to-cart').removeClass('disabled');
      }
    });
  })();

</script>
