<%= content_for :module, :item %>

<%= content_for :fixed_bottom do %>
  <%= render partial: "items/link_table", locals: {moveable_target: ".shop-item-image>img"} %>
<% end %>

<div class="shop-item col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <div class="shop-content">
    <div class="shop-item-image">
      <%= image_tag @item.image.url %>
    </div>

    <div class="price-period clearfix">
      <div class="price-desc">
        <span class="promotion-price">
          ￥ <%= @item.price %>
        </span>
        <span class="dicount-desc">
          <s>￥ <%= @item.public_price %></s>
        </span>
      </div>

      <div class="period-desc finished">
        <div class="desc-wrap"></div>
      </div>
    </div>
  </div>

  <div class="item-properties">
    <div class="media">
      <div class="media-body media-middle">
        <%= @item.title %>
      </div>
<!--       <div class="media-right media-middle">
        <div class='favor-title text-center'>收藏</div>
        <div class='favor-count text-center'>0</div>
      </div>
      <div class="media-right media-middle">
        <div class='like-title text-center'>赞</div>
        <div class='like-count text-center'>0</div>
      </div> -->
    </div>
  </div>

  <div class="media item-option-warp">
    <div class="media-left">
       <%= render partial: "sale_form", with: @item.category, locals: { item: @item, cartitem: @cartitem, stocks_with_index: @stocks_with_index, moveable_target: ".shop-item-image>img" } %>
    </div>
    <div class="media-body right-shop-infos hidden-xs">
      <div class="media avatar-wrap">
        <div class="media-left">
          <%= link_to shop_site_path(@shop.name, format: 'html'), class: 'shop-avatar' do %>
            <%= image_tag @shop.logo_url %>
          <% end %>
        </div>  
        <div class="media-body media-middle text-center">
          <div class='name'>
            <span>供应商</span> <br>
            <span><%= @shop.title %></span>
          </div>
        </div>
      </div>
      <br>
      <address>地址：<%= @shop.address %></address>
    </div>
  </div>
  

  <div class='item-shop-infos'>
    <div class="media ">
      <div class="media-left media-middle">
        <%= link_to shop_site_path(@shop.name, format: 'html'), class: 'shop-avatar' do %>
          <%= image_tag @shop.logo_url %>
        <% end %>
      </div>
      <div class="media-body media-middle">
        <div class='name'>供应商：<%= @shop.title %></div>
        <div class='address'>地&emsp;址：<%= @shop.address %></div>
        <div class='follow'>
          <span>关&emsp;注：0</span>
        </div>
      </div>
    </div>
  </div>

<!--   <div class='item-secodary-properties clearfix'>
    <div class='brand-saled-count row'>
      <p class='inventory col-xs-6 col-sm-6 col-md-6'>库 存：<span class='available-stock'><%#= @item.current_stock.to_i %></span></p>
      <p class='sale-count col-xs-6 col-sm-6 col-md-6 text-right'>总销量：0</p>
    </div>
  </div> -->

  <%#= render partial: "sale_options", with: @item.category %>
</div>



