<div class="item">
  <div class='col-xs-12 col-sm-6 avatar row-line'>
    <img src="<%= @item.avatar %>" />
  </div>

  <div class='col-xs-12 col-sm-6 price row-line'>
    ￥<%= @item.price %>
  </div>

  <div class='col-xs-12 col-sm-6 title row-line'>
    <div class='product-name col-xs-7 col-sm-4'>
      <%= @item.name %>
    </div>
    <div class='favor col-xs-3 col-sm-1'>
      <div class='favor-title text-center'>收藏</div>
      <div class='favor-count text-center'>12</div>
    </div>
    <div class='like  col-xs-2 col-sm-1'>
      <div class='like-title text-center'>赞</div>
      <div class='like-count text-center'>21</div>
    </div>
  </div>

  <div class='col-xs-12 col-sm-6 shop-info row-line'>
    <div class='shop-avatar col-xs-2 col-sm-1'>
      <%= image_tag @shop.avatar %>
    </div>
    <div class='shop-info col-xs-10 col-sm-5'>
      <div class='name'>供应商：<%= @shop.name %></div>
      <div class='address'>地址：<%= @shop.address %></div>
      <div class='follow'>关注：22</div>
    </div>
  </div>

  <div class='col-xs-12 col-sm-6 summary row-line'>
    <div class='brand-saled-count'>
      <div class='brand col-xs-6 col-sm-3'>品牌：<%= @item.brand_name %></div>
      <div class='sale-count col-xs-6 col-sm-3'>总销量：155</div>
    </div>
    <div class='inventory col-xs-6 col-sm-6 '>库存数量：222<%#= @item.inventory %></div>
  </div>

  <div class='col-xs-12 col-sm-12 properties row-line'>
    <div class='properties-title'>参数规格</div>
    <div class='col-xs-6 col-sm-6 avatar'>
      <img src="<%= @item.avatar %>" />
    </div>
    <div class='col-xs-6 col-sm-6 property-items'>
      <% @item.additional_fields.attributes.each do |key, value| %>
        <% unless key =~ /原始链接/ %>
          <p><%= key %>: <%= value %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="promotion-detail-container">
  <div class="navbar-bottom navbar navbar-default navbar-fixed-bottom">
    <div class="link-table">
      <%= link_to shop_path(@item.shop_id), class: "into-shop" do %>
        <span class="button-icon glyphicon glyphicon-home"></span>
        <div class="button-text">商家</div>
      <% end %>

      <div class="fav-button">
        <span class="button-icon glyphicon glyphicon-star-empty"></span>
        <div class="button-text">收藏</div>
      </div>

      <%= link_to '洽谈', chats_path(item_id: @item, shop_id: @shop), class: "chat", method: 'POST' %>
    </div>
  </div>
</div>
