<%= content_for :module, :item %>

<%= content_for :fixed_bottom do %>
  <%= render partial: "items/link_table", locals: {moveable_target: ".shop-item-image>img"} %>
<% end %>

<div class="shop-item col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <div class="shop-content">
    <div class="shop-item-image">
      <%= image_tag @item.image.url %>
    </div>

    <div class="price-period clearfix">
      <div class="price-desc">
        <span class="promotion-price">
          ￥ <%= @item.price %>
        </span>
        <span class="dicount-desc">
          <s>￥ <%= @item.public_price %></s>
        </span>
      </div>

      <div class="period-desc finished">
        <div class="desc-wrap"></div>
      </div>
    </div>
  </div>

<!--   <div class="item-properties">
    <div class="media">
      <div class="media-body media-middle">
        <%= @item.title %>
      </div>
      <div class="media-right media-middle">
        <div class='favor-title text-center'>收藏</div>
        <div class='favor-count text-center'>0</div>
      </div>
      <div class="media-right media-middle">
        <div class='like-title text-center'>赞</div>
        <div class='like-count text-center'>0</div>
      </div>
    </div>
  </div> -->

  <div class="media item-option-warp">
    <div class="media-left left-wrap">
      <%= render partial: "sale_form", with: @item.category, locals: { item: @item, cartitem: @cartitem, stocks_with_index: @stocks_with_index, moveable_target: ".shop-item-image>img" } %>
    </div>
    <div class="media-body right-shop-infos hidden-xs"> <!-- 右侧info -->
      <a href="<%= shop_site_path(@shop.name, format: 'html') %>" class="media avatar-wrap">
        <div class="media-left">
          <div class="shop-avatar">
            <%= image_tag @shop.logo_url %>
          </div>
        </div>  
        <div class="media-body media-middle">
          <div class='name'><%= @shop.title %></div>
        </div>
      </a>
      <address><%= @shop.address %></address>
      <br>
      <div class="row fllow-wrap">
        <div class="col-md-6 col-sm-6 text-center">
          <div class="follow">关注：0</div>
        </div>
        <div class="col-md-6 col-sm-6 text-center">
          <a class="follow-btn" href="#"> <%= icon(:plus) %> 关注</a>
        </div>
      </div>
    </div>
  </div>
  

  <a href="<%= shop_site_path(@shop.name, format: 'html') %>" class='item-shop-infos visible-xs'> <!-- 下方info -->
    <div class="media ">
      <div class="media-left media-middle">
        <div class="shop-avatar">
          <%= image_tag @shop.logo_url %>
        </div>
      </div>
      <div class="media-body media-middle">
        <div class='name'><%= @shop.title %></div>
        <address class='address'><%= @shop.address %></address>
      </div>
    </div>
  </a>
  <div class="item-description">
    <%= @item.description %>
  </div>

  <%#= render partial: "sale_options", with: @item.category %>
</div>