<%= form_for Order.new, url: confirmation_orders_path do |f| %>
  <%= f.hidden_field :supplier_id, value: supplier.id %>
  <div class='cart-group'>
    <div class='header media'>
      <div class='media-left check-all'>
        <label for="cart-groups-<%= index %>">
          <input type='checkbox' class='select-all' data-supplier-id='<%= supplier.id %>' checked='checked' id="cart-groups-<%= index %>" />
          <div class='checkbox-simulator'>
            <div class='check'></div>
          </div>
        </lable>
      </div>
      <div class='shop media-left'>
        <%= link_to shop_site_path(supplier.name) do %>
          <%= image_tag supplier.avatar_url %><%= supplier.title %>
        <% end %>
      </div>
    </div>

    <%= render partial: "cart_item", collection: items.sort_by(&:id), as: :item, locals: { supplier: supplier, f: f } %>

    <div class='footer'>
      <span>
        已选择<span class='total-quantity'><%= items.map(&:quantity).reduce(:+) %></span> 件商品&emsp;合计<span class='total-total'><%= items.map { |item| item.price * item.quantity }.reduce(:+)  %></span>元
      </span>
      <%= f.submit "结  算", class: 'submit cart-submit' %>
    </div>
  </div>
<% end %>