<div class="col-xs-6 col-sm-4 col-md-3">
  <div class="box">
    <%= link_to child_shop_admin_category_path(@shop.name, @root, category) , class: "thumbnail" do %>
      <%= image_tag category.logo_url || Settings.assets.gray_image %>
      <h2><%= category.name %></h2>
    <% end %>
  </div>

  <%= form_tag shop_admin_categories_path(@shop.name) do %>
    <input type="hidden" name="category_img" />
  <% end %>
  <p class="text-center"><%= category.name %></p>
</div>
