<div class="col-xs-4 col-sm-3 category" data-category-id="<%= category.id %>">
  <div class="box">
    <div class="thumbnail" data-link="<%= child_shop_admin_category_path(@shop.name, @root, category) %>" >
    <%#= link_to child_shop_admin_category_path(@shop.name, @root, category) , class: "thumbnail" do %>
      <%= image_tag category.image.url(:cover) || Settings.assets.gray_image %>
      <h2><%= category.name %></h2>
      <input type="text" name="name" class="title-input" placeholder="分类名称" />
      <div class="actions">
        <div type="button" class="uploader-btn">
          <%= icon :picture %>
          <input type="file" name="upload" class="uploader" required />
        </div>
        <% if Settings.dev.feature.camera %>
        <button type="button" class="btn btn-default"><%= icon :camera %></button>
        <% end %>
      </div>

      <div class="deleted">
        <%= button_to child_shop_admin_category_path(@shop.name, @root, category), class: 'btn btn-danger', method: :delete, remote: true do %>
          <%= icon :remove %>
        <% end %>
      </div>
    <%# end %>
    </div>
  </div>

  <%= form_tag shop_admin_categories_path(@shop.name) do %>
    <input type="hidden" name="category_img" />
  <% end %>
  <p class="text-center"><%= category.name %></p>
</div>
