<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="sign-input-group">
    <%= icon(:lock)%>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: '输入新密码' %>
    <div class="error-block"><%= @user.errors[:password][0] %></div>
  </div>

  <div class="sign-input-group">
    <%= icon(:lock)%>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: '再次输入新密码' %>
    <div class="error-block"><%= @user.errors[:password][0] %></div>
  </div>
  
  <div class="text-center">
    <%= f.submit "确认", class: 'sign-btn' %>
  </div>

  <% if not mobile? %>
    <div class="text-center">
      <%= link_to "返回登陆", new_session_path(resource_name),class: "link toggle-btn" %>  
    </div>
  <% end -%>
<% end -%>

