<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="sign-input-group">
    <%= icon(:envelope)%>
    <%= f.email_field :email, autofocus: true, placeholder: '输入邮箱' %>
    <div class="error-block"><%= @user.errors[:email][0] %></div>
  </div>
  
  <div class="text-center">
    <%= f.submit "发送确认邮件", class: 'sign-btn' %>

    <% if not is_mobile_request? %>
      <div class="text-center">
        <%= link_to "返回登陆", new_session_path(resource_name),class: "link toggle-btn" %>  
      </div>
    <% end -%>

  </div>
<% end -%>
