<% content_for :navbar_title do %>
  快速开店
<% end %>

<div class="container smart-fill-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="smart-fill-header">
        <img src="<%= image_path('sign-background-mobile.jpg') %>" class="header-image">
      </div>
      <div class="smart-fill-body">
        <form class="form-horizontal" onsubmit="return false;">
          <div class="form-group">
            <label class="control-label">联系方式：</label>
            <div class="input-wrap">
              <input type="text" class="form-control" name="phone">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">店铺名称：</label>
            <div class="input-wrap">
              <input type="text" class="form-control" name="shop_title">
            </div>
          </div>

          <% if Settings.weixin.regions %>
            <div class="form-group">
              <%
                province_id = @location.try :province_id
                city_id = @location.try :city_id
                region_id = @location.try :region_id

                province_list = ChinaCity.list
                city_list = ChinaCity.list province_id.to_s
                region_list = ChinaCity.list city_id.to_s
              %>

              <div class="city-group">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
                  <%= select_tag("province_id", options_for_select(province_list), {prompt: '--省份--'}, {class: "city-select form-control"}) %>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
                  <%= select_tag("city_id", options_for_select(city_list), {prompt: "--城市--"}, { class: "city-select form-control" } ) %>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
                  <%= select_tag("region_id", options_for_select(region_list), {prompt: "--地区--"}, { class: "city-select form-control" } ) %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <div class="col-xs-12">
              <button type="button" class="btn btn-default btn-submit">提交</button>
              <ul class="error-messages"></ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var url = '<%= fast_register_smart_fills_path %>';
  var root_path = '<%= root_path %>';

  $('.btn-submit').click(function() {
    var array = $('form').serializeArray();
    var phone = array[0];
    var title = array[1];
    var reg = /^1\d{10}$/;

    var errors = [];
    var $errors = $('.error-messages');

    if (!reg.test(phone)) {
      errors.push('<li class="error-message">联系方式格式不正确</li>');
    }

    if (title.length === 0) {
      errors.push('<li class="error-message"></li>');
    }

    <% if Settings.weixin.regions %>
      var province_id = array[2].value;
      var city_id = array[3].value;
      var region_id = array[4].value;

      var province_name = $("#province_id  option:selected").text();
      var city_name = $("#city_id  option:selected").text();
      var region_name = $("#region_id  option:selected").text();

      if (province_name === "--省份--") {
        errors.push('<li class="error-message">省份不能为空</li>');
      }

      if (city_name === "--城市--") {
        errors.push('<li class="error-message">城市不能为空</li>');
      }

      if (region_name === "--地区--") {
        errors.push('<li class="error-message">地区不能为空</li>');
      }
    <% end %>

    if (errors.length > 0) {
      $errors.html(errors.join('')).show();
      return;
    }

    $errors.html('').hide();

    var params = {};
    params['shop'] = { 'title': title, 'phone': phone };

    <% if Settings.weixin.regions %>
      params['location'] = {
        'province_id': province_id,
        'city_id': city_id,
        'region_id': region_id
      };
    <% end %>

    $.ajax({
      url: url,
      type: 'POST'
      data: params,
      dataType: 'json',
      success: function (data) {
        if (data.success) {
          window.location.href = root_path;
        } else {
          $('.error-notice').text(data.errors).css('display', 'inline-block');
        }
      }
    });
  });
</script>
