<div>单位列表</div>

<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>标题</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
    <% @units.each do |unit| %>
      <tr data-unit-id='<%= unit.id %>'>
        <td><%= unit.id %></td>
        <td><%= unit.name %></td>
        <td><%= unit.title %></td>
        <td><%= unit.summary %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@units) %>