<%= form_for @variable, as: :variable, url: variables_path(@subject, @template) do |f| %>
  <%= f.hidden_field :promotion_id %>

  <div class="form-group field-name">
    <%= f.text_field :name, class: "form-control", placeholder: "对象名" %>
    <div class="help-block"></div>
  </div>
  <div class="list-group selected">
    <div class="list-group-item">
      <h4>
        <span class="id">&nbsp;</span>
        <span class="title"><%= @promotion.title %></span>
      </h4>
    </div>
  </div>
  <div class="promotion-list promotions hidden">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" name="q">
    </div>
    <%= f.hidden_field :type, value: @variable.class.name.underscore %>
    <div class="list-group">
      <%= render partial: "promotion_item", collection: @promotions %>
    </div>
  </div>
<% end %>
