<%= form_for @variable, as: :variable, url: variables_path(@subject, @template) do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "对象名" %>
  </div>
  <div class="list-group selected">
    <li class="list-group-item">
      <h4>
      <span class="id">&nbsp;</span>
      <span class="title">暂未选择一个活动名</span>
      </h4>
    </li>
    <%= f.hidden_field :promotion_id %>
  </div>
  <div class="promotion-list">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" name="q" autocomplete='off'>
    </div>
    <%= f.hidden_field :type, value: @variable.class.name.underscore %>
    <div class="list-group promotions">
      <%= render partial: "promotion_item", collection: @promotions %>
    </div>
  </div>
<% end %>

