<div class="promotion-set-variable" >
  <%= form_for @variable, as: :variable, url: variables_path(@subject, @template) do |f| %>
    <%= f.hidden_field :promotion_string %>

    <div class="form-group field-name">
      <%= f.text_field :name, class: "form-control", placeholder: "活动集名" %>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <div class="help-block"></div>
    </div>
    <div class="promotion-set">
      <div class="promotion-list promotions">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="q">
        </div>
        <%= f.hidden_field :type, value: @variable.class.name.underscore %>
        <div class="list-group">
          <%= render partial: "promotion_item", collection: @promotions %>
        </div>
      </div>
      <div class="promotion-selected field-promotions">
        <label class="control-label">
          已选择的活动：
        </label>
        <ul class="selected-promotions">

        </ul>
        <div class="help-block"></div>
      </div>
    </div>
  <% end %>
</div>
