<div class="row shop-categories">
  <% shop_categories.each do |cate| %>
    <div class="col-xs-4 col-sm-3 cate">
      <%= link_to shop_shop_category_path(shop.name, cate), class: 'text-center' do %>
        <% if !cate.image.blank_image? %>
          <%= image_tag cate.image.url(:cover) %>
        <% else %>
          <%= image_tag image_url('trans_blank.gif') %>
          <div>
            <span><%= cate.name %></span>
          </div>
        <% end %>
      <% end %>
      <span class='text text-center'><%= cate.name %></span>
    </div>
  <% end %>
</div>