<% content_for :title do %>
  <%= @shop.name %>
<% end %>

<% content_for :module, :shop %>

<div class="brand-board">
  <div class='shop-info'>
    <%= image_tag @shop.image.try(:src), class: 'shop-logo' %>
    <div class='name-address'>
      <span class='name'><%= @shop.name %></span>
      <span class='address'><%= @shop.address %></span>
    </div>
    <div style='clear:both'></div>
  </div>
</div>

<div class="line-items">
  <div class='text-center title'>
    本店主营系列
  </div>
  <ul class='shop-categories'>
    <% @items.each_with_index do |item, index| %>
      <li class='text-center line-item'>
        <a href='/items/<%= item.id %>'>
          <%= item.name %>
        </a>
      </li>
    <% end %>
    <div style='clear: both;'></div>
  </ul>
  <div style='clear: both;'></div>
</div>

<button class='fetch-items'>Fetch</button>

<script type="text/template" id='template-shop-category'>
  {{ _.each(items, function (item, index) { }}
    <li class='text-center line-item'>
      <a href='/items/' + item.id>
        {{= item.name }}
      </a>
    </li>
  {{ }) }}
</script>

<script type="text/javascript">
  var per = 9;
  var page = 1;
  var id = <%= @shop_category.id %>;
  var all_fetched = <%= @items.length %> < per;
  var template = _.template($('#template-shop-category').html());

  $(function () {
    $('button.fetch-items').click(function () {
      if (all_fetched) return;

      $.getJSON("/shop_categories/" + id + ".json?page=" + (page + 1) + "&per=9&shop_id=<%= @shop.id %>")
        .success(function (data, status) {
          all_fetched = data.length < per;
          page += 1;
          var html = template({ items: data });
          $('ul.shop-categories').append(html);
        });
    });
  })
</script>