<h1 class="page-header">商品中心
  <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
    <div class="btn-group" role="group" aria-label="...">
      <button class='btn btn-default sync-es-categories'>同步ES分类</button>
    </div>
  </div>
</h1>

<%= nav layout: :justified do %>
  <%= link_to '非标准化的商品', '#items', data: { toggle: :tab },  role: "tab" %>
  <%= link_to '标准商品', '#products', data: { toggle: :tab },  role: "tab" %>
<% end %>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="items">
    <%= simple_table_for Item.where(product_id: nil), with: ItemTable %>
  </div>

  <div role="tabpanel" class="tab-pane" id="products">
    <%#= datagrid_form_for @grid, :method => :get, :url => products_path %>

    <%#= paginate(@grid.assets) %>
    <%#= datagrid_table @grid %>
    <%#= paginate(@grid.assets) %>
    <%= simple_table_for @products, with: ProductTable %>
  </div>
</div>


<script type="text/javascript">
  (function() {
    $('button.sync-es-categories').click(function (e) {
      $.post('<%= sync_es_categories_admins_industries_path %>')
    });
  })()
</script>
