<%= content_for :title, @shop.name %>
<%= nav_back_button %>
<%= content_for :module, :detail %>

<div class="promotion-detail-container" data-promotion-id="<%= promotion.id %>" >
  <div class="promotion-poster-image">
    <%= image_tag(promotion.image_url, class: "promotion-poster") %>
  </div>

  <div class="price-period clearfix">
    <div class="price-desc">
      <div class="promotion-price">
        ￥<%= promotion.discount_price %>
      </div>
      <div class="dicount-desc">
        <p><s>￥<%= promotion.product_price %></s></p>
        <span class="desc-text">
          <% if promotion.type == 'promotions/discount' %>
            <%= promotion.discount %>销售
          <% elsif promotion.type == 'promotions/time_limited_sale' %>
            限时抢购
          <% end %>
        </span>
      </div>
    </div>

    <div class="period-desc">
      <div class="desc-wrap">

      </div>
    </div>
  </div>

  <div class="title-contact">
    <div class="promotion-title"><%= promotion.title %></div>
    <div class="promotion-favors">
      <p>收藏</p>
      <%= promotion.likers_count%>
    </div>
    <div class="promotion-likers">
      <p>赞</p>
      <%= promotion.favoriters_count %>
    </div>
  </div>

  <div class="shop-brief clearfix">
    <div class="shop-logo">
       <%= image_tag shop.logo_url %>
    </div>

    <div class="shop-desc">
      <p>供应商:<%= shop.name %></p>
      <p>地址:<%= shop.address %></p>
      <p>关注:100<button class="btn btn-follow"><span class="glyphicon glyphicon-plus"/>关注</button></p>
    </div>
  </div>

  <div class="product-brief">
    <div class="row">
      <div class="col-xs-7 col-md-7">
        <p>品&nbsp;&nbsp;牌：高端大气上档次</p>
      </div>
      <div class="col-xs-5 col-md-5">
        <p class="text-right">访问量：<%= promotion.hits %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7 col-md-7">
        <p>库&nbsp;&nbsp;存：<%= promotion.product_inventory %>件</p>
      </div>
    </div>
  </div>

  <div class="navbar-bottom navbar navbar-default navbar-fixed-bottom">
    <div class="link-table">
      <% if Settings.dev.feature.shop.website %>
        <%= link_to shop_site_path(shop_name: promotion.shop_name), class: "contact-button into-shop" do %>
          <span class="button-icon glyphicon glyphicon-home" aria-hidden="true"></span>
          <div class="button-text">商家</div>
        <% end %>
      <% end %>

      <% if Settings.dev.feature.favorites %>
      <% if promotion.favorited %>
        <div class="fav-button favorited contact-button">
          <span class="button-icon glyphicon glyphicon-star" aria-hidden="true"></span>
          <div class="button-text">已收藏</div>
        </div>
      <% else %>
        <div class="fav-button contact-button">
          <span class="button-icon glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <div class="button-text">收藏</div>
        </div>
      <% end %>
      <% end %>

      <% if Settings.dev.feature.cart %>

      <div class="into-cart contact-button">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        <div class="button-text">购物车</div>
      </div>
      <% end %>

      <% if Settings.dev.feature.purchase %>
        <div class="buy-now contact-button">购买</div>
      <% end %>

      <% if shop.owner.id === current_anonymous_or_user.id %>
 	      <div class="chat contact-button">您的店铺</div>
      <% else %>
        <!-- <a class="chat contact-button" href="javascript:void(0);">洽谈</a> -->
        <%= link_to '洽谈', promotion_chats_path(promotion, shop_id: @shop.id), class: "chat contact-button",
          method: 'POST' %>
        <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  //$(function() {
    var shopId = '<%= shop.id %>',
        channelId = '<%= shop.owner.id %>',
        type = '<%= promotion.type %>',
        isLimit = type === 'promotions/time_limited_sale',
        inventory = '<%= promotion.product_inventory %>',
        status = '<%= promotion.status %>',
        startTime = '<%= promotion.start_time.to_datetime.in_time_zone("Beijing") %>',
        startDate = new Date(startTime),
        promotionId = $('.promotion-detail-container').data('promotionId'),
        endDate;

    <% if promotion.type == 'promotions/time_limited_sale' %>
      var endTime = '<%= promotion.end_time.to_datetime.in_time_zone("Beijing") %>';
      endDate = new Date(endTime);
    <% end %>

    new CountDown($('.desc-wrap'), isLimit, inventory, status, startDate, endDate);

    $('.fav-button').click(function() {
      var $this = $(this),
          isFavorited = $this.hasClass('favorited');

      $.ajax({
        type: 'PUT',
        url: '/promotions/' + promotionId + '/favorited',
        dataType: 'json'
      }).done(function() {
        $this.toggleClass('favorited')
             .find('.button-icon')
             .toggleClass('glyphicon-star glyphicon-star-empty')
             .end()
             .find('.button-text')
             .text(isFavorited ? '收藏' : '已收藏');
      });
    });

    // $('a.contact-button').click(function() {
    //   userSocket.emit('readChannel', {
    //     'channelId': 'p' + channelId,
    //   }, function() {
    //     var form = document.createElement('form');
    //     form.action = '/promotions/' + promotionId + '/chats?shop_id=' + shopId;
    //     form.method = 'POST';
    //     form.submit();
    //   })
    // });
  //});
</script>
