<div class="promotion">
	<%= link_to promotion_path(promotion) do %>
	<h3><%= promotion.title %></h3>
	<%= image_tag   promotion.image_url %>
	<span>收藏 <%=  promotion.favoriters_count %></span>
	<span>点赞 <%= promotion.likers_count%></span>
	<% end %>
</div>
