<%= content_for :title, @shop.name %>
<%= nav_back_button %>
<%= content_for :module, :detail %>
<%= content_for :fixed_bottom do %>
  <%= render "promotion_link_table", locals: { promotion: @promotion, shop: @shop, moveable_target: '.promotion-poster'} %>
<% end %>

<div class="promotion-detail-container col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 clearfix" data-promotion-id="<%= promotion.id %>" >
  <div class="promotion-detail-content">
    <div class="promotion-poster-image">
      <%= image_tag(promotion.image_url, class: "promotion-poster") %>
    </div>

    <div class="price-period clearfix">
      <div class="price-desc">
        <div class="promotion-price">
          ￥<%= promotion.discount_price %>
        </div>
        <div class="dicount-desc">
          <p><s>￥<%= promotion.product_price %></s></p>
          <span class="desc-text">
            <% if promotion.type == 'promotions/discount' %>
              <%= promotion.discount %>销售
            <% elsif promotion.type == 'promotions/time_limited_sale' %>
              限时抢购
            <% end %>
          </span>
        </div>
      </div>

      <div class="period-desc">
        <div class="desc-wrap">

        </div>
      </div>
    </div>

    <div class="title-contact">
      <div class="promotion-title"><%= promotion.title %></div>
<!--       <div class="promotion-favors">
        <p>收藏</p>
        <%= promotion.likers_count %>
      </div> -->
      <!-- <div class="promotion-likers">
        <p>赞</p>
        <%= promotion.favoriters_count %>
      </div> -->
      <div class="promotion-visit">
        <p>访问量</p>
        <%= promotion.hits %>
      </div>
    </div>
    
    <div class="media promotion-options-wrap">
      <form class="promotion-option-form media-body" onSubmit="return false;">
        <div class="media option-group">
          <div class="media-left media-middle">数量：</div>
          <div class="media-left">
            <div class="input-group">
              <span class="input-group-btn">
                <%= link_to '#minus', class: 'btn btn-default btn-minus' do %>
                  <b> <%= icon(:minus) %></b>
                <% end %>
              </span>
              <input type="text" class="text-center form-control cart_item_quantity minus_plus_input" value=1>
              <span class="input-group-btn">
                <%= link_to '#plus', class: 'btn btn-default btn-plus' do %>
                  <b> <%= icon(:plus) %></b>
                <% end %>
              </span>
            </div>
          </div>
          <div class="media-right media-middle">件 / 库存：<%= promotion.product_inventory.to_i %>件</div>
        </div>
        <% if promotion.saleable? %>
          <div class="buy-buttons hidden-xs">
            <div class="btn btn-lg btn-warning add-to-cart" data-cartable-type="Promotion" data-cartable-id="<%= @promotion.id %>" data-moveable=".promotion-poster">
              加入购物车
            </div>

            <div class="btn btn-lg btn-danger buy-now js-buy-now" data-cartable-type="Promotion" data-cartable-id="<%= promotion.id %>">
              立即购买
            </div>
          </div>
        <% else %>
          <div class="buy-buttons hidden-xs">
            <div class="disabled btn btn-lg btn-warning add-to-cart" data-cartable-type="Promotion" data-cartable-id="<%= @promotion.id %>" data-moveable=".promotion-poster">
              加入购物车
            </div>

            <div class="disabled btn btn-lg btn-danger buy-now js-buy-now" data-cartable-type="Promotion" data-cartable-id="<%= promotion.id %>">
              立即购买
            </div>
          </div>
        <% end %>
      </form>

      <div class="media-right right-infos-wrap hidden-xs">
        <div class="media">

          <%= link_to shop_site_path(shop.name, format: 'html'), class:'shop-link reset-a' do %>
            <div class="media-left">
              <%= image_tag shop.logo_url,style:'width:70px;' %>
            </div>
            <div class="media-body media-middle">
              <div><%= shop.title %></div>
            </div>
          <% end %>
          <div><%= shop.address %></div>

          <div class="row right-fllow-wrap">
            <div class="col-md-6 col-sm-6 text-center">
              <div class="follow">关注：0</div>
            </div>
            <div class="col-md-6 col-sm-6 text-center">
              <a class="follow-btn" href="#"> <span class="glyphicon glyphicon-plus"></span> 关注</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <%= link_to shop_site_path(shop.name, format: 'html'), class:'reset-a media bottom-infos-wrap visible-xs' do %>
      <div class="media-left">
        <%= image_tag shop.logo_url,style:'width:70px;' %>
      </div>
      <div class="media-body media-middle">
        <div><%= shop.title %></div>
        <div><%= shop.address %></div>
      </div>
    <% end %>

<!--     <div class="product-brief">
      <div class="row">
        <div class="col-xs-7 col-md-7">
          <p>库存：<%#= promotion.product_inventory %>件</p>
        </div>
        <div class="col-xs-5 col-md-5">
          <p class="text-right">访问量：<%#= promotion.hits %></p>
        </div>
      </div>
    </div> -->
  </div>
</div>


<script type="text/javascript">
  (function() {
    var $input_field = $("form.promotion-option-form");
    var max_number = 999

    $input_field.find(".btn-minus").click(function(e) {
      e.preventDefault();
      var number = parseInt($input_field.find(".minus_plus_input").val()) || 1;

      if (number > 1) {
        var $number_field = $input_field.find(".minus_plus_input");
        var new_number = number - 1;

        $number_field.val(new_number);
        $number_field.trigger('change', new_number);
      }
    });

    $input_field.find(".btn-plus").click(function(e) {
      e.preventDefault();
      number = parseInt($input_field.find(".minus_plus_input").val()) || 1;
      if (number < max_number) {
        var $number_field = $input_field.find(".minus_plus_input");
        var new_number = number + 1;

        $number_field.val(new_number);
        $number_field.trigger('change', new_number);
      }
    });

    var inventory = <%= promotion.product_inventory.to_i %>;

    $(document).data('inventory', inventory);

    $('.minus_plus_input').on('change', function(e) {
      var _inventory = $(document).data('inventory');
      var quantity = $(this).val();
      if (isNaN(quantity) || +quantity > _inventory) {
        $('.js-buy-now').addClass('disabled');
        $('.add-to-cart').addClass('disabled');
      } else {
        $('.js-buy-now').removeClass('disabled');
        $('.add-to-cart').removeClass('disabled');
      }
    });
  })();

  //$(function() {
    var shopId = '<%= shop.id %>',
        channelId = '<%= shop.owner.id %>',
        type = '<%= promotion.type %>',
        isLimit = type === 'promotions/time_limited_sale',
        inventory = '<%= promotion.product_inventory %>',
        status = '<%= promotion.status %>',
        startTime = '<%= promotion.start_time %>',
        startDate = Date.parse(startTime),
        promotionId = $('.promotion-detail-container').data('promotionId'),
        endDate;

    <% if promotion.type == 'promotions/time_limited_sale' %>
      var endTime = '<%= promotion.end_time %>';
      endDate = Date.parse(endTime);
    <% end %>

    new CountDown($('.desc-wrap'), isLimit, inventory, status, startDate, endDate);

    $('.fav-button').click(function() {
      var $this = $(this),
          isFavorited = $this.hasClass('favorited');

      $.ajax({
        type: 'PUT',
        url: '/promotions/' + promotionId + '/favorited',
        dataType: 'json'
      }).done(function() {
        $this.toggleClass('favorited')
             .find('.button-icon')
             .toggleClass('glyphicon-star glyphicon-star-empty')
             .end()
             .find('.button-text')
             .text(isFavorited ? '收藏' : '已收藏');
      });
    });

    // var followButtonLocked = false;
    // $('.btn-follow').click(function (e) {
    //   if (followButtonLocked) {
    //     return;
    //   } else {
    //     followButtonLocked = true;
    //   }

    //   var actionToggle = {
    //     "已关注" : "关注",
    //     "关注" : "已关注"
    //   };

    //   $.post('<%=  toggle_follow_promotion_path(promotion) %>')
    //     .done(function (data, status, xhr) {
    //       var toggleStatus = $('.btn-follow span').text().replace(/^\s+|\s+$/g,'');
    //       var newToggleStatus = actionToggle[toggleStatus];
    //       var stauts = $('.btn-follow span').text(newToggleStatus);
    //     })
    //     .fail(function (err, status, xhr) {
    //       // Todo alert error message
    //     })
    //     .always(function () {
    //       followButtonLocked = false;
    //     })
    // });

    // $('a.contact-button').click(function() {
    //   userSocket.emit('readChannel', {
    //     'channelId': 'p' + channelId,
    //   }, function() {
    //     var form = document.createElement('form');
    //     form.action = '/promotions/' + promotionId + '/chats?shop_id=' + shopId;
    //     form.method = 'POST';
    //     form.submit();
    //   })
    // });
  //});
</script>
