<%= content_for :title, @shop.name %>
<%= nav_back_button %>
<%= content_for :module, :detail %>

<div class="promotion-detail-container" data-promotion-id="<%= promotion.id %>" >
  <%= image_tag(promotion.image_url, class: "promotion-poster") %>

  <div class="price-period clearfix">
    <div class="price-desc">
      <div class="promotion-price">
        ￥<%= promotion.discount_price %>
      </div>
      <div class="dicount-desc">
        <p><s>￥<%= promotion.product_price %></s></p>
        <span class="desc-text">
          <% if promotion.type == 'promotions/discount' %>
            <%= promotion.discount %>销售
          <% elsif promotion.type == 'promotions/time_limited_sale' %>
            限时抢购
          <% end %>
        </span>
      </div>
    </div>

    <% if promotion.status === 'Published' %>
    <div class="period-desc not-started">
      <div class="desc-wrap">
        <p>活动开始时间</p>
        <%= promotion.start_time.to_datetime.in_time_zone('Beijing').strftime('%Y/%m/%d %H:%M')%>
      </div>
    </div>
    <% elsif promotion.status === 'Active' %>
    <div class="period-desc started">
      <div class="desc-wrap">
        <% if promotion.type == 'promotions/time_limited_sale'%>
          <p>距活动结束</p>
        <% else %>
          <p>库存剩余<%= promotion.product_inventory %>件</p>
        <% end %>
      </div>
    </div>
    <% else %>
    <div class="period-desc finished">
      <div class="desc-wrap">
        活动结束
      </div>
    </div>
    <% end %>
  </div>

  <div class="title-contact">
    <div class="promotion-title"><%= promotion.title %></div>
    <div class="promotion-favors">
      <p>收藏</p>
      <%= promotion.likers_count%>
    </div>
    <div class="promotion-likers">
      <p>赞</p>
      <%= promotion.favoriters_count %>
    </div>
  </div>

  <div class="shop-brief clearfix">
    <div class="shop-logo">
       <%= image_tag shop.image.src %>
    </div>

    <div class="shop-desc">
      <p>供应商:<%= shop.name %></p>
      <p>地址:<%= shop.address %></p>
      <p>关注:100<button class="btn btn-follow"><span class="glyphicon glyphicon-plus"/>关注</button></p>
    </div>
  </div>

  <div class="product-brief">
    <div class="brief-row clearfix">
      <div class="row-left">品&nbsp;&nbsp;牌：高端大气上档次</div>
      <div class="row-right">活动销量：1000</div>
    </div>
    <div class="brief-row clearfix">
      <div class="row-left">数&nbsp;&nbsp;量：</div>
      <div class="row-right">库存：<%= promotion.product_inventory %>件</div>
    </div>
  </div>

  <div class="navbar-bottom navbar navbar-default navbar-fixed-bottom">
    <%= link_to shop_path(promotion.shop_id), class: "into-shop" do %>
      <span class="button-icon glyphicon glyphicon-home"></span>
      <div class="button-text">商家</div>
    <% end %>

    <% if promotion.favorited %>
      <div class="fav-button favorited">
        <span class="button-icon glyphicon glyphicon-star"></span>
        <div class="button-text">已收</div>
      </div>
    <% else %>
      <div class="fav-button">
        <span class="button-icon glyphicon glyphicon-star-empty"></span>
        <div class="button-text">收藏</div>
      </div>
    <% end %>

<!--     <div class="into-cart">加入购物车</div>
    <div class="buy-now">立即购买</div>
 -->
 	<%= link_to '洽谈', shop_promotion_path(promotion, @shop.id), class: "chat" %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.fav-button').click(function() {
      var $this = $(this),
          promotionId = $('.promotion-detail-container').data('promotionId'),
          isFavorited = $this.hasClass('favorited');

      $.ajax({
        type: 'PUT',
        url: '/promotions/' + promotionId + '/favorited',
        dataType: 'json'
      }).done(function() {
        $this.toggleClass('favorited')
             .find('.button-icon')
             .toggleClass('glyphicon-star glyphicon-star-empty')
             .end()
             .find('.button-text')
             .text(isFavorited ? '收藏' : '已收藏');
      });
    });
  });
</script>
`
