<div class="detail-link-table-container link-table-container">
  <div class="menu-overlayer"></div>
  <div class="link-table">
    <% if Settings.dev.feature.shop.website %>
      <%= link_to shop_site_path(shop_name: promotion.shop.try(:name)), class: "contact-button into-shop" do %>
        <span class="button-icon glyphicon glyphicon-home" aria-hidden="true"></span>
        <div class="button-text">商家</div>
      <% end %>
    <% end %>

    <% if Settings.dev.feature.favorites %>
      <% if promotion.favorited %>
        <div class="fav-button favorited contact-button">
          <span class="button-icon glyphicon glyphicon-star" aria-hidden="true"></span>
          <div class="button-text">已收藏</div>
        </div>
      <% else %>
        <div class="fav-button contact-button">
          <span class="button-icon glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <div class="button-text">收藏</div>
        </div>
      <% end %>
    <% end %>
    <% if shop.owner.id == current_anonymous_or_user.id %>
      <div class="chat contact-button">您的店铺</div>
    <% else %>
      <% saleable_class = promotion.saleable? ? "" : "disabled" %>
      <% if Settings.dev.feature.cart %>
        <a href="/cart"  class="contact-button shop-cart hidden-sm hidden-md hidden-lg">
          <%= icon('shopping-cart') %><span class="badge"> <%= current_cart.items_count %></span>
        </a>
        <div class="contact-button <%= saleable_class %> add-to-cart hidden-sm hidden-md hidden-lg" data-cartable-type="Promotion" data-cartable-id="<%= promotion.id %>" data-moveable="<%= moveable_target %>">
          <div class="button-text">加入购物车</div>
        </div>
      <% end %>
      <% if Settings.dev.feature.purchase %>
        <div class="buy-now <%= saleable_class %> js-buy-now contact-button hidden-sm hidden-md hidden-lg" data-cartable-type="Promotion" data-cartable-id="<%= promotion.id %>">
          立即购买
        </div>
      <% end %>
      <%= link_to '洽谈', promotion_chats_path(promotion, shop_id: @shop.id), class: "chat contact-button", method: 'POST' %>
    <% end %>
  </div>
</div>

<script>
  $(document).on('cart_quantity_changed', function(e, quantity){
    $('.shop-cart').find('.badge').text(quantity);
  });
</script>