<div class="col-xs-6 col-sm-3 promotion-wrap">
  <div class="promotion">
  	<%= link_to promotion_path(promotion) do %>
	    <% if promotion.type == 'promotions/discount' %>
        <div class="type-flag discount">
        	<%= image_tag 'discount.png' %>
            <div class="type-text"><%= promotion.discount.gsub('小于', '') %></div>
        </div>
	    <% elsif promotion.type == 'promotions/time_limited_sale' %>
        <div class="type-flag limit-time">
        	<%= image_tag 'limit-time.png' %>
          <div class="type-text">限时</div>
        </div>
	    <% else %>
        <div class="type-flag full-present">
        	<%= image_tag 'full-present.png' %>
        </div>
	    <% end %>
	    <%= image_tag promotion.image_mobile_url, class: 'promotion-image' %>
	    <p class="promotion-title">
	      <% if promotion.title.length > 30 %>
	        <%= promotion.title[0, 29] %>...
	      <% else %>
	        <%= promotion.title %>
	      <% end %>
	    </p>
      <div class="price-board clearfix">
        <a class="snap-up" href="javascript:void(0);">马上抢购</a>
        <div class="prices">
          <span class="disount-price">￥<%= promotion.discount_price %></span>
          <span class="origin-price"><s>￥<%= promotion.product_price %></s></span>
        </div>
      </div>
	    <!--<p>
	      <span class="disount-price">￥<%= promotion.discount_price %></span>
	      <span class="origin-price"><s>￥<%= promotion.product_price %></s></span>
	    <p>
	    <p>
	      <span class="related">收藏 <%=  promotion.favoriters_count %></span>
	      <span class="related">点赞 <%= promotion.likers_count%></span>
	    </p>-->
	  <% end %>
  	<div class="provider-wrap">
    	<%= link_to Settings.dev.feature.shop.website ? shop_site_path(shop_name: promotion.shop_name) : root_path do %>
	      <div class="provider">
	        <div class="provider-name">
	          <%= promotion.shop_name %>
	          <div><%= promotion.created_at.to_datetime.in_time_zone('Beijing').strftime('%Y/%m/%d %H:%M') %></div>
	        </div>
	        <div class="avatar-wrap">
	          <%= image_tag(promotion.publisher_avatar, class: "publish-avatar") %>
	        </div>
	      </div>
	    <% end %>
    </div>
  </div>
</div>
