<%= content_for :title, @shop.name %>
<%= nav_back_button %>
<%= content_for :module, :piano %>

<div class="chat-list">
  
</div>
<nav class="chat-navbar navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <form class="navbar-form navbar-left" role="search" onsubmit="return false;">
      <button type="submit" class="btn btn-default pull-right">发送</button>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="输入您要说的话..." name="chat-text">
      </div>
    </form>
  </div>
</nav>

<script type="text/javascript">
  $(function() {
    var ownerId = "<%= @shop.owner_id %>",
        ownId = window.userSocket.userId,
        $list = $('.chat-list');

    userSocket.onPersonMessage(insertMessage);

    function insertMessage (message) {
      var senderId = message.senderId,
          isOwnSend = ownId === senderId,
          content = message.content,
          avatar = message.senderAvatar,
          username = message.senderLogin || '游客',
          toAddClass = isOwnSend ? 'you' : 'me',
          avatar = avatar === '' ? '<%= image_path "avatar.gif" %>' : avatar,
          htmlAry = ['<div class="chat ', toAddClass, '"><img src="', avatar, '">',
            '<h2>', username, '</h2><div class="bubble ', toAddClass, '"><p>',
            content, '</p></div></div>'];

      $(htmlAry.join('')).appendTo($list);

      var ele = $list[0],
          clientHeight = ele.clientHeight,
          scrollHeight = ele.scrollHeight,
          offset = scrollHeight - clientHeight;

      if (offset > 0) {
        ele.scrollTop = offset;
      }
    }

    $('.chat-navbar button').click(function() {
      var $input = $("input[name='chat-text']"),
          text = $.trim($input.val()),
          channelId = 'p' + ownerId;

      $input.val('');

      if (text.length > 0) {
      <% if Settings.debug %>
        insertMessage(text);
      <% else %>
        var socket = window.userSocket;

        socket.publish(channelId, {
          'content': text,
          'attachs': {}
        });      
      <% end %>        
      }


    });
  });
</script>
