<%= content_for :title, @shop.name %>
<%= nav_back_button %>
<%= content_for :module, :piano %>

<div class="chat-list">
  <div class="container">
  <div class="row">
  <div class="chat-order" data-order-id="<%= @order.id %>">
    <div class="chat-image-wrap">
      <%= image_tag @order.avatar_url, class: "chat-order-image", "state-load-url" => status_of_order_path(@order) %>
    </div>
    <div class="chat-order-title">
      <%= @order.title %>
    </div>
  </div>
  <div class="chat-inner" >
    <div class="chat-items" >
      <ul class="list-group first" order-id="<%= @order.id%>">
        <li class="list-group-item">
          <div class="desc-value">
            <%= @order.supplier.name %>
          </div>
          卖方
        </li>
        <li class="list-group-item">
          <div class="desc-value">
            <div class="dropdown">
              <span class="toggle-button" data-toggle="dropdown" role="button">
                <span class="button-text">选择收货地址</span>
                <span class="caret"></span>
              </span>

              <ul class="dropdown-menu address-menu">
                <li><a href="javascript:void(0);" class="add-address">新增收货地址</a></li>
              </ul>
            </div>
            收货地址
          </li>
          <li class="list-group-item">
          <div class="city-group">
            <%= select(:location, :province, options_for_select(ChinaCity.list), {prompt: '--省份--'}, {class: "city-select"}) %>
            <%= select(:location, :city, [], {prompt: "--城市--"}, { class: "city-select" } ) %>
            <%= select(:location, :region, [], {prompt: "--地区--"}, { class: "city-select" } ) %>
          </div>
          </li>
          <li class="list-group-item">
            <div class="desc-value">
              <div class="dropdown">
                <span class="toggle-button" data-toggle="dropdown" role="button">
                  <span class="button-text">支付担保</span>
                  <span class="caret"></span>
                </span>

                <ul class="dropdown-menu payment-menu">
                  <li class="selected"><a href="javascript:void(0);">支付担保</a></li>
                  <li><a href="javascript:void(0);">支付宝支付</a></li>
                  <li><a href="javascript:void(0);">快钱支付</a></li>
                </ul>
              </div>
            </div>
            交易方式
          </li>
        </ul>

        <ul class="list-group item-list" order-id="<%= @order.id%>">
          <% @order.items.each do |item| %>
          <li class="list-group-item" item-id= "<%= item.id %>">
            <div class="order-item">
              <div class="order-item-brief">
                <div class="order-item-left">
                  <a href="javascript:void(0);">
                    <%= image_tag item.image['preview_url'], class: 'item-preview-url' %>
                  </a>
                </div>
                <div class="order-item-center">
                  <h4><%= item.title %></h4>
                  <p>单价: <%= number_to_currency(item.price, unit:'￥') %></p>
                </div>
                <div class="order-item-right">
                  <span class="glyphicon glyphicon-trash remove-btn" data-toggle="tooltip" data-placement="bottom" title="删除"></span>
                </div>
              </div>
              <div class="edit-fieldset">
                <div class="order-item-amount edit-item clearfix">
                  <div class="desc-value">
                    <span class="glyphicon glyphicon-menu-left range-left"></span>
                    <input type="range" name="volume" min="6" max="<%= item.data['product_inventory'] %>" value="<%= item.amount.to_i %>">
                    <span class="glyphicon glyphicon-menu-right range-right"></span>
                  </div>

                  数量
                  <input type="text" value="<%= number_to_human(item.amount) %>" class="amount">
                </div>
                <div class="order-item-price edit-item clearfix">
                  <div class="desc-value">
                    <span class="glyphicon glyphicon-yen range-left"></span>
                    <input type="range" name="volume" min="<%= item.price*0.5 %>" max="<%= item.price*2 %>" value="<%= item.price %>">
                    <span class="glyphicon glyphicon-yen range-right"></span>
                  </div>

                  价格
                  <input type="text" value="<%= item.price %>" class="price">
                </div>
              </div>
            </div>
          </li>
          <% end %>
        </ul>

        <ul class="list-group last">
          <li class="list-group-item add-item">
            <div class="desc-value">
              <button class="btn btn-default btn-add">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
            添加商品
          </li>
          <li class="list-group-item">
            <div class="desc-value">
              <%= number_to_currency(@order.total, unit:'￥') %>元
            </div>
            合计
          </li>
        </ul>

        <div class="order-buttons clearfix">
          <div class="btn-wrap left">
            <button class="btn btn-agrees">Ta 未同意</button>
          </div>
         <div class="btn-wrap right">
            <button class="btn btn-disagrees">Ni 同意</button>
          </div>
        </div>
      </div>

      <div class="message-list clearfix">
      </div>
    </div>
  </div>
</div>

<nav class="chat-navbar navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <form class="navbar-form navbar-left" role="search" onsubmit="return false;">
      <button type="submit" class="btn btn-default pull-right btn-send">发送</button>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="输入您要说的话..." name="chat-text">
      </div>
    </form>
  </div>
</nav>

<script type="text/javascript">
  $(function() {
    var ownerId       = "<%= @shop.owner_id %>",
        StatusLoadUrl = window.StatusLoadUrl,
        MiniTable     = window.MiniTable,
        Chat          = window.Chat,
        promotionId   = "<%= @promotion.id %>",
        userSocket    = window.userSocket,
        ownId         = userSocket.userId,
        channelId     = userSocket.getUserChannelId(),
        chatChannelId = 'p' + ownerId,
        $list         = $('.chat-list'),
        MIN_AMOUNT    = 6,
        fromTime;

    Chat.defaultOptions.avatarDefault = '<%= image_path "avatar.gif" %>';

    var $img = $('.chat-order-image')[0];
    var stateLoad = new StatusLoadUrl($img);

    var miniTable = new MiniTable($('.chat-order'), $('.chat-items'));
    var chat = new Chat($('.chat-order'), chatChannelId, {
      sendBtn: $('.btn-send')
    });

    $(document).on('page:before-unload', function() {
      chat.leave();
    });
  });
</script>
