<%= content_for :title, @shop.name %>
<%= nav_back_button %>
<%= content_for :module, :piano %>

<div class="chat-list">
  <div class="chat-order" data-order-id="<%= @order.id %>">
    <div class="chat-image-wrap">
      <%= image_tag @order.avatar_url, class: "chat-order-image", "state-load-url" => status_of_promotion_path(@promotion, @order) %>
    </div>
    <div class="chat-order-title">
      <%= @order.title %>
    </div>
  </div>  
  <div class="chat-inner" >
    <ul class="chat-items list-group" order-id="<%= @order.id%>">
    <ul class="list-group first">
      <li class="list-group-item">
        <div class="desc-value">
          <%= @order.supplier.name %>
        </div>
        卖方
      </li>
      <li class="list-group-item">
        <div class="desc-value">
          <div class="dropdown">
            <span class="toggle-button" data-toggle="dropdown" role="button">
              <span class="button-text">选择收货地址</span>
              <span class="caret"></span>
            </span>

            <ul class="dropdown-menu address-menu">
              <li><a href="javascript:void(0);" class="add-address">新增收货地址</a></li>
            </ul>
          </div>
        </div>
        收货地址
      </li>
      <li class="list-group-item">
      <div class="city-group">
        <%= select(:location, :province, options_for_select(ChinaCity.list), {prompt: '--省份--'}, {class: "city-select"}) %>
        <%= select(:location, :city, [], {prompt: "--城市--"}, { class: "city-select" } ) %>
        <%= select(:location, :region, [], {prompt: "--地区--"}, { class: "city-select" } ) %>
      </div>
      </li>
      <li class="list-group-item">
        <div class="desc-value">
          <div class="dropdown">
            <span class="toggle-button" data-toggle="dropdown" role="button">
              <span class="button-text">支付担保</span>
              <span class="caret"></span>
            </span>

            <ul class="dropdown-menu payment-menu">
              <li class="selected"><a href="javascript:void(0);">支付担保</a></li>
              <li><a href="javascript:void(0);">支付宝支付</a></li>
              <li><a href="javascript:void(0);">快钱支付</a></li>
            </ul>
          </div>
        </div>
        交易方式
      </li>
    </ul>

    <ul class="list-group item-list" order-id="<%= @order.id%>">
    <% @order.items.each do |item| %>
      <li class="list-group-item" item-id= "<%= item.id %>">
        <div class="order-item">
          <div class="order-item-brief">
            <div class="order-item-left">
              <a href="javascript:void(0);">
                <%= image_tag item.image['preview_url'], class: 'item-preview-url' %>
              </a>
            </div>
            <div class="order-item-center">
              <h4><%= item.title %></h4>
              <p>单价: <%= number_to_currency(item.price, unit:'￥') %></p>
            </div>
            <div class="order-item-right">
              <span class="glyphicon glyphicon-trash remove-btn" data-toggle="tooltip" data-placement="bottom" title="删除"></span>
            </div>
          </div>
          <div class="edit-fieldset">
            <div class="order-item-amount edit-item clearfix">
              <div class="desc-value">
                <span class="glyphicon glyphicon-menu-left range-left"></span>
                <input type="range" name="volume" min="6" max="<%= item.data['product_inventory'] %>" value="<%= item.amount.to_i %>">
                <span class="glyphicon glyphicon-menu-right range-right"></span>
              </div>

              数量
              <input type="text" value="<%= number_to_human(item.amount) %>" class="amount">
            </div>
            <div class="order-item-price edit-item clearfix">
              <div class="desc-value">
                <span class="glyphicon glyphicon-yen range-left"></span>
                <input type="range" name="volume" min="<%= item.price*0.5 %>" max="<%= item.price*2 %>" value="<%= item.price %>">
                <span class="glyphicon glyphicon-yen range-right"></span>
              </div>

              价格
              <input type="text" value="<%= item.price %>" class="price">
            </div>
          </div>
        </div>
      </li>
    <% end %>
    </ul>

    <ul class="list-group last">
      <li class="list-group-item add-item">
        <div class="desc-value">
          <button class="btn btn-default btn-add">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
        添加商品
      </li>
      <li class="list-group-item">
        <div class="desc-value">
          <%= number_to_currency(@order.total, unit:'￥') %>元
        </div>
        合计
      </li>
    </ul>
  </div>
</div>

<!--div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">新增收货地址</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div-->

<nav class="chat-navbar navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <form class="navbar-form navbar-left" role="search" onsubmit="return false;">
      <button type="submit" class="btn btn-default pull-right">发送</button>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="输入您要说的话..." name="chat-text">
      </div> 
    </form>
  </div>
</nav>

<script type="text/javascript">
  $(function() {
    var ownerId = "<%= @shop.owner_id %>",
        StatusLoadUrl = window.StatusLoadUrl,
        MiniTable = window.MiniTable,
        promotionId = "<%= @promotion.id %>",
        userSocket = window.userSocket,
        ownId = userSocket.userId,
        channelId = userSocket.getUserChannelId(),
        chatChannelId = 'p' + ownerId,
        $list = $('.chat-list'),
        MIN_AMOUNT = 6,
        fromTime;

    userSocket.offPersonMessage(insertMessage);
    userSocket.onPersonMessage(insertMessage);

    $('[data-toggle="tooltip"]').tooltip();

    userSocket.emit('getChannelMessage', {
      'channelId': chatChannelId,
      'type': 'index',
      'start': 0
    }, function(err, messages) {
      if (err || messages.length === 0) {
        return;
      }

      for(var i=0; i <messages.length; i++) {
        insertMessage(messages[i]);
      }

      if (messages.length < 10) {
        $list.find('.load-more').remove();
      } else {
        fromTime = messages[0].time;
        insertLoadMore();
      }
    });

    function insertMessage (message) {
      var senderId = message.senderId,
          isOwnSend = ownId === senderId,
          content = message.content,
          avatar = message.senderAvatar,
          username = message.senderLogin || '游客',
          toAddClass = isOwnSend ? 'you' : 'me',
          avatar = avatar === '' ? '<%= image_path "avatar.gif" %>' : avatar,
          htmlAry = ['<div class="chat ', toAddClass, '"><img src="', avatar, '">',
            '<h2>', username, '</h2><div class="bubble ', toAddClass, '"><p>',
            content, '</p></div></div>'],
          pathname = window.location.pathname,
          isChatPage = pathname === '/promotions/' + promotionId + '/chat';

      if (isChatPage && (isOwnSend || senderId === ownerId)) {
        $(htmlAry.join('')).appendTo($list);

        resetScroll();
      } else {
        window.noticeCenter.addNotice(senderId, username, message.orderId);
      }
    }

    function insertLoadMore() {
      $('<div class="load-more">查看更多消息</div>')
        .click(function() {
          $(this).hide().parent().prepend('<div class="record-loading"><span class="loading-icon"/>正在加载聊天记录</div>');

          userSocket.emit('getChannelMessage', {
            'channelId': chatChannelId,
            'type': 'time',
            'start': fromTime
          }, function(err, messages) {
            if (err) {
              return;
            }

            $list.find('.record-loading').remove();  

            if (messages.length < 10) {
              $list.find('.more-record').remove();

              if( messages.length === 0) {
                return;
              }
            }

            for(var i=messages.length-1; i>=0; i--) {
              insertMessage(messages[i]);
            }

            $list[0].scrollTop = 0;

            fromTime = messages[0].time;
          });
        }).prependTo($list);
    }

    function resetScroll() {
      var ele = $list[0],
          clientHeight = ele.clientHeight,
          scrollHeight = ele.scrollHeight,
          offset = scrollHeight - clientHeight;
          
      if (offset > 0) {
        ele.scrollTop = offset;
      }
    }

    $('.chat-navbar button').click(function() {
      var $input = $("input[name='chat-text']"),
          text = $.trim($input.val()),
          channelId = 'p' + ownerId;

      $input.val('');

      if (text.length > 0) {
      <% if Settings.debug %>
        insertMessage(text);
      <% else %>
        var socket = window.userSocket;

        socket.publish(channelId, {
          'content': text,
          'promotionId': promotionId,
          'attachs': {}
        });      
      <% end %>        
      }
    });

    // var orderId = $('.chat-order ').data("orderId");
    var $img = $('.chat-order>img:first-child')[0];
    var stateLoad = new StatusLoadUrl($img);
    $(window).on('resize', resetScroll);


    $list.on('click', '.chat-order img', function() {
      $('.chat-inner').toggle();
    }).on('click', '.payment-menu a', function () {
      var $this = $(this),
          $parent = $this.parent(),
          text = $this.text();

      if ($parent.hasClass('selected')) {
        return;
      }

      $parent.addClass('selected').siblings().removeClass('selected');

      $parent.parents('.dropdown:first').find('.button-text').text(text);
    }).on('keyup', '.order-item-amount .amount', function() {
      var $this = $(this),
          amount = $this.val(),
          $parent = $this.parent(),
          $range = $parent.find('input[type=range]'),
          max = $range.attr('max'),
          reg = /^[1-9]\d*$/;

      if (!reg.test(amount)) {
        return;
      }

      if (+amount > +max) {
        alert('库存不足!');
        return;
      }

      $range.val(amount);
    }).on('keyup', '.order-item-price .price', function() {
      var $this = $(this),
          price = $this.val(),
          $parent = $this.parent(),
          $range = $parent.find('input[type=range]'),
          max = $range.attr('max'),
          reg = /^[1-9]\d*(.\d{1,2})?$/;

      if (!reg.test(price)) {
        return;
      }

      if (+price > +max) {
        alert('库存不足!');
        return;
      }

      $range.val(price);
    }).on('change', 'input[type=range]', function() {
      var $this = $(this),
          value = $this.val();

      $this.parents('.edit-item:first').find('input[type=text]').val(value);
    });

    $list.find('.item-list').on('click', function(event) {
      event.stopPropagation();

      var $target = $(event.target);

      if ($target.is('.edit-fieldset') || $target.parents('.edit-fieldset').length > 0) {
        return;
      }

      if ($target.is('.remove-btn')) {
        var $li = $target.parents('li:first'),
            itemId = $li.attr('item-id'),
            orderId = $li.parent().attr('order-id');

        $li.remove();
        //send request to remove item from order
        return;
      } else if ($target.is('img')) {
        return;
      }

      if (!$target.is('li')) {
        $target = $target.parents('li:first');
      }

      $target.toggleClass('open');

      var index = $target.index(),
          $parent = $target.parent(),
          length = $parent.find('li').length;

      if (length === 1) {
        $parent.prev().toggleClass('radius-bottom').end().next().toggleClass('radius-top');

        return;
      }

      if (index === 0) {
        $parent.prev().toggleClass('radius-bottom');
        $target.next().toggleClass('radius-top');
        return;
      }

      if (index === length - 1){
        $parent.next().toggleClass('radius-top');
        $target.prev().toggleClass('radius-bottom')
        return;
      } 
        
      $target.prev().toggleClass('radius-bottom').end().next().toggleClass('radius-top');
    });

    $('.add-address .add-address').click(function() {

      $li.remove();
    });

    var miniTable = new MiniTable($('.chat-order'), $('.chat-items'));
  });
</script>
