<%= content_for :title, @shop.name %>
<%= nav_back_button %>
<%= content_for :module, :piano %>

<div class="chat-list">
  <div class="chat-order" data-order-id="<%= @order.id %>">
    <%= image_tag @order.avatar_url, class: "chat-order-image", "state-load-url" => status_of_promotion_path(@promotion, @order) %>
    <h2><%= @order.title %></h2>
    <%= @order.id %>
  </div>  
  <div class="chat-inner" >
    <ul class="chat-items list-group" order-id="<%= @order.id%>">
    <% @order.items.each do |item| %>
      <li class="list-group-item" item-id= "<%= item.id %>">
        <div class="media">
          <div class="media-left media-middle">
            <a href="javascript:void(0);">
              <%= image_tag item.image['preview_url'], class: 'item-preview-url' %>
            </a>
          </div>
          <div class="media-body media-middle">
            <h4><%= item.title %></h4>
            <p>单价: <%= number_to_currency(item.price, unit:'￥') %></p>
            <p>数量:
              <span class="input-wrap">
                <button class="btn btn-default icon-wrap left" >
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
                <input type="text" value="<%= number_to_human(item.amount) %>" >
                <button class="btn btn-default icon-wrap right">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>

              <span class="inventory">库存: <%= item.data['product_inventory'] %>件</span>
            </p>
          </div>
          <div class="media-right media-middle">
            <span class="glyphicon glyphicon-trash remove-btn" data-toggle="tooltip" data-placement="bottom" title="删除"></span>
          </div>
        </div>
      </li>
    <% end %>
    <% if @order.items.length > 0 %>
      <li class="list-group-item disabled">
        <div class="">
          此订单中共有<%= @order.items.length %>种商品,合计<%= number_to_currency(@order.total, unit:'￥') %>元
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<nav class="chat-navbar navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <form class="navbar-form navbar-left" role="search" onsubmit="return false;">
      <button type="submit" class="btn btn-default pull-right">发送</button>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="输入您要说的话..." name="chat-text">
      </div> 
    </form>
  </div>
</nav>

<script type="text/javascript">
  $(function() {
    var ownerId = "<%= @shop.owner_id %>",
        StatusLoadUrl = window.StatusLoadUrl,
        MiniTable = window.MiniTable,
        promotionId = "<%= @promotion.id %>",
        userSocket = window.userSocket,
        ownId = userSocket.userId,
        channelId = userSocket.getUserChannelId(),
        chatChannelId = 'p' + ownerId,
        $list = $('.chat-list'),
        MIN_AMOUNT = 6,
        fromTime;

    userSocket.offPersonMessage(insertMessage);
    userSocket.onPersonMessage(insertMessage);

    $('[data-toggle="tooltip"]').tooltip();

    userSocket.emit('getChannelMessage', {
      'channelId': chatChannelId,
      'type': 'index',
      'start': 0
    }, function(err, messages) {
      if (err || messages.length === 0) {
        return;
      }

      for(var i=0; i <messages.length; i++) {
        insertMessage(messages[i]);
      }

      if (messages.length < 10) {
        $list.find('.load-more').remove();
      } else {
        fromTime = messages[0].time;
        insertLoadMore();
      }
    });


    function insertMessage (message) {
      var senderId = message.senderId,
          isOwnSend = ownId === senderId,
          content = message.content,
          avatar = message.senderAvatar,
          username = message.senderLogin || '游客',
          toAddClass = isOwnSend ? 'you' : 'me',
          avatar = avatar === '' ? '<%= image_path "avatar.gif" %>' : avatar,
          htmlAry = ['<div class="chat ', toAddClass, '"><img src="', avatar, '">',
            '<h2>', username, '</h2><div class="bubble ', toAddClass, '"><p>',
            content, '</p></div></div>'],
          pathname = window.location.pathname,
          isChatPage = pathname === '/promotions/' + promotionId + '/chat';

      if (isChatPage && (isOwnSend || senderId === ownerId)) {
        $(htmlAry.join('')).appendTo($list);

        resetScroll();
      } else {
        window.noticeCenter.addNotice(senderId, username, message.orderId);
      }
    }

    function insertLoadMore() {
      $('<div class="load-more">查看更多消息</div>')
        .click(function() {
          $(this).hide().parent().prepend('<div class="record-loading"><span class="loading-icon"/>正在加载聊天记录</div>');

          userSocket.emit('getChannelMessage', {
            'channelId': chatChannelId,
            'type': 'time',
            'start': fromTime
          }, function(err, messages) {
            if (err) {
              return;
            }

            $list.find('.record-loading').remove();  

            if (messages.length < 10) {
              $list.find('.more-record').remove();

              if( messages.length === 0) {
                return;
              }
            }

            for(var i=messages.length-1; i>=0; i--) {
              insertMessage(messages[i]);
            }

            $list[0].scrollTop = 0;

            fromTime = messages[0].time;
          });
        }).prependTo($list);
    }

    function resetScroll() {
      var ele = $list[0],
          clientHeight = ele.clientHeight,
          scrollHeight = ele.scrollHeight,
          offset = scrollHeight - clientHeight;
          
      if (offset > 0) {
        ele.scrollTop = offset;
      }
    }

    $('.chat-navbar button').click(function() {
      var $input = $("input[name='chat-text']"),
          text = $.trim($input.val()),
          channelId = 'p' + ownerId;

      $input.val('');

      if (text.length > 0) {
      <% if Settings.debug %>
        insertMessage(text);
      <% else %>
        var socket = window.userSocket;

        socket.publish(channelId, {
          'content': text,
          'promotionId': promotionId,
          'attachs': {}
        });      
      <% end %>        
      }
    });

    // var orderId = $('.chat-order ').data("orderId");
    var $img = $('.chat-order>img:first-child')[0];
    var stateLoad = new StatusLoadUrl($img);
    $(window).on('resize', resetScroll);

    $list.on('click', '.icon-wrap.left', function() {
      var $this = $(this),
          $li = $this.parents('li:first'),
          itemId = $li.attr('item-id'),
          orderId = $li.parent().attr('order-id'),
          $input = $this.siblings('input:first'),
          amount = $.trim($input.val());

      if (isNaN(amount) || +amount <= MIN_AMOUNT) {
        return;
      }

      amount = +amount - 1;

      $input.val(amount);

      //send request to modify item amount
    }).on('click', '.icon-wrap.right', function() {
      var $this = $(this),
          $li = $this.parents('li:first'),
          itemId = $li.attr('item-id'),
          orderId = $li.parent().attr('order-id'),
          $input = $this.siblings('input:first'),
          amount = $.trim($input.val());

      if (isNaN(amount)) {
        return;
      }

      amount = +amount + 1;

      $input.val(amount);
      //check whether amount+1 is greater than inventory
    }).on('click', '.remove-btn', function() {
      var $this = $(this),
          $li = $this.parents('li:first'),
          itemId = $li.attr('item-id'),
          orderId = $li.parent().attr('order-id');

      $li.remove();
      //send request to remove item from order
    });

    var miniTable = new MiniTable($('.chat-order'), $('.chat-items'));
  });
</script>
