<div class="panel panel-default edit-industry-base">
  <% url = @industry.persisted? ? admins_industry_path(@industry) : admins_industries_path %>
  <%= form_for @industry, url: url do |f| %>

  <div class="panel-body">

    <div class="form-group">
      <%= f.label :image_url, "行业 Logo" %>
      <%= f.upload_field :image %>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', focus: true %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :category, '分类节点' %>
        <% category_select_option =
            options_from_collection_for_select(@industry.category.nil? ? [ ] :[ @industry.category ] , 'id', 'title')
        %>
      <%= select2_url :industry, :category_id, categories_admins_industries_path, category_select_option , {}, class: 'form-control', style: 'width: 100%' %>
      <%#= f.select :description, class: 'form-control', rows: 5 %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.bootsy_area :description, class: 'form-control', rows: 5 %>
    </div>





  </div>
  <div class="panel-footer">
    <%= f.submit :save, class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>

