<div class="panel panel-default edit-industry-base">
  <% url = @industry.persisted? ? admins_industry_path(@industry) : admins_industries_path %>
  <%= form_for @industry, url: url do |f| %>

  <div class="panel-body">

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', focus: true %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', focus: true %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', focus: true %>
    </div>

  </div>
  <div class="panel-footer">
    <%= f.submit :save, class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>

