<h1 class="page-header template-page-header">
  编辑行业
  <small><%= @industry.title %></small>
  <div class="industry-toggle">
    <label class="toggle-box">
      <%= check_box_tag :status, 'status', @industry.open?, class: 'toggle-checkbox'%>
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>
</h1>

<%= render "form" %>

<div class="panel panel-default">
  <div class="panel-heading">品牌汇集</div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">分类</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 category-left">
        <div class="list-group category-tree">
          <%= render partial: 'category_item', collection: @categories %>
        </div>
      </div>
      <div class="col-sm-6 category-right">
        <div class="panel panel-default category-edit">
          <div class="panel-body">
            <form>
              <div class="form-group">
                <label for="exampleInputPassword1">标题</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="标题">
              </div>
            </form>
            <h4>上级属性</h4>
              <!-- TODO: -->
              <%= select_tag "up_property", options_from_collection_for_select(Category.all, "id", "title") %>
            <h4>属性列表
              <div class="btn-group pull-right add-property" role="toolbar" aria-label="...">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <%= icon :plus%>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class='no-selected' >
                      <input type="text" name="q_cate" class="form-control" />
                    </li>
                    <% @properties.each do |property| %>
                      <li><a href="#"><%= property.title %></a> <span class="actions"></span></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </h4>
            <ul class="list-group">
              <% @properties.each do |property| %>
                <li class="list-group-item"><%= property.title %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var CategoryTree = window.CategoryTree;
  var industryUrl = "<%= admins_industry_path(@industry) %>";
  var cateTree = new CategoryTree($('.category-tree'), industryUrl);
</script>
