<div class='delivery-addresses panel panel-default'>
  <div class="panel-heading">
    <%= link_to "管理收货地址", locations_path, class: 'pull-right manage-locations' %>
    收货地址
  </div>

  <div class="panel-body">
    <div class="address-container clearfix">
      <% delivery_addresses.each_with_index do |addr, index| %>
        <div class="col-xs-6 col-sm-3">
          <div class="delivery-address" data-address-id="<%= addr.id %>">
            <div class="address-header">
              <b><%= addr.province_name %>&emsp;<%= addr.city_name %></b>&emsp;(
              <%= addr.contact %>&nbsp;收)
            </div>
            <div class="address-body">
              <p class="detail-address">
                <%= addr.province_name %>&nbsp;<%= addr.city_name %>&nbsp;<%= addr.region_name%>
                &nbsp;<%= addr.road %>
              </p>
              <p>
                <% if addr.zipcode.blank? %>
                  (未填写邮编)
                <% else %>
                  <%= addr.zipcode %>
                <% end %>
                &nbsp;<%= addr.contact_phone%>
              </p>
            </div>

            <% if addr.is_default? %>
              <div class="default-address">
                <span class="default-tip">默认地址</span>
                <span class="default-icon"><%= icon :ok %></span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% unless current_user.reach_location_limit? %>
      <%= link_to 'javascript: void(0)', class: 'add-another-location' do %>
        <%= icon :plus %>新增地址
      <% end %>
    <% end %>

    <div class='add-new-location'>
      <%= render 'order_address_new', locals: { location: current_user.locations.build } %>
    </div>
  </div>
</div>

<script type="text/template" id='delivery-address'>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="delivery-address" data-address-id={{= address.id }}>
      <div class="address-header">
        {{= address.province_name }}&emsp;{{= address.city_name }}&emsp;(
        {{= address.contact }}&nbsp;收)
      </div>
      <div class="address-body">
        <p class="detail-address">
          {{= address.province_name }}&nbsp;{{= address.city_name }}&nbsp;{{= address.region_name }}
          &nbsp;{{= address.road }}
        </p>
        <p>
          {{= address.zipcode || '(未填写邮编)' }}
          &nbsp;
          {{= address.contact_phone }}
        </p>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">
  var addTemplate = _.template($('#delivery-address').html());

  $('form.new_location').submit(function (event) {
    event.preventDefault();
    var data = $(this).serializeArray();

    var q = $.post('/locations', data);

    q.done(function (data, status, xhr) {
      $('.add-new-location [property-name]').removeClass('has-error');

      if (data.errors) {
        for (var key in data.errors) {
          var sel = ['.add-new-location [property-name=', key, ']'].join('')
          $(sel).addClass('has-error');

          if (key === 'province_id' || key === 'region_id' || key === 'city_id') {
            $('.add-new-location .address-label').addClass('has-error');
          }
        }
      } else {
        var html = addTemplate({ address: data });
        $('.address-container').append(html);

        if (!$('.delivery-address.active').length) {
          $($('.delivery-address')[0]).addClass('active');
          $($('.delivery-address')[0]).click();
        }

        $('div.add-new-location form')[0].reset();

        // 地址数量达到上限
        if (data.reach_user_limit) {
          $('.add-another-location').remove();
          $('.add-new-location').remove();
        }
      }
    });

    // q.fail(function (data, status, xhr) {
    //   $('.add-new-location').html(data.responseText);
    //   $('.add-new-location .city-group').china_city();
    // })
  });

  $('a.add-another-location').click(function (event) {
    $('.add-new-location').slideToggle();
  });

  $('.delivery-addresses').on('click', '.delivery-address', function(event) {
    var $address = $(this).is('.delivery-address') ? $(this) : $(this).parents.find('.delivery-address');
    $('.delivery-addresses .delivery-address').removeClass('active');
    $address.addClass('active');

    var addressId = $(this).data('addressId');
    $('input#order_address_id').val(addressId);
  });
</script>
