<div class='delivery-addresses panel panel-default'>
  <div class="panel-heading">
    <%= link_to "管理收货地址", locations_path, class: 'pull-right manage-locations' %>
    收货地址
  </div>

  <div class="panel-body">
    <div class="address-container">
      <% delivery_addresses.each_with_index do |addr, index| %>
        <div class="col-xs-6 col-sm-4 col-md-3 delivery-address" data-address-id="<%= addr.id %>">
          <div class="address-header">
            <%= addr.province_name %>&emsp;<%= addr.city_name %>&emsp;(
            <%= addr.contact %>&nbsp;收)
          </div>
          <div class="address-body">
            <p>
              <%= addr.province_name %>&emsp;<%= addr.city_name %>&emsp;<%= addr.region_name%>
              &emsp;<%= addr.address %>
            </p>
            <p>
              <%= addr.zip_code%>&emsp;<%= addr.contact_phone%>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <% unless current_user.reach_location_limit? %>
      <%= link_to "新增地址", 'javascript: void(0)', class: 'add-another-location' %>
    <% end %>

    <div class='add-new-location' style='display: <%= delivery_addresses.present? ? "none" : "block" %>'>
      <%= render 'locations/form', locals: { location: current_user.locations.build } %>
    </div>
  </div>
</div>

<script type="text/template" id='delivery-address'>
  <div class="col-xs-6 col-sm-4 col-md-3 delivery-address" data-address-id={{= address.id }}>
    <div class="address-header">
      {{= addr.province_name }}&emsp;{{= addr.city_name }}&emsp;(
      {{= addr.contact }}&nbsp;收)
    </div>
    <div class="address-body">
      <p>
        {{= addr.province_name }}&emsp;{{= addr.city_name %>}}&emsp;{{= addr.region_name }}
        &emsp;<%= addr.address }}
      </p>
      <p>
        {{= addr.zip_code %}}&emsp;{{= addr.contact_phone }}
      </p>
    </div>
  </div>
</script>

<script type="text/javascript">
  var addTemplate = _.template($('#delivery-address').html());

  $('form.new_location').submit(function (event) {
    event.preventDefault();
    var data = $(this).serializeArray();

    var q = $.post('/locations', data);

    q.done(function (data, status, xhr) {
      var html = addTemplate({ address: data });
      $('div.empty-notify').parent().text('选择收货地址');
      $('div.empty-notify').remove();

      $('div.divider').show();
      $('div.divider + a').show();

      $('div.divider').before(html);
      $('div.add-new-location').hide();

      if (!$('.delivery-address.active').length) {
        $($('.delivery-address')[0]).addClass('active');
        $($('.delivery-address')[0]).click();
      }

      $('.add-another-location').show();

      $('div.add-new-location form')[0].reset();

      // 地址数量达到上限
      if (data.reach_user_limit) {
        $('.add-another-location').remove();
        $('.reach-limit').show();
      }
    });

    q.fail(function (data, status, xhr) {
      $('.add-new-location').html(data.responseText);
      $('.add-new-location .city-group').china_city();
    })
  });

  $('a.add-another-location').click(function (event) {
    $('div.add-new-location').toggle();
  });

  $('.delivery-addresses').on('click', '.delivery-address', function(event) {
    var $address = $(this).is('.delivery-address') ? $(this) : $(this).parents.find('.delivery-address');
    $('.delivery-addresses .delivery-address').removeClass('active');
    $address.addClass('active');

    var addressId = $(this).data('addressId');
    $('input#order_address_id').val(addressId);
  });
</script>
