<div class='delivery-addresses panel panel-default'>
  <% if delivery_addresses.present? %>
    <div class="panel-heading">
      选择收货地址
    </div>
    <% delivery_addresses.each_with_index do |address, index| %>
      <div class='delivery-address <%= "active" if order.address_id == address.id %>' data-address-id=<%= address.id %>>
        <div class='title'>
          <%= address.contact %>
        </div>
        <div class='detail'>
          <%= address.delivery_address %>
        </div>
      </div>
    <% end %>

    <div class='divider' style='clear: both'></div>

    <% if current_user.reach_location_limit? %>
      <span class='reach-limit'>地址数量已达上限，请选择地址</span>
      <%= link_to "管理收货地址", locations_path, class: 'pull-right manage-locations' %>
    <% else %>
      <span class='reach-limit' style='display: none;'>地址数量已达上限，请选择地址</span>
      <%= link_to 'javascript: void(0)', class: 'add-another-location pull-left' do %>
        <span class='glyphicon glyphicon-plus'></span>添加一个新的收货地址
      <% end %>
      <%= link_to "管理收货地址", locations_path, class: 'pull-right manage-locations' %>
    <% end %>

    <div style='clear: both;'></div>
  <% else %>
    <div class="panel-heading">
      <div class='empty-notify'>你还没有收货地址，现在创建一个吧</div>
    </div>

    <div class='divider' style='clear: both; display: none;'></div>

    <span class='reach-limit' style='display: none;'>地址数量已达上限，请选择地址</span>

    <%= link_to 'javascript: void(0)', class: 'add-another-location pull-left', style: 'display: none;' do %>
      <span class='glyphicon glyphicon-plus'></span>添加一个新的收货地址
    <% end %>

    <%= link_to "管理收货地址", locations_path, class: 'pull-right manage-locations' %>

    <div style='clear: both;'></div>
  <% end %>

  <div class='add-new-location' style='display: <%= delivery_addresses.present? ? "none" : "block" %>'>
    <%= render 'locations/form', locals: { location: current_user.locations.build } %>
  </div>
</div>

<script type="text/template" id='delivery-address'>
  <div class='delivery-address' data-address-id={{= address.id }}>
    <div class='title'>
      {{= address.contact }}
    </div>
    <div class='detail'>
      {{= address.delivery_address }}
    </div>
  </div>
</script>

<script type="text/javascript">
  var addTemplate = _.template($('#delivery-address').html());

  $('form.new_location').submit(function (event) {
    event.preventDefault();
    var data = $(this).serializeArray();

    var q = $.post('/locations', data);
    
    q.done(function (data, status, xhr) {
      var html = addTemplate({ address: data });
      $('div.empty-notify').parent().text('选择收货地址');
      $('div.empty-notify').remove();

      $('div.divider').show();
      $('div.divider + a').show();

      $('div.divider').before(html);
      $('div.add-new-location').hide();

      if (!$('.delivery-address.active').length) {
        $($('.delivery-address')[0]).addClass('active');
        $($('.delivery-address')[0]).click();
      }

      $('.add-another-location').show();

      $('div.add-new-location form')[0].reset();

      // 地址数量达到上限
      if (data.reach_user_limit) {
        $('.add-another-location').remove();
        $('.reach-limit').show();
      }
    });

    q.fail(function (data, status, xhr) {
      $('.add-new-location').html(data.responseText);
      $('.add-new-location .city-group').china_city();
    })
  });

  $('a.add-another-location').click(function (event) {
    $('div.add-new-location').toggle();
  });

  $('.delivery-addresses').on('click', '.delivery-address', function(event) {
    var $address = $(this).is('.delivery-address') ? $(this) : $(this).parents.find('.delivery-address');
    $('.delivery-addresses .delivery-address').removeClass('active');
    $address.addClass('active');

    var addressId = $(this).data('addressId');
    $('input#order_address_id').val(addressId);
  });
</script>