<li class='list-group-item'>
  <div class="location_detail clearfix">
    <div class='contact col-xs-6 col-sm-6 col-md-1'>
      <%= location.contact %>
    </div>
    <div class='area col-xs-6 col-sm-6 col-md-6'>
      <%= "#{location.province_name}#{location.city_name}#{location.region_name}#{location.road}" %>
    </div>
    <div class='zipcode col-xs-6 col-sm-6 col-md-1'>
      <%= location.zipcode %>
    </div>
    <div class='phone col-xs-6 col-sm-6 col-md-1'>
      <%= location.contact_phone %>
    </div>
    <div class='operations col-xs-6 col-sm-6 col-md-2 text-center'>
      <%= link_to "修改", edit_location_path(location), remote: true %> |
      <%= link_to "删除", location_path(location), method: :delete, data: { confirm: "确定删除这个收件人地址么？" } %>
    </div>
    <div class="settings col-xs-6 col-sm-6 col-md-1">
      <% if location.is_default? %>
        <span class="btn btn-default is-default">默认地址</span>
      <% else %>
        <%= link_to "设为默认", user_default_address_locations_path(location_id: location), method: :put, data: { confirm: "设置为默认地址？" }, class: 'btn btn-default set-default' %>
      <% end %>
    </div>
  </div>
  <div class="location-edit-zone new_location" edit-location-id="<%= location.id %>"></div>
</li>
