<h1 class="page-header"><%= @parent.model_name.human %> &middot; <%= @parent.title || @parent.name %> <small>模版管理</small></h1>

<%= nav do %>
  <% @templates.each do |template| %>
    <%= link_to "##{template.name}", data: {toggle: "tab"}, role: "tab", 'aria-label' => template.name do %>
      <%= best_in_place template, :name, url: url_for, inner_class: 'form-control input-sm' %>
    <% end %>
  <% end %>
<% end %>


<!-- Tab panes -->
<div class="tab-content">
  <%= render partial: "template", collection: @templates, locals: { parents: @parents } %>

</div>
<script type="text/javascript">
  $(".best_in_place").best_in_place();
</script>
