<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=1, user-scalable=no" >
    <title><%= content_for?(:title) ? yield(:title) : Settings.app.title %></title>
    <%= csrf_meta_tags %>

    <%= display_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <%= analytics_init if Rails.env.production? %>

    <!--[if lt IE 9]>
      <style type="text/css">
        .container {
          width: 960px;
        }
        .navbar-brand {
           height: 45px;
        }

        .navbar-toggle {
          display: none;
        }
        .navbar-collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        .navbar-left {
          float: left !important;
        }

        .navbar-right {
          float: right !important;
          margin-right: -15px;
        }

        .navbar-nav > li {
          float: left;
        }

        .col-xs-6, .col-sm-3 {
          width: 25%;
        }

        body {
          padding-top: 80px;
        }

        .ie-warning {
          display: block;
        }

      </style>
    <![endif]-->
  </head>
  <body class="<%= yield :module %>">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav ie-warning bg-warning">
          你的浏览器已经太过落伍，请使用最新的浏览器
        </ul>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav navbar-left">
          <%= yield :back %>
          <li>
            <%= link_to root_path, class: "navbar-brand" do %>
              <%= content_for?(:title) ? yield(:title) : Settings.app.title %>
            <% end %>
          </li>
        </ul>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "关于我们", about_path  %></li>
            <% if Settings.dev.feature.qrcode %>
            <li><%= link_to "二维码", "#share-url-qrcode" , "data-toggle"=>"modal" %></li>
            <% end %>
            <% if Settings.dev.feature.favorites %>
            <li><%= link_to "我的收藏", "/favorites" %></li>
            <% end %>
            <% if Settings.dev.feature.linkmen %>
            <li><%= link_to "最近联系人", "/chats" %></li>
            <% end %>
            <% if Settings.dev.feature.user.sign_in %>
            <% if current_anonymous_or_user.id < 0 %>
            <li><%= link_to "登入 #{current_anonymous_or_user.id if Rails.env.development?}", new_user_session_path %></li>
            <% else %>
            <li class="dropdown">
              <%= user_avatar(current_anonymous_or_user, 'data-toggle' => 'dropdown', 'role' => "button" ) %>
 <!--            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a> -->
              <ul class="dropdown-menu">
                <li><%= link_to '我的主页', user_profile_path(current_user) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to '登出', destroy_user_session_path, method: :delete %>
              </ul>
            </li>
            <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="chat-notices"></div>

    <div class="container">
      <div class="row">
        <%= bootstrap_flash %>
        <%= yield %>
      </div><!--/row-->

      <footer>
        <div class="container">
          <span class="page-loading pull-right"></span>
          <p><%= raw Settings.app.footer %> <%= 'ver ' + PianoServer::VERSION unless Rails.env.production? %></p>
        </div>
      </footer>
      <%= render "qrcode" %>
      <div class="linkmen-overlayer"></div>
    </div> <!-- /container -->

    <script type="text/javascript">
      var inChats = {};

      if (!window._notificationInited) {
        window._notificationInited = true;

        userSocket.emit('unreadCount', {}, function(err, unreadCounts) {
          if (err) {
            return;
          }

          for(var channelId in unreadCounts) {
            var unreadCount = unreadCounts[channelId],
                count = unreadCount.count,
                senderId = unreadCount.user_id,
                username = unreadCount.realname;

            window.noticeCenter.addNotice(senderId, username, count);
          }
        });

        $(document).unbind('inchats:enter').bind('inchats:enter', function(e, channelId) {
          inChats[channelId] = true;
        });

        $(document).unbind('inchats:leave').bind('inchats:leave', function(e, channelId) {
          delete inChats[channelId];
        });

        userSocket.onPersonMessage(function(message) {
          var channelId = message.channelId,
              senderId = message.senderId,
              type = message.type,
              senderLogin = message.senderLogin,
              ownChannelId = window.userSocket.getUserChannelId(),
              chatChannelId = 'p' + senderId;

          if ((chatChannelId !== ownChannelId) && type !== 'command' && !inChats[channelId]) {
            window.noticeCenter.addNotice(senderId, senderLogin, 1);
          }
        });
      }
    </script>
    <script type="text/javascript">
      <% unless Rails.env.production? %>
        console.log('development version: <%= PianoServer::VERSION %>')
      <% end %>
    </script>
  </body>
</html>
