<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=1, user-scalable=no" >
    <%= csrf_meta_tags %>

    <%= display_meta_tags site: Settings.app.name, separator: '-', reverse: true %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "shop_admin", :media => "all", 'data-turbolinks-track' => true %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "admins" %>

    <%= analytics_init if Rails.env.production? and Settings.GA.track %>
    <%= render "user_socket" %>
    <%= render "chat_notification" %>
  </head>
  <body class="<%= yield :module %>">
    <div class="chat-notices"></div>
    <div class="fixed-height-container">
      <div class="content-container">
        <div class="menu-container"></div>
        <div class="navbar navbar-default navbar-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle visible-xs-block" data-menu-name="shop-admin">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <ul class="nav navbar-left">
                <%= yield :back %>
                <li>
                  <%= link_to root_path, class: "navbar-brand" do %>
                    <%= image_tag 'logo.png' %>
                    <%= content_for?(:navbar) ? yield(:nabvar) : @shop.title %>
                  <% end %>
                </li>
                <li>
                  <%= link_to content_for(:navbar_link), class: "navbar-brand navbar-title" do %>
                    <%= content_for?(:navbar) ? yield(:navbar) : Settings.app.title %>
                  <% end %>
                </li>
              </ul>
              <div class="navbar-collapse collapse navbar-responsive-collapse hidden-xs">
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "关于我们", about_path  %></li>
                  <li><%= link_to "二维码", "#share-url-qrcode" , "data-toggle"=>"modal" %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-container">
          <div class="container">
            <%= render "left_sidebar" %>

            <div class="shop-admin-container">
              <div class="container-fluid ">
                <div class="row">
                  <%= bootstrap_flash %>
                  <%= yield %>
                </div><!--/row-->
              </div>
            </div>
          </div> <!-- /container -->
          <%= render "footer" %>
        </div>
      </div>
    </div>

    <%= render "qrcode" %>
    <%#= render "shards/ajax_error" %>

    <%= render "shop_admin/sidebar_menu" %>
    <script type="text/javascript">
      <% unless Rails.env.production? %>
        console.log('development version: <%= PianoServer::VERSION %>')
      <% end %>
    </script>
  </body>
</html>
